<!--begin::Header-->
<% breadcrumbs_navigation_add (t('role.title.list')), kodawarione_admin_roles_path %>
<% breadcrumbs_navigation_add (t ('role.title.information')), '#' %>
<%= render_partner_breadcrumbs_navigation(t ('role.title.information')) %>		
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Container-->
	<div class="container-fluid" id="kt_content_container">
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div id="kt_project_users_card_pane" class="tab-pane fade show active">
        <%= form_with(model: kodawarione_admin_role) do |form| %>
            <!--begin::Card body-->
            <div class="card-body bg-body">
              <!--begin::Wrapper-->
              <div class="d-flex flex-column align-items-start flex-xxl-row">
                <!--begin::Input group-->
                <div class="d-flex flex-center flex-equal fw-row text-nowrap order-1 order-xxl-2 me-4">
                  <span class="fs-2x fw-bolder text-gray-800"><%= t('role.title.information') %></span>
                </div>
                <!--end::Input group-->
              </div>
              <!--end::Top-->
              <!--begin::Separator-->
              <div class="separator separator-dashed my-10"></div>
              <!--end::Separator-->
              <!--begin::Wrapper-->
              <div class="mb-0">
                <!--begin::Row-->
                <div class="row form-group gx-10 mb-5">
                    <div class="col-12 col-sm-12 col-md-5  col-lg-5 col-xl-5 text-left text-sm-left text-md-end text-lg-end text-xl-end col-form-label font-weight-bold pr-0" >
                      <%= form.label :role_type, class: "form-label fs-6 fw-bold text-gray-700" %><span class="ms-1 text-danger">*</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                      <%= form.text_field :role_type, id: "role_type", class: "form-control form-control-solid", maxlength: 255 %>
                      <p class="text-danger font-size-sm ms-invalid-feedback mt-1"><%= kodawarione_admin_role.errors.full_messages_for(:role_type)[0] %></p> 
                    </div>
                </div>
                <!--end::Row--> 
                <!--begin::Row-->
                <div class="row form-group gx-10 mb-5">
                    <div class="col-12 col-sm-12 col-md-5  col-lg-5 col-xl-5 text-left text-sm-left text-md-end text-lg-end text-xl-end col-form-label font-weight-bold pr-0" >
                      <%= form.label :delete_flg, class: "form-check-label fs-6 fw-bold text-gray-700" %><span class="ms-1 text-danger">*</span>
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                      <div class="form-check form-check-custom form-check-solid form-check-inline mt-3"> 
                        <%= form.check_box :delete_flg, class: "form-check-input"  %>                              
                      </div> 
                      <p class="text-danger font-size-sm ms-invalid-feedback mt-1"><%= kodawarione_admin_role.errors.full_messages_for(:role_type)[0] %></p> 
                    </div>
                </div>
                <!--end::Row--> 
              </div>
              <!--end::Wrapper-->
            </div>
            <!--end::Card body-->
            <!--begin::Card footer-->
            <div class="card-footer d-flex justify-content-center py-6 px-9">
                <%= link_to t('role.title.return'), kodawarione_admin_roles_path, class: "btn btn-light btn-active-light-primary me-2" %>
                <%= form.submit t('btn.submit'), class: "btn btn-primary" %>
            </div>
            <!--end::Card footer-->
        <% end %>
      </div>
    </div>
  </div>
</div>