<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Toolbar-->
	<div class="toolbar py-5 py-lg-5" id="kt_toolbar">
		<!--begin::Container-->
		<div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
			<!--begin::Page title-->
			<% breadcrumbs_navigation_add (t('common.communication_dashboard_title')), '#' %>
            <%= render_student_breadcrumbs_navigation(t('common.communication_dashboard_title')) %>    
			<!--end::Page title-->
		</div>
		<!--end::Container-->
	</div>    
	<!--begin::Container-->
	<div class="container-xxl" id="kt_content_container">
		<!--begin::Inbox App - View & Reply -->
		<div class="d-flex flex-column flex-lg-row"> 
			<!--begin::Content-->
			<div class="flex-lg-row-fluid">
				<!--begin::Card-->
				<div class="card bg-body ">                                  
					<div class="card-header align-items-center py-5 gap-5">
						<!--begin::Actions-->
						<div class="d-flex"> 
							<h2><%= t ('common.communication_dashboard_title') %></h2>
						</div>
						<!--end::Actions--> 
					</div>                                    
					<div class="card-body">
						<!--begin::Title-->
						<div class="d-flex flex-wrap gap-2 justify-content-between mb-8">
							<div class="d-flex align-items-center flex-wrap gap-2">
								<!--begin::Heading-->
								<h2 class="fw-bold me-3 my-1">【<%= t("communication.title.#{@communication_communication.category.capitalize()}") %>】</h2>
								<!--begin::Heading--> 
							</div> 
						</div>
						<!--end::Title-->
						<!--begin::Message accordion-->
						<div  data-bs-toggle="collapse"  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="cursor-pointer toggle-on">   
							<div data-kt-inbox-message="message_wrapper">
								<!--begin::Message header-->
								<div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer" data-kt-inbox-message="header">
									<!--begin::Author-->
									<div class="d-flex align-items-center">
										<!--begin::Avatar-->
										<div class="symbol symbol-light-primary symbol-50 me-4 ms-5">
                      						<span class="symbol-label font-weight-bolder"><i class="flaticon-users-1 text-primary"></i></span>
                    					</div>
										<!--end::Avatar-->
										<div class="pe-5">
											<!--begin::Author details-->
											<div class="d-flex align-items-center flex-wrap gap-1">
												<a href="#" class="fw-bolder text-dark text-hover-primary">
												<%= get_sender_detail_info(@communication_communication.company_user_id, @communication_communication.user_id, @communication_communication.company_id, @communication_communication.mail_type,@communication_communication.sent_type)["name"]%></a>
												<!--begin::Svg Icon | path: icons/duotune/abstract/abs050.svg-->
												<span class="svg-icon svg-icon-7 svg-icon-success mx-3">
													<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
														<circle fill="currentColor" cx="12" cy="12" r="8"></circle>
													</svg>
												</span>
												<!--end::Svg Icon-->
												<span class="text-muted fw-bolder"><%=  time_date(@communication_communication.created_at) %></span>
											</div>
											<!--end::Author details-->
											<!--begin::Message details-->
											<div data-kt-inbox-message="details" class="">
												<span class="text-muted fw-bold">
													<%=" <"+ get_sender_detail_info(@communication_communication.company_user_id, @communication_communication.user_id , @communication_communication.company_id, @communication_communication.mail_type,@communication_communication.sent_type)["email"] +"> "%>
												</span>
												<!--begin::Menu toggle-->
												<a href="#" class="me-1" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">
													<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
													<span class="svg-icon svg-icon-5 m-0">
														<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
															<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
														</svg>
													</span>
													<!--end::Svg Icon-->
												</a>
												<!--end::Menu toggle-->
												<!--begin::Menu-->
												<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-300px p-4" data-kt-menu="true">
													<!--begin::Table-->
													<table class="table mb-0">
														<tbody>
															<!--begin::From-->
															<tr>
																<td class="w-75px text-muted">From</td>
																<td> 
																 email
																 <%=" <"+ get_sender_detail_info(@communication_communication.company_user_id, @communication_communication.user_id , @communication_communication.company_id, @communication_communication.mail_type,@communication_communication.sent_type)["email"] +"> "%></td>
																</tr>
																<!--end::From-->
																<!--begin::Date-->
																<tr>
																	<td class="text-muted">Date</td>
																	<td><%= @communication_communication.created_at.strftime("%Y年%m月%d日 (%I:%M %p)") %></td>
																</tr>
																<!--end::Date-->
																<!--begin::Subject-->
																<tr>
																	<td class="text-muted">Subject</td>
																	<td>【<%= t("communication.title.#{@communication_communication.category}") %>】<%= @communication_communication.title %></td>
																</tr>
																<!--end::Subject--> 
														</tbody>
													</table>
													<!--end::Table-->
												</div>
												<!--end::Menu-->
											</div>
											<!--end::Message details-->
											<!--begin::Preview message-->
											<div class="text-muted fw-bold mw-450px d-none" data-kt-inbox-message="preview"></div>
											<!--end::Preview message-->
										</div>
									</div>
									<!--end::Author-->
									<!--begin::Actions-->
									<div class="d-flex align-items-center flex-wrap gap-2">
										<!--begin::Date-->
										<span class="fw-bold text-muted text-end me-3"><%= @communication_communication.created_at.strftime("%Y年%m月%d日 (%I:%M %p)") %></span>
										<!--end::Date-->
										<div class="d-flex"> 
											<!--begin::Settings-->
											<a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Settings">
												<!--begin::Svg Icon | path: icons/duotune/general/gen053.svg-->
												<span class="svg-icon svg-icon-2 m-0">
													<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
														<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"></rect>
														<rect x="10" y="3" width="4" height="4" rx="2" fill="currentColor"></rect>
														<rect x="10" y="17" width="4" height="4" rx="2" fill="currentColor"></rect>
													</svg>
												</span>
												<!--end::Svg Icon-->
											</a>
											<!--end::Settings-->
										</div>
									</div>
									<!--end::Actions-->
								</div>
							<!--end::Message header-->
						</div>
						<!--begin::Message content-->
						<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion"> 
							<div class="py-5 ms-5">
								<p> 
									<%= get_sender_detail_info(@communication_communication.company_user_id , @communication_communication.user_id , @communication_communication.company_id, @communication_communication.mail_type,@communication_communication.sent_type)["name"]+" <"+get_sender_detail_info(@communication_communication.company_user_id, @communication_communication.user_id,  @communication_communication.company_id, @communication_communication.mail_type,@communication_communication.sent_type)["email"]+">" %>
								</p>
								<span class="badge badge-light-<%= @communication_communication.scout_status == 'accept' ? 'primary mt-1 mb-3' : @communication_communication.scout_status == 'denied' ? 'danger mt-1 mb-3' : 'd-none' %>">
									<%= @communication_communication.scout_status == 'accept' ? t('communication.scout.accept') : t('communication.scout.denied') %>
								</span> 
								<p><%= @communication_communication.title %></p>
								<p><%= t("communication.title.#{@communication_communication.category.capitalize()}") %></p> 
								<p><%= @communication_communication.content %></p> 
							</div>
						</div>
						<!--end::Message content-->
					</div>
					<!--end::Message accordion-->
					<div class="separator my-6"></div>
					<!--begin::Message accordion-->
					<% if @conversation_detail_list.present? %>
						<% @conversation_detail_list.each_with_index do |all_conversation,index| %>
							<% if index > 0 %>
								<div data-kt-inbox-message="message_wrapper">
									<!--begin::Message header-->
									<div  data-bs-toggle="collapse"  data-bs-target="#collapse<%= all_conversation.id.to_s %>" aria-expanded="true" aria-controls="collapseOne" class="cursor-pointer toggle-on">                                    
										<div class="d-flex flex-wrap gap-2 flex-stack cursor-pointer" data-kt-inbox-message="header">
											<!--begin::Author-->
											<div class="d-flex align-items-center">
												<!--begin::Avatar-->
												<div class="symbol symbol-light-primary symbol-50  ms-5 me-4">
													<span class="symbol-label font-weight-bolder"><i class="flaticon-users-1 text-primary"></i></span> 
												</div>
												<!--end::Avatar-->
												<div class="pe-5">
													<!--begin::Author details-->
													<div class="d-flex align-items-center flex-wrap gap-1">
														<a href="#" class="fw-bolder text-dark text-hover-primary"> <%= get_sender_detail_info(all_conversation.company_user_id , all_conversation.user_id , @communication_communication.company_id, @communication_communication.mail_type,all_conversation.sent_type)["name"]%></a>
														<!--begin::Svg Icon | path: icons/duotune/abstract/abs050.svg-->
														<span class="svg-icon svg-icon-7 svg-icon-success mx-3">
															<svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
																<circle fill="currentColor" cx="12" cy="12" r="8"></circle>
															</svg>
														</span>
														<!--end::Svg Icon-->
														<span class="text-muted fw-bolder"><%=  time_date(all_conversation.created_at) %></span>
													</div>
													<!--end::Author details-->
													<!--begin::Message details-->
													<div class="" data-kt-inbox-message="details">
														<span class="text-muted fw-bold">
															<%=" <"+ get_sender_detail_info(all_conversation.company_user_id , all_conversation.user_id , @communication_communication.company_id, @communication_communication.mail_type,all_conversation.sent_type)["email"] +"> " %>
														</span>
														<!--begin::Menu toggle-->
														<a href="#" class="me-1" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-start">
															<!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
															<span class="svg-icon svg-icon-5 m-0">
																<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																	<path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
																</svg>
															</span>
															<!--end::Svg Icon-->
														</a>
														<!--end::Menu toggle-->
														<!--begin::Menu-->
														<div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-300px p-4" data-kt-menu="true">
															<!--begin::Table-->
															<table class="table mb-0">
																<tbody>
																	<!--begin::From-->
																	<tr>
																		<td class="w-75px text-muted">From</td>
																		<td>  
																			<%= get_sender_detail_info(all_conversation.company_user_id, all_conversation.user_id , @communication_communication.company_id, @communication_communication.mail_type,all_conversation.sent_type)["email"] +"> " %>
																		</td>
																	</tr>
																	<!--end::From-->
																	<!--begin::Date-->
																	<tr>
																		<td class="text-muted">Date</td>
																		<td><%= all_conversation.created_at.strftime("%Y年%m月%d日 (%I:%M %p)") %></td>
																	</tr>
																	<!--end::Date-->
																	<!--begin::Subject-->
																	<tr>
																		<td class="text-muted">Subject</td>
																		<td>【<%= t("communication.title.#{@communication_communication.category}") %>】<%= @communication_communication.title %></td>
																	</tr>
																	<!--end::Subject--> 
																</tbody>
															</table>
															<!--end::Table-->
														</div>
														<!--end::Menu-->
													</div>
													<!--end::Message details-->
													<!--begin::Preview message-->
													<div class="text-muted fw-bold mw-450px" data-kt-inbox-message="preview"></div>
													<!--end::Preview message-->
												</div>
											</div>
											<!--end::Author-->
											<!--begin::Actions-->
											<div class="d-flex align-items-center flex-wrap gap-2">
												<!--begin::Date-->
												<span class="fw-bold text-muted text-end me-3"><%= all_conversation.created_at.strftime("%Y年%m月%d日 (%I:%M %p)") %></span>
												<!--end::Date-->
												<div class="d-flex"> 
													<!--begin::Settings-->
													<a href="#" class="btn btn-sm btn-icon btn-clear btn-active-light-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="Settings">
														<!--begin::Svg Icon | path: icons/duotune/general/gen053.svg-->
														<span class="svg-icon svg-icon-2 m-0">
															<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
																<rect x="10" y="10" width="4" height="4" rx="2" fill="currentColor"></rect>
																<rect x="10" y="3" width="4" height="4" rx="2" fill="currentColor"></rect>
																<rect x="10" y="17" width="4" height="4" rx="2" fill="currentColor"></rect>
															</svg>
														</span>
														<!--end::Svg Icon-->
													</a>
													<!--end::Settings-->
												</div>
											</div>
											<!--end::Actions-->
										</div>
									</div>
									<!--end::Message header-->
									<!--begin::Message content-->
									<div id="collapse<%= all_conversation.id.to_s %>" class="collapse " aria-labelledby="headingTwo" data-parent="#accordion"> 
										<div class="py-5 ms-5">
											<p> <%= get_sender_detail_info(all_conversation.company_user_id, all_conversation.user_id , @communication_communication.company_id, @communication_communication.mail_type,all_conversation.sent_type)["name"] +"<"+ get_sender_detail_info(all_conversation.company_user_id, all_conversation.user_id , @communication_communication.company_id, @communication_communication.mail_type,all_conversation.sent_type)["email"]+"> " %></p>
											<p><%= all_conversation.content %> </p>
										</div>
									</div>
									<!--end::Message content-->
								</div>
								<div class="separator my-6"></div> 
							<% end %>
						<% end %>
					<% end %>
					<% if  @communication_communication.scout_status == "waiting_accept" && current_user %>
						<div class="d-flex align-items-center justify-content-between py-5 pe-5">
							<!--begin::Actions-->
							<div class="d-flex align-items-center me-3">
								<div class="btn-group me-4"> 
									<%= link_to(communication_scout_mail_accept_path(id: @communication_communication.id), class: "btn btn-primary fw-bold px-6") do %>
										Accept
									<% end %>
								</div>
								<!--begin::Send-->
								<div class="btn-group me-4"> 
									<%= link_to(communication_scout_mail_reject_path(id: @communication_communication.id), class: "btn btn-danger fw-bold px-6") do %>
										Deny
									<% end %>
								</div>
								<!--end::Send--> 
							</div>
							<!--end::Actions--> 
						</div>
					<% end %>
					<!--end::Message accordion-->											
					<div class="card-spacer mt-10" id="kt_inbox_reply">                        
						<div class="card card-custom shadow-sm">
							<div class="card-body p-0">
								<!--begin::Form-->
								<%= form_with(model: Communication::CommunicationDetail.new,url: [ @communication_communication_detail, Communication::CommunicationDetail.new ], method: :post,id: "communication-form") do |form| %>
										<%= form.hidden_field :communication_id, value: @communication_communication.id %>

										<%= form.hidden_field :user_id, value: @communication_communication.user_id ,id: "user_id" %>
										<%= form.hidden_field :company_user_id, value: @communication_communication.company_user_id %>

										<%= form.hidden_field :sender_id, value: @user_id ,id: "sender_id" %>
										<%= form.hidden_field :receiver_id, value: @receiver_id %>
										<%= form.hidden_field :company_id, value: @communication_communication.company_id %>
										<%= form.hidden_field :mail_type, value: @communication_communication.mail_type %>
										<%= form.hidden_field :category, value: @communication_communication.category %> 
										<!--begin::Body-->
										<div class="d-block">
											<!--begin::To-->
											<div class="d-flex align-items-center border-bottom inbox-to px-8 min-h-50px">
													<div class="text-dark-50 w-75px">From:</div>
													<div class="d-flex align-items-center flex-grow-1">
														<span><%= @email%></span>                                                 
													</div> 
											</div>
											<!--end::To--> 
											<!--begin::Message-->
											<div class=" px-8 py-4">
												<div class="d-flex error_content">
													<%= form.label :content,t('communication.title.content') ,class: "form-label" %>
														【<label class="ml-auto required-label"><%= t('common.require') %> </label>】
												</div>
												<%= form.rich_text_area :content, id: "content" ,class: "form-control form-control-solid  h-200px h-lg-300px h-xl-300px overflow-auto errors" %>
												<p class="text-danger font-size-sm ms-invalid-feedback mt-1">
													<span class ="err_content d-none"><%= Communication::Communication.human_attribute_name('content') %>  <%= t('errors.messages.blank') %></span>
												</p>
											</div>
											<!--end::Message--> 
										</div>
										<!--end::Body-->
										<!--begin::Footer-->
										<div class="d-flex align-items-center justify-content-between py-5 ps-8 pe-5 border-top">
												<!--begin::Actions-->
												<div class="d-flex align-items-center me-3">
													<div class="btn-group me-4"> 
															<input type='reset' value='<%= t('btn.cancel') %>' class="btn btn-light-primary font-weight-bold px-6"> 
													</div>
													<!--begin::Send-->
													<div class="btn-group me-4"> 
															<%= form.submit (t "btn.sent_btn"), :class => "btn btn-primary font-weight-bold px-6" ,:id => "btn-communicaion"  %> 
													</div>
													<!--end::Send--> 
												</div>
												<!--end::Actions--> 
										</div>
									<!--end::Footer-->
								</form>
								<% end %>
								<!--end::Form-->
							</div>
							</div>
						</div>                                             
					</div>
				</div>
				<!--end::Card-->
			</div>
			<!--end::Content-->
		</div>
		<!--end::Inbox App - View & Reply -->
	</div>
	<!--end::Container-->
</div>
<%= javascript_pack_tag "communication/communication.js" %>