<div>
    <%= render partial: "kodawarione/shared/company_manage/profile_navbar", :locals =>{:current_route => "activity_page"}  %>
</div>
<!--begin::Container-->
<!--begin::Card-->
<% if @company_activities.present? %>
    <div class="card bg-body card-flush pt-3 pb-5 mb-5 mb-xl-10">
        <!--begin::Card header-->
		<div class="card-header">
            <!--begin::Card title-->
			<div class="card-title flex-column">
				<h3 class="fw-bolder mb-1"><%= (t "activity.title") %></h3>
				<div class="fs-6 fw-bold text-gray-400">Total <%= @company_activities.size %> activity videos</div>
			</div>
			<!--end::Card title-->
		</div>
		<!--end::Card header-->
        <div class="card-body pt-3">
            <div id="kt_project_users_card_pane" class="tab-pane fade show active">
                <!--begin::Desktop-->
                <div class="col-12 d-none d-xl-block">
                    <div id="carouselExampleIndicatorsVideo" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% (@company_activities.size%4 == 0 ? @company_activities.size/4  : @company_activities.size/4 + 1).times  do |i| %>
                                <div class="carousel-item <%= i == 0 ? 'active' :  '' %> ">
                                    <div class="row">
                                        <% @company_activities.offset(4*i).limit(4).each_with_index do |company_activity| %>
                                            <!--begin::Col-->
                                            <div class="col-3">
                                                <!--begin::Publications post-->
                                                <div class="card border h-375px ">
                                                    <div class="card-body">
                                                        <!--begin::Video-->
                                                        <% if company_activity.video_clip.attached? && company_activity.video_clip.persisted? && company_activity.thumbnail.attached? && company_activity.thumbnail.persisted? %>
                                                            <div class="position-relative">
                                                                <button data-bs-toggle="modal" data-bs-target="#video-play-modal<%= company_activity.video_clip.id %>" class="vdo-play-btn position-absolute top-50 start-50 translate-middle btn bg-dark bg-opacity-50 bg-hover-lighten bg-hover-opacity-75 px-12 py-5 rounded border border-white border-1 d-flex flex-center" style="z-index: 1"><i class="fas fa-play text-white fs-3 opacity-100"></i></button>
                                                                <video
                                                                    id="my-video-poster"
                                                                    class="video-js vjs-default-skin vjs-big-play-centered w-100 h-175px mb-4 cursor-pointer"
                                                                    preload="auto"
                                                                    width="400"
                                                                    height="175"
                                                                    poster="<%= url_for(company_activity.thumbnail) %>"
                                                                    data-setup="{}"
                                                                    data-bs-toggle="modal" data-bs-target="#video-play-modal<%= company_activity.video_clip.id %>"
                                                                > 
                                                                </video>
                                                                <%= hidden_field_tag(:video_id,'',id: "#{company_activity.video_clip.id}") %>
                                                                <%= render partial: 'company_page/video_play_modal', locals: { activity_var: company_activity.video_clip, id: company_activity.video_clip.id }%>
                                                            </div>
                                                        <% end %>
                                                        <!--end::Video-->
                                                        <!--begin::Body-->
                                                        <div class="m-0">
                                                            <div class="fs-4 text-dark fw-bolder text-dark lh-base">
                                                                <%= company_activity.title %>
                                                            </div>
                                                            <!--begin::Text-->
                                                            <div class="fw-bold fs-5 text-gray-600 text-dark mt-3 mb-5"><%= company_activity.desc.to_plain_text.truncate(120) %></div>
                                                            <!--begin::Content-->
                                                            <div class="fs-6 fw-bolder">
                                                                <!--begin::Author-->
                                                                <span class="text-gray-700 text-hover-primary">作成日 : </span>
                                                                <!--end::Author-->
                                                                <!--begin::Date-->
                                                                <span class="text-muted"><%= l company_activity.created_at.to_date %></span>
                                                                <!--end::Date-->
                                                            </div>
                                                            <!--end::Content-->
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Publications post-->
                                        <% end %>
                                    </div>
                                </div>
                                <!--end::Row-->
                            <% end %>
                        </div>
                        <% if @company_activities.size > 4 %>
                            <div class="carousel-control-prev">
                                <a class="carousel-control-prev btn mb-3 mx-3" href="#carouselExampleIndicatorsVideo" role="button" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left text-primary" style=" font-size: 30px;"></i>
                                </a>
                            </div>
                            <div class="carousel-control-next">
                                <a class="carousel-control-next btn mb-3 mx-3" href="#carouselExampleIndicatorsVideo" role="button" data-bs-slide="next">
                                <i class="fas fa-chevron-right text-primary" style=" font-size: 30px;"></i>
                                </a>             
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Desktop-->

                <!--begin::Tablet-->
                <div class="col-12 d-none d-xl-none d-lg-block d-md-block d-sm-none">
                    <div id="carouselExampleIndicatorsVideoTablet" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% (@company_activities.size%3 == 0 ? @company_activities.size/3  : @company_activities.size/3 + 1).times  do |i| %>
                                <div class="carousel-item <%= i == 0 ? 'active' :  '' %> ">
                                    <div class="row">
                                        <% @company_activities.offset(3*i).limit(3).each_with_index do |company_activity| %>
                                            <!--begin::Col-->
                                            <div class="col-4">
                                                <!--begin::Publications post-->
                                                <div class="card border h-375px">
                                                    <div class="card-body">
                                                        <!--begin::Video-->
                                                        <% if company_activity.video_clip.attached? && company_activity.video_clip.persisted? && company_activity.thumbnail.attached? && company_activity.thumbnail.persisted? %>
                                                            <div class="position-relative">
                                                                <button data-bs-toggle="modal" data-bs-target="#video-play-modal-tablet<%= company_activity.video_clip.id %>" class="vdo-play-btn position-absolute top-50 start-50 translate-middle btn bg-dark bg-opacity-50 bg-hover-lighten bg-hover-opacity-75 px-12 py-5 rounded border border-white border-1 d-flex flex-center" style="z-index: 1"><i class="fas fa-play text-white fs-3 opacity-100"></i></button>
                                                                <video
                                                                    id="my-video-poster-tablet"
                                                                    class="video-js vjs-default-skin vjs-big-play-centered w-100 h-175px mb-4 cursor-pointer"
                                                                    preload="auto"
                                                                    width="400"
                                                                    height="175"
                                                                    poster="<%= url_for(company_activity.thumbnail) %>"
                                                                    data-setup="{}"
                                                                    data-bs-toggle="modal" data-bs-target="#video-play-modal-tablet<%= company_activity.video_clip.id %>"
                                                                > 
                                                                </video>
                                                                <%= hidden_field_tag(:video_id,'',id: "-tablet#{company_activity.video_clip.id}") %>
                                                                <%= render partial: 'company_page/video_play_modal', locals: { activity_var: company_activity.video_clip, id: '-tablet'+company_activity.video_clip.id.to_s }%>
                                                            </div>
                                                        <% end %>
                                                        <!--end::Video-->
                                                        <!--begin::Body-->
                                                        <div class="m-0">
                                                            <div class="fs-4 text-dark fw-bolder text-dark lh-base">
                                                                <%= company_activity.title %>
                                                            </div>
                                                            <!--begin::Text-->
                                                            <div class="fw-bold fs-5 text-gray-600 text-dark mt-3 mb-5"><%= company_activity.desc.to_plain_text.truncate(120) %></div>
                                                            <!--begin::Content-->
                                                            <div class="fs-6 fw-bolder">
                                                                <!--begin::Author-->
                                                                <span class="text-gray-700 text-hover-primary">作成日 : </span>
                                                                <!--end::Author-->
                                                                <!--begin::Date-->
                                                                <span class="text-muted"><%= l company_activity.created_at.to_date %></span>
                                                                <!--end::Date-->
                                                            </div>
                                                            <!--end::Content-->
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Publications post-->
                                        <% end %>
                                    </div>
                                </div>
                                <!--end::Row-->
                            <% end %>
                        </div>
                        <% if @company_activities.size > 3 %>
                            <div class="carousel-control-prev">
                                <a class="carousel-control-prev btn mb-3 mx-3" href="#carouselExampleIndicatorsVideoTablet" role="button" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left text-primary" style=" font-size: 30px;"></i>
                                </a>
                            </div>
                            <div class="carousel-control-next">
                                <a class="carousel-control-next btn mb-3 mx-3" href="#carouselExampleIndicatorsVideoTablet" role="button" data-bs-slide="next">
                                <i class="fas fa-chevron-right text-primary" style=" font-size: 30px;"></i>
                                </a>             
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Tablet-->

                <!--begin::Mobile-->
                <div class="col-12 d-block d-xl-none d-lg-none d-md-none d-sm-block">
                    <div id="carouselExampleIndicatorsVideoMobile" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <% (@company_activities.size%1 == 0 ? @company_activities.size/1  : @company_activities.size/1 + 1).times  do |i| %>
                                <div class="carousel-item <%= i == 0 ? 'active' :  '' %> ">
                                    <div class="row">
                                        <% @company_activities.offset(1*i).limit(1).each_with_index do |company_activity| %>
                                            <!--begin::Col-->
                                            <div class="col-12">
                                                <!--begin::Publications post-->
                                                <div class="card border h-375px">
                                                    <div class="card-body">
                                                        <!--begin::Video-->
                                                        <% if company_activity.video_clip.attached? && company_activity.video_clip.persisted? && company_activity.thumbnail.attached? && company_activity.thumbnail.persisted? %>
                                                            <div class="position-relative">
                                                                <button data-bs-toggle="modal" data-bs-target="#video-play-modal-mobile<%= company_activity.video_clip.id %>" class="vdo-play-btn position-absolute top-50 start-50 translate-middle btn bg-dark bg-opacity-50 bg-hover-lighten bg-hover-opacity-75 px-12 py-5 rounded border border-white border-1 d-flex flex-center" style="z-index: 1"><i class="fas fa-play text-white fs-3 opacity-100"></i></button>
                                                                <video
                                                                    id="my-video-poster-mobile"
                                                                    class="video-js vjs-default-skin vjs-big-play-centered w-100 h-175px mb-4 cursor-pointer"
                                                                    preload="auto"
                                                                    width="400"
                                                                    height="175"
                                                                    poster="<%= url_for(company_activity.thumbnail) %>"
                                                                    data-setup="{}"
                                                                    data-bs-toggle="modal" data-bs-target="#video-play-modal-mobile<%= company_activity.video_clip.id %>"
                                                                > 
                                                                </video>
                                                                <%= hidden_field_tag(:video_id,'',id: "-mobile#{company_activity.video_clip.id}") %>
                                                                <%= render partial: 'company_page/video_play_modal', locals: { activity_var: company_activity.video_clip, id: '-mobile'+company_activity.video_clip.id.to_s  }%>
                                                            </div>
                                                        <% end %>
                                                        <!--end::Video-->
                                                        <!--begin::Body-->
                                                        <div class="m-0">
                                                            <div class="fs-4 text-dark fw-bolder text-dark lh-base">
                                                                <%= company_activity.title %>
                                                            </div>
                                                            <!--begin::Text-->
                                                            <div class="fw-bold fs-5 text-gray-600 text-dark mt-3 mb-5"><%= company_activity.desc.to_plain_text.truncate(120) %></div>
                                                            <!--begin::Content-->
                                                            <div class="fs-6 fw-bolder">
                                                                <!--begin::Author-->
                                                                <span class="text-gray-700 text-hover-primary">作成日 : </span>
                                                                <!--end::Author-->
                                                                <!--begin::Date-->
                                                                <span class="text-muted"><%= l company_activity.created_at.to_date %></span>
                                                                <!--end::Date-->
                                                            </div>
                                                            <!--end::Content-->
                                                        </div>
                                                        <!--end::Body-->
                                                    </div>
                                                </div>
                                            </div>
                                            <!--end::Publications post-->
                                        <% end %>
                                    </div>
                                </div>
                                <!--end::Row-->
                            <% end %>
                        </div>
                        <% if @company_activities.size > 1 %>
                            <div class="carousel-control-prev">
                                <a class="carousel-control-prev btn mb-3 mx-3" href="#carouselExampleIndicatorsVideoMobile" role="button" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left text-primary" style=" font-size: 30px;"></i>
                                </a>
                            </div>
                            <div class="carousel-control-next">
                                <a class="carousel-control-next btn mb-3 mx-3" href="#carouselExampleIndicatorsVideoMobile" role="button" data-bs-slide="next">
                                <i class="fas fa-chevron-right text-primary" style=" font-size: 30px;"></i>
                                </a>             
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Mobile-->
            </div>
        </div>
        <!--end::Card-->
    </div>
<% end %>
<!--end::Card-->
<!--begin::Card-->
<% if @company_interview_story_lists.present? %>
    <div class="card bg-body card-flush pt-3 pb-5 mb-5 mb-xl-10">
        <!--begin::Card header-->
		<div class="card-header">
            <!--begin::Card title-->
			<div class="card-title flex-column">
				<h3 class="fw-bolder mb-1"><%= t('interview_story.title.interview_story_title') %></h3>
				<div class="fs-6 fw-bold text-gray-400">Total <%= @company_interview_story_lists.size %> interview stories</div>
			</div>
			<!--end::Card title-->
		</div>
		<!--end::Card header-->
        <div class="card-body pt-3">
            <div id="kt_project_users_card_pane" class="tab-pane fade show active">
                <!--begin::Desktop-->
                <div class="col-12 d-none d-xl-block">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner"> 
                            <% (@company_interview_story_lists.size%3 == 0 ? @company_interview_story_lists.size/3  : @company_interview_story_lists.size/3 + 1).times  do |i| %>
                                <div class="carousel-item <%= i == 0 ? 'active' :  '' %> ">
                                    <div class="row">
                                        <% @company_interview_story_lists.offset(3*i).limit(3).each_with_index do |story| %>
                                            <div class="col-4">
                                                <%# link_to kodawarione_company_manage_company_details_overview_path(:company_id => story.id,:status => 1), class: "col-6" do %> 
                                                    <!--begin::Card-->
                                                    <div class="card card-stretch h-xxl-250px h-xl-275px border p-9">
                                                        <!--begin::Card body-->
                                                        <div class="card-body d-flex flex-column  p-0">
                                                            <!--begin::Title-->
                                                            <div>
                                                                <span class="fs-4 text-gray-800 fw-bolder mb-0 text-truncate w-300px w-md-250px w-lg-300px w-xl-350px"><%= story.title %></span>
                                                                <div class="fw-bold text-gray-400 mt-2 mb-4">
                                                                    <%= strip_tags(story.review.to_s).truncate(100) %>
                                                                </div>
                                                            </div>
                                                            <!--end::Title-->
                                                            <!--begin::Info-->
                                                            <div class="mt-auto d-flex align-items-center">
                                                                <!--begin::Avatar-->
                                                                <div class="symbol symbol-40px symbol-circle">
                                                                    <% if story.image.present? %>
                                                                        <%= image_tag (story.image), :class=> "symbol-label" %>
                                                                    <% else %>
                                                                        <span class="symbol-label fs-2x fw-bold text-primary bg-light-primary"><%= @company_details.company_name.chr.upcase %></span>
                                                                    <% end %>
                                                                </div>
                                                                <!--end::Avatar-->
                                                                <div class="fs-6 fw-bolder text-gray-700 ms-2"><%= l(story.created_at.to_date, default: '-')%></div>
                                                            </div>
                                                            <!--end::Info-->
                                                        </div>
                                                        <!--end::Card body-->
                                                    </div>
                                                    <!--end::Card-->
                                                <%# end %>
                                            </div>
                                        <% end %>
                                    </div>
                                    <!--end::Row-->
                                </div>
                            <% end %>
                        </div>
                        <% if @company_interview_story_lists.size > 3 %>
                            <div class="carousel-control-prev">
                                <a class="carousel-control-prev btn mb-3 mx-3" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left text-primary" style=" font-size: 30px;"></i>
                                </a>
                            </div>
                            <div class="carousel-control-next">
                                <a class="carousel-control-next btn mb-3 mx-3" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
                                <i class="fas fa-chevron-right text-primary" style=" font-size: 30px;"></i>
                                </a>             
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Desktop-->

                <!--begin::Tablet-->
                <div class="col-12 d-none d-xl-none d-lg-block d-md-block d-sm-none">
                    <div id="carouselExampleIndicatorsTablet" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner"> 
                            <% (@company_interview_story_lists.size%2 == 0 ? @company_interview_story_lists.size/2  : @company_interview_story_lists.size/2 + 1).times  do |i| %>
                                <div class="carousel-item <%= i == 0 ? 'active' :  '' %> ">
                                    <div class="row">
                                        <% @company_interview_story_lists.offset(2*i).limit(2).each_with_index do |story| %>
                                            <div class="col-6">
                                                <%# link_to kodawarione_company_manage_company_details_overview_path(:company_id => story.id,:status => 1), class: "col-6" do %> 
                                                    <!--begin::Card-->
                                                    <div class="card card-stretch h-275px border p-9">
                                                        <!--begin::Card body-->
                                                        <div class="card-body d-flex flex-column  p-0">
                                                            <!--begin::Title-->
                                                            <div>
                                                                <span class="fs-4 text-gray-800 fw-bolder mb-0 text-truncate w-300px w-md-250px w-lg-300px w-xl-350px"><%= story.title %></span>
                                                                <div class="fw-bold text-gray-400 mt-2 mb-4">
                                                                    <%= strip_tags(story.review.to_s).truncate(100) %>
                                                                </div>
                                                            </div>
                                                            <!--end::Title-->
                                                            <!--begin::Info-->
                                                            <div class="mt-auto d-flex align-items-center">
                                                                <!--begin::Avatar-->
                                                                <div class="symbol symbol-40px symbol-circle">
                                                                    <% if story.image.present? %>
                                                                        <%= image_tag (story.image), :class=> "symbol-label" %>
                                                                    <% else %>
                                                                        <span class="symbol-label fs-2x fw-bold text-primary bg-light-primary"><%= @company_details.company_name.chr.upcase %></span>
                                                                    <% end %>
                                                                </div>
                                                                <!--end::Avatar-->
                                                                <div class="fs-6 fw-bolder text-gray-700 ms-2"><%= l(story.created_at.to_date, default: '-')%></div>
                                                            </div>
                                                            <!--end::Info-->
                                                        </div>
                                                        <!--end::Card body-->
                                                    </div>
                                                    <!--end::Card-->
                                                <%# end %>
                                            </div>
                                        <% end %>
                                    </div>
                                    <!--end::Row-->
                                </div>
                            <% end %>
                        </div>
                        <% if @company_interview_story_lists.size > 2 %>
                            <div class="carousel-control-prev">
                                <a class="carousel-control-prev btn mb-3 mx-3" href="#carouselExampleIndicatorsTablet" role="button" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left text-primary" style=" font-size: 30px;"></i>
                                </a>
                            </div>
                            <div class="carousel-control-next">
                                <a class="carousel-control-next btn mb-3 mx-3" href="#carouselExampleIndicatorsTablet" role="button" data-bs-slide="next">
                                <i class="fas fa-chevron-right text-primary" style=" font-size: 30px;"></i>
                                </a>             
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Tablet-->

                <!--begin::Mobile-->
                <div class="col-12 d-block d-xl-none d-lg-none d-md-none d-sm-block">
                    <div id="carouselExampleIndicatorsMobile" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner"> 
                            <% (@company_interview_story_lists.size%1 == 0 ? @company_interview_story_lists.size/1  : @company_interview_story_lists.size/1 + 1).times  do |i| %>
                                <div class="carousel-item <%= i == 0 ? 'active' :  '' %> ">
                                    <div class="row">
                                        <% @company_interview_story_lists.offset(1*i).limit(1).each_with_index do |story| %>
                                            <div class="col-12">
                                                <%# link_to kodawarione_company_manage_company_details_overview_path(:company_id => story.id,:status => 1), class: "col-6" do %> 
                                                    <!--begin::Card-->
                                                    <div class="card card-stretch h-275px border p-9">
                                                        <!--begin::Card body-->
                                                        <div class="card-body d-flex flex-column  p-0">
                                                            <!--begin::Title-->
                                                            <div>
                                                                <span class="fs-4 text-gray-800 fw-bolder mb-0 text-truncate w-300px w-md-250px w-lg-300px w-xl-350px"><%= story.title %></span>
                                                                <div class="fw-bold text-gray-400 mt-2 mb-4">
                                                                    <%= strip_tags(story.review.to_s).truncate(100) %>
                                                                </div>
                                                            </div>
                                                            <!--end::Title-->
                                                            <!--begin::Info-->
                                                            <div class="mt-auto d-flex align-items-center">
                                                                <!--begin::Avatar-->
                                                                <div class="symbol symbol-40px symbol-circle">
                                                                    <% if story.image.present? %>
                                                                        <%= image_tag (story.image), :class=> "symbol-label" %>
                                                                    <% else %>
                                                                        <span class="symbol-label fs-2x fw-bold text-primary bg-light-primary"><%= @company_details.company_name.chr.upcase %></span>
                                                                    <% end %>
                                                                </div>
                                                                <!--end::Avatar-->
                                                                <div class="fs-6 fw-bolder text-gray-700 ms-2"><%= l(story.created_at.to_date, default: '-')%></div>
                                                            </div>
                                                            <!--end::Info-->
                                                        </div>
                                                        <!--end::Card body-->
                                                    </div>
                                                    <!--end::Card-->
                                                <%# end %>
                                            </div>
                                        <% end %>
                                    </div>
                                    <!--end::Row-->
                                </div>
                            <% end %>
                        </div>
                        <% if @company_interview_story_lists.size > 1 %>
                            <div class="carousel-control-prev">
                                <a class="carousel-control-prev btn mb-3 mx-3" href="#carouselExampleIndicatorsMobile" role="button" data-bs-slide="prev">
                                    <i class="fas fa-chevron-left text-primary" style=" font-size: 30px;"></i>
                                </a>
                            </div>
                            <div class="carousel-control-next">
                                <a class="carousel-control-next btn mb-3 mx-3" href="#carouselExampleIndicatorsMobile" role="button" data-bs-slide="next">
                                <i class="fas fa-chevron-right text-primary" style=" font-size: 30px;"></i>
                                </a>             
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Mobile-->
            </div>
        </div>
    </div>
<% end %>
<!--end::Card-->
<!--begin::Card-->
<% if @company_details.experience_requirements.present? || @company_details.fresher_requirements.present? || @company_details.fresher_second_requirements.present? %>
    <div class="card bg-body card-flush pt-3 mb-5 mb-xl-10">
        <div class="card-body">
            <% if @company_details.experience_requirements.present? %>
                <div class="mt-10 pb-10">
                    <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('experience_requirements') %></h3>
                    <div class="fs-6 fw-bold text-gray-700 px-4">
                        <%= @company_details.experience_requirements %>
                    </div>
                </div>
            <% end %>
            <% if @company_details.fresher_requirements.present? %>
                <div class="mt-20 pb-10">
                    <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('fresher_requirements') %></h3>
                    <div class="fs-6 fw-bold text-gray-700 px-4">
                        <%= @company_details.fresher_requirements %>
                    </div>
                </div>
            <% end %>
            <% if @company_details.fresher_second_requirements.present? %>
                <div class="mt-20 pb-10">
                    <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('fresher_second_requirements') %></h3>
                    <div class="fs-6 fw-bold text-gray-700 px-4">
                        <%= @company_details.fresher_second_requirements %>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
<% end %>
<!--end::Card-->
<!--begin::Card-->
<% if !@company_activities.present? && !@company_interview_story_lists.present? && @company_details.experience_requirements.nil? && @company_details.fresher_requirements.nil? && @company_details.fresher_second_requirements.nil? %>
    <div class="card bg-body card-flush pt-3 mb-5 mb-xl-10">
        <div class="card-body text-center py-20">
            <h3 class="fs-3 fw-bolder"><%= t('activity.no_data_text') %></h3>
        </div>
    </div>
<% end %>
<!--end::Card-->
<!--end::Container-->
<script>
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: false
    })
  });
</script>
<%= javascript_pack_tag "common.js" %>