<div class="row search-details pb-5 mb-5 px-sm-4">
    <div class="col-xl-8 col-12">
        <div class="job-details bg-white shadow my-3 px-4 px-md-5">
            <div class ="row py-4 ">
                <div class="col-12 col-md-4 px-3 pb-3">
                    <h2 class="font-weight-bolder text-dark">
                        <%= (t "title.student_search_detail_title") %> 
                    </h2>                            
                </div>

                <div class="d-flex">
                    <div class="px-3 mt-2">
                        <%= link_to t('btn.edit'), admin_company_manage_company_edit_path(id: @company_details.id, status: params[:status]), class: "admin-sidebar-color text-white col-sm-6 col-md-4 col-lg-2 custom-btn px-4 py-2 text-decoration-none" %> 
                    </div>
                    <div class="text-center mb-3">
                        <%= render 'company_delete' %>
                    </div>
                </div>                
            </div>
                
            <div class="row pb-3">
                <div class="col-12 col-md-4">                    
                    <% if @company_details.image.attached? %>
                        <%= image_tag (@company_details.image), :class=> "Responsive image" %>
                    <% else %>
                        <%= image_tag "avatar/building.jpg", :class=> "Responsive image" %>
                    <% end %>        
                </div>
                <div class="col-12 col-md-8 px-3 p-lg-0">
                    <div class="mb-2 mb-sm-3 mt-3 mt-sm-0 row">
                        <h2 class="col-7 col-sm-8 font-weight-bolder text-dark mb-3 text-break"> <%= @company_details.company_name %></h2>  
                    </div>
                    <div class="d-md-flex my-2">
                        <span class="admin-sidebar-color badge py-2 text-break text-white mb-2 mb-md-0 mr-2">
                            <i class="fas fa-industry mr-2"></i><%= @company_details.industry_name %>
                        </span>
                        <span class="admin-sidebar-color badge p-2 text-break text-white">
                            <i class="fas fa-certificate mr-2"></i><%= @company_details.employee_count %><%= t "unit.persons" %>
                        </span>
                    </div>
                    <div class="d-flex mt-5 flex-column align-items-lg-end align-items-start">
                        <span class="admin-font-color text-start"> <%= Company::Company.human_attribute_name('company_established') %> </span>
                        <% unless @company_details.company_established.nil? %> 
                            <span class="text-break"><%= l @company_details.company_established %></span>
                        <% end %>
                    </div>
                </div>
            </div>
            
            <hr class="com-grandient-hr">                 
            <div class="mt-4 row">
                <div class="col-12 title font-weight-bold"><%= t "title.company_basic_information" %><br><hr class="title-hr admin-sidebar-color"></div>                                

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('job_info') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.job_info %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('display_address') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.display_address %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('capital_amount') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.capital_amount %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('sales_amount') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.sales_amount %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('related_company') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.related_company %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('main_bank') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.main_bank %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('history') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.history%></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('representative') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.representative %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('website_url') %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.website_url %></p>
                </div>                
            </div>    

            <hr class="com-grandient-hr">   

            <div class="mt-4 row">
                <div class="col-12 title font-weight-bold"><%= t "title.company_inquiry_info" %><br><hr class="title-hr admin-sidebar-color"></div>                  
                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('contact')  %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.contact %></p>
                </div>

                <div class="col-lg-5 col-md-7 col-sm-4">
                    <p><i class="fas fa-check admin-font-color mr-2"></i><%= Company::Company.human_attribute_name('transportation_facilities')  %></p>
                </div>
                <div class="col-lg-7 col-md-5 col-sm-8 text-break d-flex">
                    <p class="mr-2">-</p> <p><%= @company_details.transportation_facilities %></p>
                </div>       
            </div>   
             <%# <hr class="com-grandient-hr">    %> 

        </div>
    </div>

    <div class="col-xl-4 col-12">
        <div class="job-details bg-white shadow my-3 created_admin_company_event_section">
            <div class="col-12 title mt-3 font-weight-bold px-4 px-md-5 px-xl-4 pt-lg-5 pt-3">
                <%= t'title.created_event_title' %><br><hr class="title-hr admin-sidebar-color">
            </div> 
            <div class="col-12 px-4 px-md-5 px-lg-5 pb-3 p-xl-4 mb-3">
                <% if @this_company_event_list.present? %>         
                <div class="d-none d-md-block d-sm-none">                  
                    <table class="table table-responsive-md">
                        <tbody>
                            <% @this_company_event_list.each do |created_event_list| %>
                                <tr data-link="<%= admin_company_manage_event_details_path(:id => created_event_list.id) %>">
                                    <td class="conversation_tbl"><%= l created_event_list.event_start_date %>～<%= l created_event_list.event_end_date %></td>
                                    <td class="conversation_tbl"><%= created_event_list.event_name %></td>
                                    <td class="conversation_tbl"><%= created_event_list.venue %></td>
                                </tr>
                            <% end %>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 my-2 d-content d-md-none d-lg-none d-xl-none">
                    <% @this_company_event_list.each do |created_event_list| %>
                        <div class="mobile-table row std-info-box p-2 my-4" data-link="<%= admin_company_manage_event_details_path(:id => created_event_list.id) %>">  
                            <div class="col-12 col-md-12 mb-3">
                                <div class="d-sm-flex">
                                    <div class="p-1">
                                        <%= created_event_list.event_start_date %>～<%= created_event_list.event_end_date %>
                                    </div>
                                </div>
                                <div class="p-1 text-break conversation_tbl"> 
                                    <%= created_event_list.event_name %>
                                </div>
                                <div class="p-1 text-break conversation_tbl"> 
                                   <%= created_event_list.venue %>
                                </div>
                            </div>
                        </div>
                    <% end %>                          
                </div>
                <% else %>
                    <div class ="p-4 admin-sidebar-color std-info-box d-flex align-items-center">
                        <span><%= t ('title.created_event_no_message') %></span>
                        <div class="ml-auto d-flex justify-content-end"><i class="fas fa-comments icon-end admin-font-color"></i>
                        </div>  
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<%= hidden_field_tag(:company_id, @company_details.id) %>
<%= javascript_pack_tag "common.js" %>
<%= javascript_pack_tag "student/students.js" %>