<section class="about bgi-no-repeat bgi-position-center bgi-size-cover"  style="background-image:url(<%= asset_path 'welcome/new-landing/sl-01.jpg' %>)">
  <div class="container content">
    <div class="row h-100">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <h1 class="fs-4x fw-bolder mb-5 text-white">
            <%= t('welcome.student.new.blog1.title_1') %><br />
            <%= t('welcome.student.new.blog1.title_2') %>
          </h1>
          <p class="mb-10 fs-5 fs-sm-1 fs-md-2x fw-bolder text-white ">
            <%= t('welcome.student.new.blog1.content1') %><br/>
            <%= t('welcome.student.new.blog1.content2') %><br /><br />
            <%= t('welcome.student.new.blog1.content3') %>
          </p>
          <div class="d-flex justify-content-end">
            <%= link_to t('welcome.student.new.blog1.btn') , welcome_student_register_path, class: "btn btn-lg btn-bg-light btn-color-primary fw-bolder fs-1 px-20" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about bgi-no-repeat bgi-position-center bgi-size-cover"  style="background-image:url(<%= asset_path 'welcome/new-landing/sl-02.jpg' %>)">
  <div class="container content">
    <div class="row h-100">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <h1 class="fs-4x fw-bolder mb-5 text-white">
            <%= t('welcome.student.new.blog2.title1') %><br />
            <%= t('welcome.student.new.blog2.title2') %>
          </h1>
          <p class="mb-10 fs-5 fs-sm-1 fs-md-2x fw-bolder text-white">
            <%= t('welcome.student.new.blog2.content1') %><br />
            <%= t('welcome.student.new.blog2.content2') %><br />
            <%= t('welcome.student.new.blog2.content3') %>
          </p>
          <div class="d-flex justify-content-end">
            <%= link_to t('welcome.student.new.blog2.btn'), welcome_student_register_path, class: "btn btn-lg btn-bg-light btn-color-primary fw-bolder fs-1 px-20" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="about bgi-no-repeat bgi-position-center bgi-size-cover"  style="background-image:url(<%= asset_path 'welcome/new-landing/sl-03.jpg' %>)">
  <div class="container content">
    <div class="row h-100">
      <div class="d-flex align-items-center">
        <div class="flex-grow-1">
          <h1 class="fs-4x fw-bolder mb-5 text-white">
            <%= t('welcome.student.new.blog3.title1') %><br/>
            <%= t('welcome.student.new.blog3.title2') %>
          </h1>
          <p class="mb-10 fs-5 fs-sm-1 fs-md-2x fw-bolder text-white">
           <%= t('welcome.student.new.blog3.content') %>
          </p>
          <div class="d-flex justify-content-end">
            <%= link_to t('welcome.student.new.blog3.btn'), welcome_student_register_path, class: "btn btn-lg btn-bg-light btn-color-primary fw-bolder fs-1 px-20" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--<div class="mt-20 mb-n20 position-relative z-index-2">
  <div class="container content">
    <div class="d-flex flex-stack flex-wrap flex-md-nowrap card-rounded shadow p-8 p-lg-12 mb-n5 mb-lg-n13" style="background: linear-gradient(90deg, #20AA3E 0%, #03A588 100%);">
      <div class="my-2 me-5">
        <div class="fs-1 fs-lg-2qx fw-bolder text-white mb-2">
          <%# t('welcome.student.new.highlight_card.title') %>
        </div>
        <div class="fs-6 fs-lg-5 text-white fw-bold opacity-75"><%= t('welcome.student.new.highlight_card.content') %></div>
      </div>
      <%# link_to t('welcome.student.new.highlight_card.btn'), welcome_student_register_path, class: "btn btn-lg btn-outline border-2 btn-outline-white flex-shrink-0 my-2" %>
    </div>
  </div>
</div>-->