<!--begin::Header-->
<% breadcrumbs_navigation_add (t ('student_commitment.menu.create_company_page')), '#' %>
<%= render_company_breadcrumbs_navigation(t('commitment_profile.title.recruitment_title')) %>		
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--begin::Container-->
  <div class="container-xxl" id="kt_content_container">
    <%= render partial: "company/shared/commitment_profiles/common_banner" %>
    <!--begin::Card-->
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
      <!--begin::Form-->
      <%= form_with(model: @company_commitment_profile, url: recruitment_form_company_commitment_profiles_url, method: "patch", local: true, multipart: true) do |form| %>
        <%= form.hidden_field :not_company_edit, :value => true %>
        <!--begin::Crad-->
        <div class="card bg-body mb-5 mb-xxl-10">
          <!--begin::form-->           
          <form id="kt_modal_new_target_form" class="form" action="#">
            <!--begin::Cardbody-->
            <div class="card-body">
              <!--begin::Heading-->
              <div class="mb-13 text-center">
                <!--begin::Title-->
                <h1 class="mb-3"><%=t ('commitment_profile.title.recruitment_title') %></h1>
                <!--end::Title-->                   
              </div>
              <!--end::Heading-->                  
              <!--begin::Input group-->
              <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-bold fs-6">
                  <%= form.label :experience_requirements %>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row hide-trix-attachment">
                  <%= form.rich_text_area :experience_requirements, id: "title_1", class: "form-control form-control-solid h-200px h-lg-300px h-xl-300px overflow-auto", id: "experience_requirements", rows: 4,  maxlength: 3000 %>
                  <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @company_commitment_profile.errors.full_messages_for(:experience_requirements)[0] %></p>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Input group-->
              <!--begin::Input group-->
              <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-bold fs-6">
                  <%= form.label :fresher_requirements %>
                </label>
                <div class="col-lg-8 fv-row hide-trix-attachment">
                  <%= form.rich_text_area :fresher_requirements, id: "title_1", class: "form-control form-control-solid h-200px h-lg-300px h-xl-300px overflow-auto", id: "fresher_requirements", rows: 4,  maxlength: 3000 %>
                  <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @company_commitment_profile.errors.full_messages_for(:fresher_requirements)[0] %></p>
                </div>
              </div>
              <!--end::Input group--> 
              <!--begin::Input group-->
              <div class="row mb-6">
                <!--begin::Label-->
                <label class="col-lg-4 col-form-label fw-bold fs-6">
                  <%= form.label :fresher_second_requirements %>
                </label>
                <!--end::Label-->
                <!--begin::Col-->
                <div class="col-lg-8 fv-row hide-trix-attachment">
                  <%= form.rich_text_area :fresher_second_requirements, id: "title_1", class: "form-control form-control-solid h-200px h-lg-300px h-xl-300px overflow-auto", id: "fresher_second_requirements", rows: 4,  maxlength: 3000 %>
                  <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @company_commitment_profile.errors.full_messages_for(:fresher_second_requirements)[0] %></p>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Input group-->    
            </div>
            <!--end::Cardbody-->     
            <div class="card-footer d-flex justify-content-end py-6 px-9"> 
              <%= link_to t('btn.cancel'), recruitment_company_commitment_profiles_path, class: "btn btn-light btn-active-light-primary me-2" %>            
              <%= form.submit t('btn.submit'), class: "btn btn-primary" %>
            </div>
          </form>
          <!--end:Form-->           
        </div>
        <!--end::Card-->
      <% end %>
      <!--end::Form-->
    </div>
    <!--end::Card-->
  </div>
  <!--end::Container-->
</div>
<!--end::Content-->
<%= render "users/shared/toastr" %>
<%= javascript_pack_tag "company/commitment_profile.js" %>