<!--begin::Header-->
<% breadcrumbs_navigation_add (t('partner.dashboard.partner_details')), kodawarione_partner_manage_partner_details_path %>
<% breadcrumbs_navigation_add (t('partner.steps.partner_details_setup')), '#' %>
<%= render_partner_breadcrumbs_navigation (t('partner.steps.partner_details_setup')) %>		
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
  <!--begin::Container-->
  <div class="container-fluid" id="kt_content_container">
    <!--begin::Layout-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div id="kt_project_users_card_pane" class="tab-pane fade show active">
        <div class="card bg-body">
          <!--begin::Card body-->
          <div class="card-body pb-0">
            <!--begin::Stepper-->
            <div class="stepper stepper-links d-flex flex-column pt-15" id="kt_create_account_stepper">
              <div class="stepper-nav mb-5">
                <!--begin::Step 1-->
                <% if can?(:edit_partner_details, Kodawarione::Partner) %>
                  <div class="stepper-item me-5 me-md-10 current" data-kt-stepper-element="nav">
                    <%= link_to t('partner.steps.partner_details_setup'), kodawarione_partner_manage_edit_partner_details_path(@partner), class: "stepper-title #{company_active_url?(kodawarione_partner_manage_edit_partner_details_path(@partner))}" %></h3>
                  </div>
                <% end %>
                <!--end::Step 1-->
                <!--begin::Step 2-->
                <% if can?(:edit_partner_member_setup, Kodawarione::Partner) %>
                  <div class="stepper-item me-5 me-md-10" data-kt-stepper-element="nav">
                    <%# link_to t('partner.steps.partner_member_setup'), kodawarione_partner_manage_edit_partner_member_setup_path(@partner), class: "stepper-title #{company_active_url?(kodawarione_partner_manage_edit_partner_member_setup_path(@partner))}" %></h3>
                  </div>
                <!--end::Step 2-->
                <% end %>
              </div>
              <div class="mx-auto mw-650px w-100 pt-15 pb-10">
                <!--begin::Step 1-->
                <div class="current" data-kt-stepper-element="content">
                  <!--begin::Wrapper-->
                  <div class="w-100">
                    <!--begin::Input group-->
                    <div class="fv-row">
                      <!--begin::Form-->
                      <%= form_with(model: @partner, url: kodawarione_partner_manage_update_partner_details_path(@partner), method: "post") do |form| %> 
                        <div class="row">
                          <% if current_admin.chief_administrator? || current_admin.super_partner? %>
                            <div class="col-12 mb-3">
                              <div class="d-flex">
                                  <%= form.label :super_partner_id, class: "form-label required fw-bolder"  %>
                              </div>
                              <%= form.select(:super_partner_id, super_partner_options_for_partner_create.map { |super_partner| [super_partner.name, super_partner.id] },{:include_blank => ( t'select.not_select')}, {:class => "form-select form-select-solid", :id =>"select2_1", :data => { :control => 'select2', 'hide-search' => true }}) %>
                              <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:super_partner_id)[0] %></p>
                            </div>
                          <% end %>
                          <div class="col-12 mb-3">
                            <div class="d-flex">
                              <%= form.label :name, class: "form-label required fw-bolder"  %>
                            </div>
                            <%= form.text_field :name, id: "name", class: "form-control shadow-none errors", maxlength: 255 %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:name)[0] %></p>
                          </div>
                          <div class="col-12 col-md-6 mb-3">
                            <div class="d-flex">
                                <%= form.label :postal_code, class: "form-label required fw-bolder"  %>
                            </div>
                            <%= form.text_field :postal_code, class: "form-control shadow-none errors", autocomplete: "off", maxlength: 7,id: "postalcode" %> 
                            <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:postal_code)[0] %></p>          
                          </div>
                          <div class="col-12 col-md-6 mb-3">
                            <div class="d-flex">
                              <%= form.label :region_name, class: "form-label required fw-bolder"  %>
                            </div>
                            <%= form.hidden_field :m_region_id,value: @partner.m_region_id ,id: "region_id" %>
                            <%= form.text_field :region_name,class: "form-control shadow-none errors",id: "region",readonly: true %>
                          </div>
                          <div class="col-12 col-md-6 mb-7">
                            <div class="d-flex">
                              <%= form.label :prefecture_name, class: "form-label required fw-bolder"  %>
                            </div>
                            <%= form.hidden_field :m_prefecture_id,value: @partner.m_prefecture_id ,id: "prefecture_id" %>
                            <%= form.text_field :prefecture_name, class: "form-control shadow-none errors",id: "prefecture",readonly: true %>
                          </div>
                          <div class="col-12 col-md-6 mb-7">
                            <div class="d-flex">
                              <%= form.label :postalcode_city, class: "form-label required fw-bolder"  %>
                            </div>
                            <%= form.text_field :postalcode_city, class: "form-control shadow-none errors",id: "city", readonly: true %>
                          </div>
                          <div class="col-12 mb-3">
                            <div class="d-flex">
                              <%= form.label :address, class: "form-label required fw-bolder"  %>
                              <label class="form-label ms-3 fs-8"> <%= t('common.building_address') %> </label>
                            </div>
                            <%= form.text_area :address, class: "form-control shadow-none errors", rows: 4, maxlength: 255, id: "address" %>
                            <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:address)[0] %></p>
                          </div>
                          <div class="col-12 mb-3 display_address">
                            <div class="d-flex">
                              <%= form.label :display_address, class: "form-label required fw-bolder mr-2"  %>
                            </div>
                            <%= form.text_area :display_address, class: "form-control shadow-none errors", maxlength: 255 ,id: "display_address" ,readonly: true%>
                            <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:display_address)[0] %></p>
                          </div>
                          <div class="col-12 mb-3">
                            <div class="d-flex">
                              <%= form.label :website_url, class: "form-label required fw-bolder"  %>
                            </div>
                            <%= form.text_field :website_url, class: "form-control shadow-none errors", id: "website_url",  maxlength: 255 %>
                            <p class="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:website_url)[0] %></p>
                          </div>
                          <div class="col-12">
                            <div class="d-flex">
                              <%= form.label :phone_no, class: "form-label required fw-bolder"  %>
                              <label class="form-label">  <%= t('common.ph_no_remark') %> </label>
                            </div>                
                            <%= form.text_field :phone_no, class: "form-control shadow-none only-num-stud errors", id: "phone_no",  maxlength: 20 %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @partner.errors.full_messages_for(:phone_no)[0] %></p>      
                          </div> 
                          <!--begin: Actions-->
                          <div class="actions d-flex justify-content-end mt-5">
                            <%= link_to t('btn.cancel'), kodawarione_partner_manage_partner_details_path(@partner), class: "btn btn-light btn-active-light-primary me-2" %>
                            <%= form.submit (t "btn.update"), :class => 'btn btn-primary text-white' %>
                          </div>
                          <!--end: Actions-->  
                        </div>  
                      <% end %>
                      <!--end::Form-->
                    </div>
                    <!--end::Input group-->
                  </div>
                  <!--end::Wrapper-->
                </div>
              </div>
            </div>
          </div>
          <!--end::Card body-->
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "company/event.js" %>
<%= javascript_pack_tag "common.js" %>
<%= javascript_pack_tag "postalcode.js" %>