<!--begin::Toolbar-->
<div class="toolbar py-5 py-lg-5 mb-0" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
        <!--begin::Page title-->
        <% breadcrumbs_navigation_add (t ('common.registration_confirm_screen1')), '#' %>
        <%= render_student_breadcrumbs_navigation(t ('common.registration_confirm_screen1')) %>		
        <!--end::Page title-->
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->
<div class="mb-9">
    <%= render partial: "student/shared/student_commitment/profile_banner" %>
</div>
<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!--begin::Content-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Navbar-->
        <%= render partial: "student/shared/students/profile_navbar", :locals =>{:current_route => "profile"} %>
		<!--end::Navbar-->
        <!--begin::Card-->
		<div class="card mb-5 mb-xl-10">
			<!--begin::Card header-->
			<div class="card-header border-0">
				<!--begin::Card title-->
				<div class="card-title m-0">
					<h3 class="fw-bolder m-0"><%=t('common.registration_confirm_screen1')%></h3>
				</div>
				<!--end::Card title-->
			</div>
			<!--end::Card header-->
			<!--begin::Form-->
            <%= form_with(model: @user_student) do |form| %>
                <%= form.hidden_field :not_step_form, :value => true %>
				<!--begin::Card body-->
		    	<div class="card-body border-top p-9">
                    <!--begin::Student Information-->
					<!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :user_logo %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8">
							<!--begin::Image input-->
							<div class="image-input image-input-outline">
                                <label class="image-input-wrapper upload-preview student-profile-upload">
                                    <%= image_tag @user_student.image.attached? && @user_student.image.persisted? ? @user_student.image : "avatar/preview.svg", class: "w-100 h-100" %>
                                    <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow edit-pen">
                                        <i class="fa fa-pen icon-sm text-muted "></i>
                                    </span>
                                    <%= form.hidden_field :image_data, :value => false , id: "image_data" %>
                                    <%= form.hidden_field :imageFlag, :value => false , id: "imageFlag" %>
                                    <%= form.file_field :image,accept: "image/png,image/gif,image/jpeg,image/jpg", :class=> "d-none input-file", :id => "image", "data-existed": form.object.image.attached?%>
                                    <input type="hidden" name="profile_avatar_remove" />
                                </label>
                                
                                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="cancel"
                                    data-bs-toggle="tooltip"
                                    data-bs-dismiss="click"
                                    title="Cancel avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                                <span type="button" id="img-remove" class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                                    data-kt-image-input-action="remove"
                                    data-bs-toggle="tooltip"
                                    data-bs-dismiss="click"
                                    title="Remove avatar">
                                    <i class="ki ki-bold-close icon-xs text-muted"></i>
                                </span>
                            </div>
                            <!--begin::Hint-->
                            <div class="py-4">
                                <% if @user_student.image.attached? && @user_student.image.persisted? %>
                                    <span class="form-text text-muted chosen-text img-name text-break"><%= @user_student.image.filename %></span>
                                <% else %>
                                    <span class="form-text text-muted chosen-text"><%=t('common.profile_upload_text')%></span>
                                <% end %>
                            </div>
                            <!--end::Hint-->
                            <%# image upload modal start%>
                            <%= render "common/image_crop" %>
                            <%# image upload modal end%>
							<!--end::Image input-->
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
					<!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :last_name %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_field :last_name, id: "last_name", class: "form-control form-control-lg form-control-solid track text-uppercase",placeholder: t('student.placeholder.last_name') %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:last_name)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :first_name %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_field :first_name, id: "first_name", class: "form-control form-control-lg form-control-solid text-uppercase track ",placeholder: t('student.placeholder.first_name') %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:first_name)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :last_name_kana %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_field :last_name_kana, id: "last_name_kana", class: "form-control form-control-lg form-control-solid track text-uppercase",placeholder: t('student.placeholder.last_name_kana') %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:last_name_kana)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :first_name_kana %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_field :first_name_kana, id: "first_name_kana", class: "form-control form-control-lg form-control-solid track text-uppercase",placeholder: t('student.placeholder.first_name_kana') %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:first_name_kana)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :birthday %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <!--begin::Input group-->
                            <div class="position-relative d-flex align-items-center birthday_datepicker ">
                                <!--begin::Icon-->
                                <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                <span class="svg-icon svg-icon-2 position-absolute mx-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.3" d="M21 22H3C2.4 22 2 21.6 2 21V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5V21C22 21.6 21.6 22 21 22Z" fill="black"></path>
                                        <path d="M6 6C5.4 6 5 5.6 5 5V3C5 2.4 5.4 2 6 2C6.6 2 7 2.4 7 3V5C7 5.6 6.6 6 6 6ZM11 5V3C11 2.4 10.6 2 10 2C9.4 2 9 2.4 9 3V5C9 5.6 9.4 6 10 6C10.6 6 11 5.6 11 5ZM15 5V3C15 2.4 14.6 2 14 2C13.4 2 13 2.4 13 3V5C13 5.6 13.4 6 14 6C14.6 6 15 5.6 15 5ZM19 5V3C19 2.4 18.6 2 18 2C17.4 2 17 2.4 17 3V5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5Z" fill="black"></path>
                                        <path d="M8.8 13.1C9.2 13.1 9.5 13 9.7 12.8C9.9 12.6 10.1 12.3 10.1 11.9C10.1 11.6 10 11.3 9.8 11.1C9.6 10.9 9.3 10.8 9 10.8C8.8 10.8 8.59999 10.8 8.39999 10.9C8.19999 11 8.1 11.1 8 11.2C7.9 11.3 7.8 11.4 7.7 11.6C7.6 11.8 7.5 11.9 7.5 12.1C7.5 12.2 7.4 12.2 7.3 12.3C7.2 12.4 7.09999 12.4 6.89999 12.4C6.69999 12.4 6.6 12.3 6.5 12.2C6.4 12.1 6.3 11.9 6.3 11.7C6.3 11.5 6.4 11.3 6.5 11.1C6.6 10.9 6.8 10.7 7 10.5C7.2 10.3 7.49999 10.1 7.89999 10C8.29999 9.90003 8.60001 9.80003 9.10001 9.80003C9.50001 9.80003 9.80001 9.90003 10.1 10C10.4 10.1 10.7 10.3 10.9 10.4C11.1 10.5 11.3 10.8 11.4 11.1C11.5 11.4 11.6 11.6 11.6 11.9C11.6 12.3 11.5 12.6 11.3 12.9C11.1 13.2 10.9 13.5 10.6 13.7C10.9 13.9 11.2 14.1 11.4 14.3C11.6 14.5 11.8 14.7 11.9 15C12 15.3 12.1 15.5 12.1 15.8C12.1 16.2 12 16.5 11.9 16.8C11.8 17.1 11.5 17.4 11.3 17.7C11.1 18 10.7 18.2 10.3 18.3C9.9 18.4 9.5 18.5 9 18.5C8.5 18.5 8.1 18.4 7.7 18.2C7.3 18 7 17.8 6.8 17.6C6.6 17.4 6.4 17.1 6.3 16.8C6.2 16.5 6.10001 16.3 6.10001 16.1C6.10001 15.9 6.2 15.7 6.3 15.6C6.4 15.5 6.6 15.4 6.8 15.4C6.9 15.4 7.00001 15.4 7.10001 15.5C7.20001 15.6 7.3 15.6 7.3 15.7C7.5 16.2 7.7 16.6 8 16.9C8.3 17.2 8.6 17.3 9 17.3C9.2 17.3 9.5 17.2 9.7 17.1C9.9 17 10.1 16.8 10.3 16.6C10.5 16.4 10.5 16.1 10.5 15.8C10.5 15.3 10.4 15 10.1 14.7C9.80001 14.4 9.50001 14.3 9.10001 14.3C9.00001 14.3 8.9 14.3 8.7 14.3C8.5 14.3 8.39999 14.3 8.39999 14.3C8.19999 14.3 7.99999 14.2 7.89999 14.1C7.79999 14 7.7 13.8 7.7 13.7C7.7 13.5 7.79999 13.4 7.89999 13.2C7.99999 13 8.2 13 8.5 13H8.8V13.1ZM15.3 17.5V12.2C14.3 13 13.6 13.3 13.3 13.3C13.1 13.3 13 13.2 12.9 13.1C12.8 13 12.7 12.8 12.7 12.6C12.7 12.4 12.8 12.3 12.9 12.2C13 12.1 13.2 12 13.6 11.8C14.1 11.6 14.5 11.3 14.7 11.1C14.9 10.9 15.2 10.6 15.5 10.3C15.8 10 15.9 9.80003 15.9 9.70003C15.9 9.60003 16.1 9.60004 16.3 9.60004C16.5 9.60004 16.7 9.70003 16.8 9.80003C16.9 9.90003 17 10.2 17 10.5V17.2C17 18 16.7 18.4 16.2 18.4C16 18.4 15.8 18.3 15.6 18.2C15.4 18.1 15.3 17.8 15.3 17.5Z" fill="black"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--end::Icon-->
                                <!--begin::Datepicker-->
                                <%= form.text_field :birthday, class: "form-control form-control-lg form-control-solid ps-12 flatpickr-input track active", id: "birthday", "data-input": "" %>
                                <!--end::Datepicker-->
                            </div>
                            <!--end::Input group-->
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:birthday)[0] %></p>
						</div>
	    				<!--end::Col-->
					</div>
					<!--end::Input group--> 
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :gender %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row py-3">
                            <div class="form-check form-check-custom form-check-solid form-check-sm">
                                <%= form.collection_radio_buttons(:gender, gender_options, :first, :second, checked: @user_student.gender.nil? ? "male" : @user_student.gender) do |b| %>
                                    <label class="me-5">
                                        <%= b.radio_button(class: "form-check-input track") %>
                                        <span class="form-check-label"></span>
                                        <%= b.text %>
                                    </label>
                                <% end %>
                            </div>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :email %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <div class="position-relative d-flex align-items-center">
                                <!--begin::Icon-->
                                <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                <span class="svg-icon svg-icon-2 position-absolute mx-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"></path>
                                        <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--end::Icon-->
                                <%= form.text_field :email, id: "email", value: current_user.email, class: "form-control form-control-lg form-control-solid track ps-12", readonly: true%>
                            </div>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:email)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :email_two %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <div class="position-relative d-flex align-items-center">
                                <!--begin::Icon-->
                                <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                <span class="svg-icon svg-icon-2 position-absolute mx-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                        <path opacity="0.3" d="M21 19H3C2.4 19 2 18.6 2 18V6C2 5.4 2.4 5 3 5H21C21.6 5 22 5.4 22 6V18C22 18.6 21.6 19 21 19Z" fill="currentColor"></path>
                                        <path d="M21 5H2.99999C2.69999 5 2.49999 5.10005 2.29999 5.30005L11.2 13.3C11.7 13.7 12.4 13.7 12.8 13.3L21.7 5.30005C21.5 5.10005 21.3 5 21 5Z" fill="currentColor"></path>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--end::Icon-->
                                <%= form.text_field :email_two, id: "email_two", placeholder: t('student.placeholder.email'), class: "form-control form-control-lg form-control-solid ps-12" %>
                            </div>
                            <div class="form-text text-muted"><%=t('student.title.cmt_label')%></div>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:email_two)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :phone_no %><%= form.label t('student.title.remark')%></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <div class="position-relative d-flex align-items-center">
                                <!--begin::Icon-->
                                <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                <span class="svg-icon svg-icon-2 position-absolute mx-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <rect x="0" y="0" width="24" height="24"/>
                                        <path d="M11.914857,14.1427403 L14.1188827,11.9387145 C14.7276032,11.329994 14.8785122,10.4000511 14.4935235,9.63007378 L14.3686433,9.38031323 C13.9836546,8.61033591 14.1345636,7.680393 14.7432841,7.07167248 L17.4760882,4.33886839 C17.6713503,4.14360624 17.9879328,4.14360624 18.183195,4.33886839 C18.2211956,4.37686904 18.2528214,4.42074752 18.2768552,4.46881498 L19.3808309,6.67676638 C20.2253855,8.3658756 19.8943345,10.4059034 18.5589765,11.7412615 L12.560151,17.740087 C11.1066115,19.1936265 8.95659008,19.7011777 7.00646221,19.0511351 L4.5919826,18.2463085 C4.33001094,18.1589846 4.18843095,17.8758246 4.27575484,17.613853 C4.30030124,17.5402138 4.34165566,17.4733009 4.39654309,17.4184135 L7.04781491,14.7671417 C7.65653544,14.1584211 8.58647835,14.0075122 9.35645567,14.3925008 L9.60621621,14.5173811 C10.3761935,14.9023698 11.3061364,14.7514608 11.914857,14.1427403 Z" fill="#000000"/>
                                        </g>
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <!--end::Icon-->
                                <%= form.text_field :phone_no, id: "phone_no", placeholder: t('student.placeholder.phone_no'), class: "only-num-stud form-control form-control-lg form-control-solid track ps-12", maxlength: 20 %>
                            </div>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:phone_no)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :postal_code %><%= t('student.title.remark') %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_field :postal_code, id: "postalcode", class: "form-control form-control-lg form-control-solid track", maxlength: 7 %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:postal_code)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div>
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.hidden_field :postal_region_id,value: @user_student.m_region_id ,id: "region_id" %>
                            <%= form.hidden_field :region_name, id: "region", class: "form-control form-control-lg form-control-solid track",readonly: true %>
                            <!--<p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%# @user_student.errors.full_messages_for(:region_name)[0] %></p>-->
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :prefecture_name %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.hidden_field :postal_prefecture_id,value: @user_student.m_prefecture_id ,id: "prefecture_id" %>
                            <%= form.text_field :prefecture_name, id: "prefecture", class: "form-control form-control-lg form-control-solid track",readonly: true %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:prefecture_name)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :postalcode_city %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_field :postalcode_city, id: "city", class: "form-control form-control-lg form-control-solid track",readonly: true %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:postalcode_city)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :address %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_area :address, id: "address", class: "form-control form-control-lg form-control-solid track",rows: 4, maxlength: 255 %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:address)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--begin::Input group-->
					<div class="row mb-6 display_address">
						<!--begin::Label-->
						<label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :display_address %></label>
						<!--end::Label-->
						<!--begin::Col-->
						<div class="col-lg-8 fv-row">
                            <%= form.text_area :display_address, id: "display_address", class: "form-control form-control-lg form-control-solid track",rows: 4, maxlength: 255 %>
                            <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:display_address)[0] %></p>
						</div>
						<!--end::Col-->
					</div>
					<!--end::Input group-->
                    <!--end::Student Information-->   
                    <div class="separator separator-dashed my-10"></div>
                    <!--begin::School Information--> 
                    <div class="my-2">
                        <h3 class="text-dark font-weight-bold mb-10"><%= t('student.title.school_info') %>:</h3>
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :school_type %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.select(:school_type, school_type_options,{:include_blank => (t'select.not_select')}, {:class => "form-select form-select-solid form-select-lg track", :data => { :control => 'select2', 'hide-search' => true}, :id => "school_type"}) %>
                                <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:school_type)[0] %></p>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :school_name %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_area :school_name, id: "school_name", class: "form-control form-control-lg form-control-solid track" %>
                                <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:school_name)[0] %></p>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :department_name %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_area :department_name, id: "department_name", class: "form-control form-control-lg form-control-solid track" %>
                                <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:department_name)[0] %></p>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :subject_system %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.select(:subject_system, subject_system_options,{:include_blank => (t'select.not_select')}, {:class => "form-select form-select-solid form-select-lg track", :data => { :control => 'select2', 'hide-search' => true}, :id => "subject_system"}) %>
                                <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:subject_system)[0] %></p>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :qualification_category_id %><%= form.label t('student.title.combo_remark')%></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.collection_select(:qualification_category_id ,qualification_options , :id ,:qualification_category, { :include_blank => false}, selected: form.object.qualification_category_id,multiple: true, :class=> "form-select form-select-solid form-select-lg select2 track", :data => { :control => 'select2', 'hide-search' => true, 'close-on-select' => false }) %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :qualification_type_id %><%= form.label t('student.title.combo_remark')%></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.collection_select(:qualification_type_id ,qualification_details_options , :id ,:qualification_type, { :include_blank => false}, selected: form.object.qualification_type_id,multiple: true, :class=> "form-select form-select-solid form-select-lg select2 track", :data => { :control => 'select2', 'hide-search' => true, 'close-on-select' => false }) %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label required fw-bold fs-6"><%= form.label :graduation_date %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <div id="graduation_date_picker" class="position-relative d-flex align-items-center datepicker">
                                    <!--begin::Icon-->
                                    <!--begin::Svg Icon | path: icons/duotune/general/gen014.svg-->
                                    <span class="svg-icon svg-icon-2 position-absolute mx-4">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                            <path opacity="0.3" d="M21 22H3C2.4 22 2 21.6 2 21V5C2 4.4 2.4 4 3 4H21C21.6 4 22 4.4 22 5V21C22 21.6 21.6 22 21 22Z" fill="black"></path>
                                            <path d="M6 6C5.4 6 5 5.6 5 5V3C5 2.4 5.4 2 6 2C6.6 2 7 2.4 7 3V5C7 5.6 6.6 6 6 6ZM11 5V3C11 2.4 10.6 2 10 2C9.4 2 9 2.4 9 3V5C9 5.6 9.4 6 10 6C10.6 6 11 5.6 11 5ZM15 5V3C15 2.4 14.6 2 14 2C13.4 2 13 2.4 13 3V5C13 5.6 13.4 6 14 6C14.6 6 15 5.6 15 5ZM19 5V3C19 2.4 18.6 2 18 2C17.4 2 17 2.4 17 3V5C17 5.6 17.4 6 18 6C18.6 6 19 5.6 19 5Z" fill="black"></path>
                                            <path d="M8.8 13.1C9.2 13.1 9.5 13 9.7 12.8C9.9 12.6 10.1 12.3 10.1 11.9C10.1 11.6 10 11.3 9.8 11.1C9.6 10.9 9.3 10.8 9 10.8C8.8 10.8 8.59999 10.8 8.39999 10.9C8.19999 11 8.1 11.1 8 11.2C7.9 11.3 7.8 11.4 7.7 11.6C7.6 11.8 7.5 11.9 7.5 12.1C7.5 12.2 7.4 12.2 7.3 12.3C7.2 12.4 7.09999 12.4 6.89999 12.4C6.69999 12.4 6.6 12.3 6.5 12.2C6.4 12.1 6.3 11.9 6.3 11.7C6.3 11.5 6.4 11.3 6.5 11.1C6.6 10.9 6.8 10.7 7 10.5C7.2 10.3 7.49999 10.1 7.89999 10C8.29999 9.90003 8.60001 9.80003 9.10001 9.80003C9.50001 9.80003 9.80001 9.90003 10.1 10C10.4 10.1 10.7 10.3 10.9 10.4C11.1 10.5 11.3 10.8 11.4 11.1C11.5 11.4 11.6 11.6 11.6 11.9C11.6 12.3 11.5 12.6 11.3 12.9C11.1 13.2 10.9 13.5 10.6 13.7C10.9 13.9 11.2 14.1 11.4 14.3C11.6 14.5 11.8 14.7 11.9 15C12 15.3 12.1 15.5 12.1 15.8C12.1 16.2 12 16.5 11.9 16.8C11.8 17.1 11.5 17.4 11.3 17.7C11.1 18 10.7 18.2 10.3 18.3C9.9 18.4 9.5 18.5 9 18.5C8.5 18.5 8.1 18.4 7.7 18.2C7.3 18 7 17.8 6.8 17.6C6.6 17.4 6.4 17.1 6.3 16.8C6.2 16.5 6.10001 16.3 6.10001 16.1C6.10001 15.9 6.2 15.7 6.3 15.6C6.4 15.5 6.6 15.4 6.8 15.4C6.9 15.4 7.00001 15.4 7.10001 15.5C7.20001 15.6 7.3 15.6 7.3 15.7C7.5 16.2 7.7 16.6 8 16.9C8.3 17.2 8.6 17.3 9 17.3C9.2 17.3 9.5 17.2 9.7 17.1C9.9 17 10.1 16.8 10.3 16.6C10.5 16.4 10.5 16.1 10.5 15.8C10.5 15.3 10.4 15 10.1 14.7C9.80001 14.4 9.50001 14.3 9.10001 14.3C9.00001 14.3 8.9 14.3 8.7 14.3C8.5 14.3 8.39999 14.3 8.39999 14.3C8.19999 14.3 7.99999 14.2 7.89999 14.1C7.79999 14 7.7 13.8 7.7 13.7C7.7 13.5 7.79999 13.4 7.89999 13.2C7.99999 13 8.2 13 8.5 13H8.8V13.1ZM15.3 17.5V12.2C14.3 13 13.6 13.3 13.3 13.3C13.1 13.3 13 13.2 12.9 13.1C12.8 13 12.7 12.8 12.7 12.6C12.7 12.4 12.8 12.3 12.9 12.2C13 12.1 13.2 12 13.6 11.8C14.1 11.6 14.5 11.3 14.7 11.1C14.9 10.9 15.2 10.6 15.5 10.3C15.8 10 15.9 9.80003 15.9 9.70003C15.9 9.60003 16.1 9.60004 16.3 9.60004C16.5 9.60004 16.7 9.70003 16.8 9.80003C16.9 9.90003 17 10.2 17 10.5V17.2C17 18 16.7 18.4 16.2 18.4C16 18.4 15.8 18.3 15.6 18.2C15.4 18.1 15.3 17.8 15.3 17.5Z" fill="black"></path>
                                        </svg>
                                    </span>
                                    <!--end::Svg Icon-->
                                    <!--end::Icon-->
                                    <!--begin::Datepicker-->
                                    <%= form.text_field :graduation_date, class: "form-control form-control-lg form-control-solid track ps-12 flatpickr-input",placeholder: t('student.placeholder.grad_date_picker'), id: "graduation_date", "data-input": "" %>
                                    <!--end::Datepicker-->
                                </div>
                                <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:graduation_date)[0] %></p>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::School Information--> 
                    <div class="separator separator-dashed my-10"></div>
                    <!--begin::Job Information--> 
                    <div class="my-2">
                        <h3 class="text-dark font-weight-bold mb-10"><%= t('student.title.job_info') %>:</h3>
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :desire_industry_type_id %><%= form.label t('student.title.combo_remark')%></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.collection_select(:desire_industry_type_id,industry_type_options , :id ,:industry_name, { :include_blank => false}, selected: form.object.desire_industry_type_id,multiple: true, :class=> "form-select form-select-lg form-select-solid select2 track",data: {:placeholder => t('student.placeholder.industry_type')+t('common.default_placeholder'), :control => 'select2', 'hide-search' => true, 'close-on-select' => false }) %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :desire_job_type_id %><%= form.label t('student.title.combo_remark')%></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.collection_select(:desire_job_type_id,occupation_options , :id ,:occupation_name, { :include_blank => false}, selected: form.object.desire_job_type_id,multiple: true, :class=> "form-select form-select-lg form-select-solid select2 track",data: {:placeholder => t('student.placeholder.job_type')+t('common.default_placeholder'), :control => 'select2', 'hide-search' => true, 'close-on-select' => false }) %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :m_region_id %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.collection_select(:m_region_id ,region_options , :id ,:region_name, { :include_blank => ( t'select.not_select')}, selected: form.object.m_region_id, :class=> "form-select form-select-solid track",data: {:placeholder => t('student.placeholder.region')+t('common.default_placeholder'), :control => 'select2', 'hide-search' => true }) %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :m_prefecture_id %><%= form.label t('student.title.combo_remark')%></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.collection_select(:m_prefecture_id,prefecture_options , :id ,:prefecture_name, { :include_blank => false}, selected: form.object.m_prefecture_id,multiple: true, :class=> "form-select form-select-solid form-select-lg select2 track",data: {:placeholder => t('student.placeholder.prefecture')+t('common.default_placeholder'), :control => 'select2', 'hide-search' => true, 'close-on-select' => false }) %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :job_info %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_area :job_info, id: "job_info", :class=> "form-control form-control-lg form-control-solid track", placeholder: t('student.placeholder.job_info'), maxlength: 255, rows: 4 %>
                                <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @user_student.errors.full_messages_for(:job_info)[0] %></p>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Job Information--> 
                    <div class="separator separator-dashed my-10"></div>
                    <!--begin::Activity Information--> 
                    <div class="my-2">
                        <h3 class="text-dark font-weight-bold mb-10"><%= t('student.title.activity_info') %>:</h3>
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :club_name %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_field :club_name, id: "club_name", :class=> "form-control form-control-lg form-control-solid", placeholder: t('student.placeholder.club_name'), maxlength: 60 %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :club_position %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_field :club_position, id: "club_position", :class=> "form-control form-control-lg form-control-solid track", placeholder:  t('student.placeholder.club_position'), maxlength: 60 %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :club_detail_activity %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_field :club_detail_activity, id: "club_detail_activity", :class=> "form-control form-control-lg form-control-solid track", placeholder:  t('student.placeholder.club_detail_activity'), maxlength: 60 %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :outside_school_activity %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <!--begin::Options-->
                                <div class="row checkbox-inline px-3 pt-4">
                                    <%= form.fields_for :outside_school_activity  do |f| %>   
                                        <% Student::Student.outside_activities.each do |k,v| %>
                                            <div class="col-12 col-xl-6 col-lg-6 col-md-6  m-0 p-0">
                                                <label  class= "form-check form-check-sm form-check-custom form-check-solid me-5 mb-5">
                                                    <%= f.check_box "#{v}", { :checked => @user_student.outside_school_activity.nil?  ? false : @user_student.outside_school_activity[v-1] == 1  ,class: "form-check-input track" }%>
                                                    <span class="form-check-label"></span>
                                                    <%= f.label "#{v}", t("student.outside_activity.#{k}"), id: "outside_school_activity_#{v}", class: "fw-bold ps-2 fs-6 mb-0" %>
                                                </label>
                                            </div>
                                        <% end %>
                                    <% end %>
                                </div>
                            </div>
                            <!--end::Options-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :club_guide %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_area :club_guide, id: "club_guide", :class=> "form-control form-control-lg form-control-solid track", placeholder: t('student.placeholder.club_guide'), maxlength: 255, rows: 4 %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :is_beelab_activity_participate %></label>
                            <div class="col-lg-8 fv-row">
                                <%= form.select(:is_beelab_activity_participate, is_beelab_activity_participate_options,{:include_blank => ( t'select.not_select')}, {:class => "form-control form-control-lg form-control-solid track", :id => "is_beelab_activity_participate"}) %>
                            </div>
                        </div>
                        <div class="row mb-6">
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :club_guide %></label>
                            <div class="col-lg-8 fv-row">
                                <%= form.text_field :beelab_college_achievements, id: "beelab_college_achievements", :class=> "form-control form-control-lg form-control-solid track", placeholder: t('student.placeholder.beelab_college_achievements'), maxlength: 60 %>
                            </div>
                        </div>
                        -->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :sns_blog_for_pr %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <%= form.text_area :sns_blog_for_pr, id: "sns_blog_for_pr", :class=> "form-control form-control-lg form-control-solid track", placeholder: t('student.placeholder.sns_blog_for_pr'), maxlength: 255, rows: 4 %>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                        <!--begin::Input group-->
                        <div class="row mb-6">
                            <%= form.hidden_field :haveFileFlag, :value => false , id: "haveFileFlag" %>
                            <%= form.file_field :attachment_for_pr,accept: 'application/pdf', :class=> "track d-none", :id => "upload","data-existed": form.object.attachment_for_pr.attached? %>
                            <!--begin::Label-->
                            <label class="col-lg-4 col-form-label fw-bold fs-6"><%= form.label :attachment_for_pr %></label>
                            <!--end::Label-->
                            <!--begin::Col-->
                            <div class="col-lg-8 fv-row">
                                <label for="upload" class="truncate form-control form-control-lg form-control-solid cursor-pointer ">
                                    <% if form.object.attachment_for_pr.attached? && form.object.attachment_for_pr.persisted? %>
                                        <span class="file-chosen"><%= form.object.attachment_for_pr.filename %></span>
                                    <% else %>
                                        <span class="file-chosen"><%= t('student.title.pdf_text') %></span>
                                    <% end %>
                                    <button type="button" class="close btn btn-outline-none fw-bold fs-2 p-0" id="remove_file">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </label>
                            </div>
                            <!--end::Col-->
                        </div>
                        <!--end::Input group-->
                    </div>
                    <!--end::Activity Information--> 
				</div>
			    <!--end::Card body-->
                <!--begin::Actions-->
                <div class="card-footer d-flex justify-content-end py-6 px-9">
                    <%= link_to t('btn.cancel'), edit_student_student_path, class: "btn btn-light btn-active-light-primary me-2" %>
                    <%= form.submit t('btn.submit'), class: "btn btn-primary" %>
                </div>
                <!--end::Actions-->
            <% end %>
            <!--end::Form-->
        </div>
		<!--end::Card-->
    </div>
    <!--end::Content-->
</div>
<!--end::Container-->
<%# render "users/shared/toastr" %>
<%= javascript_pack_tag "common.js" %>
<%= javascript_pack_tag "student/students.js" %>
<%= javascript_pack_tag "postalcode.js" %>