<%= form_for(@admin_event, url: url, :method => "post") do |form| %>
  <div class="row col-12 event-registration px-1 px-sm-4 mt-3">  
    <section class="col-md-12 mb-5 pl-5"> 
      <div class="d-container shadow py-4 bg-white" style="border-radius: 0.8rem">
        <div class="col-12 pb-4 pt-3">
          <span class="h4 com-font-color"><%= t('event.title.event_information')%></span>
        </div>

        <div class="col-12 col-sm-5 col-md-3 mb-3">
          <div class="d-flex">
            <%= form.label :event_logo, class: "form-label"  %>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5 mb-3">
          <div class="d-flex justify-content-center">
            <div class="image-input image-input-outline w-100" id="kt_image_4">
              <label class="image-input-wrapper event upload-kodawari-preview w-100 min-h-200px " >
                <%= image_tag @admin_event.event_image.attached? && @admin_event.event_image.persisted? ? @admin_event.event_image : "avatar/preview.svg", class: "w-100 h-100" %>
                <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow edit-pen">
                  <i class="fa fa-pen icon-sm text-muted "></i>
                </span>
                <%= form.hidden_field :image_data, :value => false , id: "image_data" %>
                <%= form.hidden_field :imageFlag, :value => false , id: "imageFlag" %>
                <%= form.file_field :event_image,accept: "image/png,image/gif,image/jpeg,image/jpg", :class=> "d-none kodawari-banner-input-file", :id => "image", "data-existed": form.object.event_image.attached?%>
                <input type="hidden" name="profile_avatar_remove" />              
              </label>                        
              <!--end::Edit button-->
              <!--begin::Cancel button-->
              <span class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                  data-kt-image-input-action="cancel"
                  data-bs-toggle="tooltip"
                  data-bs-dismiss="click"
                  title="Cancel avatar">
                  <i class="ki ki-bold-close icon-xs text-muted"></i>
              </span>
              <!--end::Cancel button-->                   
              <!--begin::Remove button-->
              <span type="button" id="img-remove" class="btn btn-icon btn-circle btn-color-muted btn-active-color-primary w-25px h-25px bg-body shadow"
                data-kt-image-input-action="remove"
                data-bs-toggle="tooltip"
                data-bs-dismiss="click"
                title="Remove avatar">
                <i class="ki ki-bold-close icon-xs text-muted"></i>
              </span>
              <!--end::Remove button-->                           
            </div>
          </div>
          <div class="d-flex justify-content-center col-12 py-4 px-0">
            <% if @admin_event.event_image.attached? && @admin_event.event_image.persisted? %>
              <span class="chosen-event-text img-name text-break"><%= @admin_event.event_image.filename %></span>
            <% else %>
              <span class="chosen-event-text text-break"><%=t('common.event_profile_upload')%></span>
            <% end %>   
            <%= render "common/banner_image_crop" %>
          </div>
        </div>

        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :event_start_date, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <div class="date-wrapper" id="e_start_date" >
            <%= form.text_field :event_start_date, "data-input": "", class: "form-control shadow-none errors", id: "event_start_date", data: { :placeholder => t("event.placeholder.date_format") } %>
            <a class="icon" title="toggle" data-toggle><i class="far fa-calendar-alt"></i></a>
          </div>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:event_start_date)[0] %></p>                                  
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :event_end_date, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <div class="date-wrapper" id="e_end_date">
            <%= form.text_field :event_end_date, "data-input": "", class: "form-control shadow-none errors", id: "event_end_date", data: { :placeholder => t("event.placeholder.date_format") } %>
            <a class="icon" title="toggle" data-toggle><i class="far fa-calendar-alt"></i></a>
          </div>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:event_end_date)[0] %></p>                                  
        </div>
        <div class="col-12 mb-3">
          <div class="d-flex">
            <%= form.label :event_name, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.text_field :event_name, id: "event_name", class: "form-control shadow-none errors", placeholder: t("event.placeholder.event_name"), maxlength: 255 %>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:event_name)[0] %></p> 
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :apply_event_limit, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.text_field :apply_event_limit, id: "apply_event_limit", class: "form-control shadow-none errors",placeholder: '', maxlength: 5, value: number_with_delimiter(form.object.apply_event_limit)%>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:apply_event_limit)[0] %></p> 
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :event_show_option, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
            <%#= form.select(:event_show_option, admin_event_show_options,{:include_blank => ( t'select.not_select')}, {:class => "form-control shadow-none errors", :id =>"event_show_option"}) %>
              <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:event_show_option)[0] %></p>                                 
        </div>

        <!--begin::Row-->
          <div class="col-12 mb-3">
            <div class="radio-margin">
                <div class="d-flex" >
                    <%= form.label :venue, class: "form-label" %>
                    <label class="ml-auto required-label"> <%= t('common.require') %> </label>
                </div>
                <%= form.radio_button :venue_types, 1, { :checked => @offline_sts === "1" ? true : false }%>
                <%= form.label :venue_types, t("event.venue_types.offline"), value: 1 %>

                <%= form.radio_button :venue_types, 2, { :checked => @online_sts  === "1" ? true : false } %> 
                <%= form.label :venue_types, t("event.venue_types.online"), value: 2 %>

                <%= form.radio_button :venue_types, 3, { :checked => @both_sts  === "1" ? true : false } %> 
                <%= form.label :venue_types, t("event.venue_types.both"), value: 3 %>
              </div>

              <%= form.text_area :venue, id: "venue", class: "form-control shadow-none errors venue_type_name",placeholder: t("event.placeholder.venue"), rows: 4 %>
              <p class ="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:venue)[0] %></p>

          </div>
        <!--end::Row-->

        <div class="col-12 mb-3">
          <div class="d-flex">
            <%= form.label :category , class: "form-label" %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.select :category, options_for_select(event_category_options,selected: form.object.category), {}, {:multiple => true, :class => "form-control  shadow-none errors",:id => "event_category",data: {:placeholder => ''} } %>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:category)[0] %></p>
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :post_start_date, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <div class="date-wrapper" id="p_start_date">
            <%= form.text_field :post_start_date, "data-input": "", class: "form-control shadow-none errors", id: "post_start_date", data: { :placeholder => t("event.placeholder.date_format") } %>
            <a class="icon" title="toggle" data-toggle><i class="far fa-calendar-alt"></i></a>
          </div>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:post_start_date)[0] %></p>                                  
        </div>
        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :post_end_date, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <div class="date-wrapper" id="p_end_date">
            <%= form.text_field :post_end_date, "data-input": "", class: "form-control shadow-none errors", id: "post_end_date", data: { :placeholder => t("event.placeholder.date_format") } %>
            <a class="icon" title="toggle" data-toggle><i class="far fa-calendar-alt"></i></a>
          </div>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:post_end_date)[0] %></p>                                  
        </div>

        <div class="col-12 col-lg-6 mb-3">
          <div class="d-flex">
            <%= form.label :application_start_date, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <div class="date-wrapper" id="application_start_date_picker">
            <%= form.text_field :application_start_date, "data-input": "", class: "form-control shadow-none errors", id: "application_start_date", data: { :placeholder => t("event.placeholder.date_format") } %>
            <a class="icon" title="toggle" data-toggle><i class="far fa-calendar-alt"></i></a>
          </div>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:application_start_date)[0] %></p>                                  
        </div>
        <div class="col-12 col-lg-6 mb-3">
          <div class="d-flex">
            <%= form.label :application_deadline, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <div class="date-wrapper" id="application_deadline_picker">
            <%= form.text_field :application_deadline, "data-input": "", class: "form-control shadow-none errors", id: "application_deadline", data: { :placeholder => t("event.placeholder.date_format") } %>
            <a class="icon" title="toggle" data-toggle><i class="far fa-calendar-alt"></i></a>
          </div>
          <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:application_deadline)[0] %></p>                                  
        </div>
        <div class="col-12 mb-3 hide-trix-toolbar">
          <div class="d-flex">
            <%= form.label :event_content, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
            <%= form.rich_text_area :event_content, id: "content",class: "shadow-none errors", placeholder: t("event.placeholder.event_content")%>
            <p class="ms-invalid-feedback mt-1"><%= admin_event.errors.full_messages_for(:event_content)[0] %></p>                                  
        </div>
      </div>        
      <div class="actions d-flex justify-content-center mt-5">
        <%= form.submit (t "btn.update"), :class => 'custom-btn text-white' %>
      </div>        
    </section> 
  </div>  
<% end %>
<%= javascript_pack_tag "company/event.js" %>
<%= javascript_pack_tag "common.js" %>
