<!--begin::Separator-->
<div class="separator"></div>
<!--end::Separator-->
<% if banner == true %>
    <% if @company_details.cover_photo.attached? %>
        <div class="d-none d-lg-block bgi-no-repeat bgi-size-cover bgi-position-center" style="background-image: url(<%= url_for(@company_details.cover_photo) %>)">
    <% else %>
        <div class="d-none d-lg-block bgi-no-repeat bgi-size-cover bgi-position-center landing-dark-bg" style="background-image: url(<%= asset_path 'media/svg/illustrations/landing.svg' %>)">
    <% end %>
<% end %>
<!--begin::Header-->
<div class="d-none d-sm-none d-md-none d-lg-block">
    <div class="landing-header bg-body h-75px" data-kt-sticky="true" data-kt-sticky-name="landing-header" data-kt-sticky-offset="{default: '200px', lg: '300px'}">
        <!--begin::Container-->
        <div class="container">
            <!--begin::Wrapper-->
            <div class="d-flex align-items-center justify-content-between">
                <!--begin::Logo-->
                <div class="d-flex align-items-center flex-equal">
                    <!--begin::Mobile menu toggle-->
                    <button class="btn btn-icon btn-active-color-primary me-3 d-flex d-lg-none" id="kt_landing_menu_toggle">
                        <!--begin::Svg Icon | path: icons/duotune/abstract/abs015.svg-->
                            <span class="svg-icon svg-icon-2hx">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                    <path d="M21 7H3C2.4 7 2 6.6 2 6V4C2 3.4 2.4 3 3 3H21C21.6 3 22 3.4 22 4V6C22 6.6 21.6 7 21 7Z" fill="black" />
                                    <path opacity="0.3" d="M21 14H3C2.4 14 2 13.6 2 13V11C2 10.4 2.4 10 3 10H21C21.6 10 22 10.4 22 11V13C22 13.6 21.6 14 21 14ZM22 20V18C22 17.4 21.6 17 21 17H3C2.4 17 2 17.4 2 18V20C2 20.6 2.4 21 3 21H21C21.6 21 22 20.6 22 20Z" fill="black" />
                                </svg>
                            </span>
                        <!--end::Svg Icon-->
                    </button>
                    <!--end::Mobile menu toggle-->
                    <!--begin::Logo image-->
                    <% if @company_details.image.attached? %>
                        <%= link_to company_page_home_path do %>
                            <%= image_tag @company_details.image, class: "logo-default h-50px h-lg-50px" %>
                            <%= image_tag @company_details.image, class: "logo-sticky h-50px h-lg-50px" %>
                        <% end %>
                    <% else %>
                        <%= link_to company_page_home_path do %>
                            <%= image_tag "avatar/preview.svg", :class=> "logo-default h-50px h-lg-50px" %>
                            <%= image_tag "avatar/preview.svg", :class=> "logo-sticky h-50px h-lg-50px" %>
                        <% end %>
                    <% end %>
                    <!--end::Logo image-->
                    <!--begin::Company Info-->
                    <div class="ms-3 d-flex align-items-center">
                        <div class="d-flex align-items-start flex-column">
                            <h3 class="text-dark fs-3 mb-0 position-relative">
                                <%= @company_details.company_name %>
                                <div class="favourite-company action-btn position-absolute  cursor-pointer top-50 start-100 translate-middle ms-10 web" id="<%= @company_details.id %>_web">
                                    <i class="flaticon-black fs-2  cursor-pointer <%= @student_favourite_arr.include?(@company_details.id) ? 'text-danger' : 'text-secondary' %>"></i> 
                                </div>
                            </h3>
                            <div class="d-flex flex-column">
                                <% if @company_details.website_url.present?%>
                                    <%= link_to @company_details.website_url, "http://"+@company_details.website_url, target: "_blank",class: "text-muted fs-8 mb-1" %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <!--end::Company Info-->
                </div>
                <!--end::Logo-->
                <!--begin::Menu wrapper-->
                <div class="d-lg-block" id="kt_header_nav_wrapper">
                    <div class="d-lg-block p-5 p-lg-0" data-kt-drawer="true" data-kt-drawer-name="landing-menu" data-kt-drawer-activate="{default: true, lg: false}" data-kt-drawer-overlay="true" data-kt-drawer-width="200px" data-kt-drawer-direction="start" data-kt-drawer-toggle="#kt_landing_menu_toggle" data-kt-swapper="true" data-kt-swapper-mode="prepend" data-kt-swapper-parent="{default: '#kt_body', lg: '#kt_header_nav_wrapper'}">
                        <!--begin::Menu-->
                        <div class="menu menu-column flex-nowrap menu-rounded menu-lg-row menu-title-gray-500 menu-state-title-primary nav nav-flush fs-5 fw-bold" id="kt_landing_menu">
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%= link_to t('commitment_profile.title.commitment_profile_title'), company_page_home_path, class: "menu-link nav-link fs-6 py-3 px-2 px-xxl-4 text-gray-700 text-hover-primary #{company_active_url?(company_page_home_path)} #{company_active_url?(event_details_path) if params[:event_id].present?}"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%= link_to t('commitment_profile.title.about_us_title'), company_page_about_us_path, class: "menu-link nav-link fs-6 py-3 px-2 px-xxl-4 text-gray-700 text-hover-primary #{company_active_url?(company_page_about_us_path)}"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%= link_to t('commitment_profile.title.member_title'), company_page_members_path, class: "menu-link nav-link fs-6 py-3 px-2 px-xxl-4 text-gray-700 text-hover-primary #{company_active_url?(company_page_members_path)}"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%= link_to t('activity.title'), company_page_activity_path(@company_details.id), class: "menu-link nav-link fs-6 py-3 px-2 px-xxl-4 text-gray-700 text-hover-primary #{company_active_url?(company_page_activity_path)} #{company_active_url?(activity_details_path) if params[:activity_id].present?}"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->                            
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%= link_to t('interview_story.title.interview_story_title'), company_page_stories_path(@company_details.id), class: "menu-link nav-link fs-6 py-3 px-2 px-xxl-4 text-gray-700 text-hover-primary #{company_active_url?(company_page_stories_path)} #{company_active_url?(story_details_path) if params[:story_id].present?}"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%= link_to t('commitment_profile.title.recruitment_title'), company_page_recruitment_path(@company_details.id), class: "menu-link nav-link fs-6 py-3 px-2 px-xxl-4 text-gray-700 text-hover-primary #{company_active_url?(company_page_recruitment_path)} #{company_active_url?(vacancy_details_path) if params[:vacancy_id].present?}"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%# link_to "Vacancies", company_page_vacancies_path, class: "menu-link nav-link py-3 px-4 px-xxl-6 "  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                            <!--begin::Menu item-->
                            <div class="menu-item">
                                <!--begin::Menu link-->
                                <%# link_to "Events", company_page_events_path, class: "menu-link nav-link py-3 px-4 px-xxl-6"  %>
                                <!--end::Menu link-->
                            </div>
                            <!--end::Menu item-->
                        </div>
                        <!--end::Menu-->
                    </div>
                </div>
                <!--end::Menu wrapper-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Container-->
    </div>
</div>
<!--end::Header-->
<% if banner == true %>
        <!--begin::Landing hero-->
        <div class="d-none d-lg-block d-flex flex-column flex-center w-100 min-h-300px min-h-lg-400px px-9">
        </div>
        <!--end::Landing hero-->
    </div>
<% end %>

<!--begin::Mobile Header-->
<div class="d-block d-lg-none d-xl-none">
    <!--begin::Mobile Banner-->
    <% if @company_details.cover_photo.attached? %>
        <div class="bgi-no-repeat bgi-size-cover bgi-position-center w-100 h-100" style="background-image: url(<%= url_for(@company_details.cover_photo) %>)">
    <% else %>
        <div class="bgi-no-repeat bgi-size-cover bgi-position-center w-100 h-100 landing-dark-bg" style="background-image: url(<%= asset_path 'media/svg/illustrations/landing.svg' %>)">
    <% end %>
        <!--begin::Landing hero-->
        <div class=" d-flex flex-column flex-center w-100 min-h-300px px-9">
        </div>
        <!--end::Landing hero-->
    </div>
    <!--end::Mobile Banner-->
    <!--begin::Mobile Nav-->
    <div class="card-body">
        <!--begin::Logo-->
        <div class="d-flex align-items-center flex-equal">
            <!--begin::Logo image-->
            <% if @company_details.image.attached? %>
                <%= link_to company_page_home_path, class: "d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px mt-n20" do %>
                    <%= image_tag @company_details.image, class: "mw-75px" %>
                <% end %>
            <% else %>
                <%= link_to company_page_home_path, class: "d-flex flex-center flex-shrink-0 bg-light rounded w-100px h-100px" do %>
                    <%= image_tag "avatar/preview.svg", :class=> " mw-75px" %>
                <% end %>
            <% end %>
            <!--end::Logo image-->
        </div>
        <!--end::Logo-->
        <!--begin::Company Info-->
        <div class="d-flex align-items-center mt-5">
            <div class="d-flex align-items-start flex-column">
                <h1 class="text-dark fs-1 mb-0 fw-bolder position-relative">
                    <%= @company_details.company_name %>
                    <div class="favourite-company action-btn position-absolute  cursor-pointer top-50 start-100 translate-middle ms-10 mobile" id="<%= @company_details.id %>_mobile">
                        <i class="flaticon-black fs-2  cursor-pointer <%= @student_favourite_arr.include?(@company_details.id) ? 'text-danger' : 'text-secondary' %>"></i> 
                    </div>
                </h3>
                <div class="d-flex flex-column">
                    <% if @company_details.website_url.present?%>
                        <%= link_to @company_details.website_url, "http://"+@company_details.website_url, target: "_blank",class: "text-muted fs-6 mt-3" %>
                    <% end %>
                </div>
            </div>
        </div>
        <!--end::Company Info-->
        <!--begin::Nav-->
        <div class="d-flex h-55px border-bottom" style="white-space: nowrap; overflow-x: auto;">
            <ul class="nav nav-stretch nav-line-tabs nav-line-tabs-2x border-transparent fs-5 fw-bolder flex-nowrap">
                <!--begin::Nav item-->
                <li class="nav-item">
                    <%= link_to t('commitment_profile.title.commitment_profile_title'), company_page_home_path, class: "nav-link text-active-primary fs-7 mx-3 #{company_active_url?(company_page_home_path)} #{company_active_url?(event_details_path) if params[:event_id].present?}"  %>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item">
                    <%= link_to t('commitment_profile.title.about_us_title'), company_page_about_us_path, class: "nav-link text-active-primary fs-7 mx-3 #{company_active_url?(company_page_about_us_path)}"  %>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item">
                    <%= link_to t('commitment_profile.title.member_title'), company_page_members_path, class: "nav-link text-active-primary fs-7 mx-3 #{company_active_url?(company_page_members_path)}"  %>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item">
                    <%= link_to t('activity.title'), company_page_activity_path(@company_details.id), class: "nav-link text-active-primary fs-7 mx-3 #{company_active_url?(company_page_activity_path)} #{company_active_url?(activity_details_path) if params[:activity_id].present?}"  %>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item">
                    <%= link_to t('interview_story.title.interview_story_title'), company_page_stories_path(@company_details.id), class: "nav-link text-active-primary fs-7 mx-3 #{company_active_url?(company_page_stories_path)} #{company_active_url?(story_details_path) if params[:story_id].present?}"  %>
                </li>
                <!--end::Nav item-->
                <!--begin::Nav item-->
                <li class="nav-item">
                    <%= link_to t('commitment_profile.title.recruitment_title'), company_page_recruitment_path(@company_details.id), class: "nav-link text-active-primary fs-7 mx-3 #{company_active_url?(company_page_recruitment_path)} #{company_active_url?(vacancy_details_path) if params[:vacancy_id].present?}"  %>
                </li>
                <!--end::Nav item-->
            </ul>
        </div>
        <!--end::Nav-->
    </div>
    <!--end::Mobile Nav-->
</div>
<!--end::Mobile Header-->
<%= javascript_pack_tag "student/students.js" %>