<!--begin::Body-->
<body id="kt_body" data-bs-spy="scroll" data-bs-target="#kt_landing_menu" data-bs-offset="200" class="bg-white position-relative">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
         <!--begin::Header Section-->
        <div class="mb-0">
            <!--begin::Wrapper-->
            <%= render partial: "company_page/header", :locals =>{:banner => false} %>
            <!--end::Wrapper-->
        </div>
        <!--end::Header Section-->
            <!--begin::Container-->
            <div class="container w-100 w-lg-75 w-xl-1000px">
                <!--begin::About-->
                <% if @company_commitment_profile.company_message.present? || @company_commitment_profile.other_message.present? || @company_commitment_profile.company_vision_mission.present? || @company_commitment_profile.what_we_do.present? || @company_commitment_profile.how_we_do.present? %>
                    <% if @company_commitment_profile.company_message.present? %>
                        <div class="mt-4 mt-md-5 mt-lg-20 pb-4 pb-md-5 pb-lg-10">
                            <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('company_message') %></h3>
                            <div class="fs-6 fw-bold text-gray-700 px-4">
                                <%= @company_commitment_profile.company_message %>
                            </div>
                        </div>
                    <% end %>
                    <% if @company_commitment_profile.other_message.present? %>
                        <div class="mt-4 mt-md-5 mt-lg-20 pb-4 pb-md-5 pb-lg-10">
                            <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('other_message') %></h3>
                            <div class="fs-6 fw-bold text-gray-700 px-4">
                                <%= @company_commitment_profile.other_message %>
                            </div>
                        </div>
                    <% end %>
                    <% if @company_commitment_profile.company_vision_mission.present? %>
                        <div class="mt-4 mt-md-5 mt-lg-20 pb-4 pb-md-5 pb-lg-10">
                            <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('company_vision_mission') %></h3>
                            <div class="fs-6 fw-bold text-gray-700 px-4">
                                <%= @company_commitment_profile.company_vision_mission %>
                            </div>
                        </div>
                    <% end %>
                    <% if @company_commitment_profile.what_we_do.present? %>
                        <div class="mt-4 mt-md-5 mt-lg-20 pb-4 pb-md-5 pb-lg-10">
                            <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('what_we_do') %></h3>
                            <div class="fs-6 fw-bold text-gray-700 px-4">
                                <%= @company_commitment_profile.what_we_do %>
                            </div>
                        </div>
                    <% end %>
                    <% if @company_commitment_profile.how_we_do.present? %>
                        <div class="mt-4 mt-md-5 mt-lg-20 pb-4 pb-md-5 pb-lg-10">
                            <h3 class="text-center fs-2x text-dark fw-bolder w-100 mb-10"><%= Company::Company.human_attribute_name('how_we_do') %></h3>
                            <div class="fs-6 fw-bold text-gray-700 px-4">
                                <%= @company_commitment_profile.how_we_do %>
                            </div>
                        </div>
                    <% end %>
                <% else %>
                    <div class="card shadow-sm mt-20" style="background-color: white;">
                        <!--begin::Card body-->
                        <div class="card-body p-0">
                            <div class="card-px text-center py-5 my-5">
                                <h2 class="fs-2x fw-bolder mb-10"><%= t('commitment_profile.title.about_us_title')%></h2>
                                <p class="text-gray-400 fs-4 fw-bold mb-7"><%= t('commitment_profile.content.about_us_no_data_content')%></p>
                            </div>                                             
                        </div> 
                        <!--end::Card body-->
                    </div>
                <% end %>
                <!--end::About-->
                <!--begin::Member-->
                <% if @company_company_members.present? %>
                    <div class="mt-4 mt-md-5 mt-lg-20 pb-4 pb-md-5 pb-lg-10">
                        <div class="d-flex justify-content-between align-items-center mb-4">
                            <h3 class="fs-2x text-gray-600 fw-bolder p-4"><%= t('company_member.title.header') %></h3>
                            <%= link_to t('company_member.title.member_list'), company_page_members_path, class: "fw-bolder" %>
                        </div>
                        <!--begin::Row-->
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-xl-4">
                            <% @company_company_members.each do |member|%>
                                <!--begin::Item-->
                                <div class="col text-center">
                                    <!--begin::Photo-->
                                    <% if member.image.attached? && member.image.persisted? %>
                                        <div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center bg-secondary"  style="background-image: url(<%= url_for(member.image) %>)"></div>
                                    <% else %>
                                        <div class="octagon mx-auto mb-2 d-flex w-150px h-150px bgi-no-repeat bgi-size-contain bgi-position-center bg-secondary" style="background-image:url('<%= asset_path 'avatar/male.svg' %>')"></div>
                                    <% end %>
                                    <!--end::Photo-->
                                    <!--begin::Person-->
                                    <div class="mb-0">
                                        <!--begin::Name-->
                                        <a href="#" class="text-dark fw-bolder text-hover-primary fs-3"><%= member.position %></a>
                                        <!--end::Name-->
                                        <!--begin::Position-->
                                        <div class="text-muted fs-6 fw-bold"><%= member.department %></div>
                                        <!--begin::Position-->
                                    </div>
                                    <!--end::Person-->
                                    <%= link_to t('communication.title.send_message'), new_communication_communication_path(:id => member.company_id, :forum_id => member.user_id, :name => "Member"),class: "btn btn-light-primary fw-bolder mt-7",remote: true %>
                                </div>
                                <!--end::Item-->
                            <% end %>
                            <div  id="communicationModal">
                                <%= render 'communication/communications/communication_modal'%>
                            </div>
                        </div>
                        <!--end::Row--> 
                    </div>
                <% end %>
                <!--end::Member-->
            </div>
            <!--end::Container-->
        <!--begin::Scrolltop-->
        <div id="kt_scrolltop" class="scrolltop" data-kt-scrolltop="true">
            <!--begin::Svg Icon | path: icons/duotune/arrows/arr066.svg-->
            <span class="svg-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <rect opacity="0.5" x="13" y="6" width="13" height="2" rx="1" transform="rotate(90 13 6)" fill="black" />
                    <path d="M12.5657 8.56569L16.75 12.75C17.1642 13.1642 17.8358 13.1642 18.25 12.75C18.6642 12.3358 18.6642 11.6642 18.25 11.25L12.7071 5.70711C12.3166 5.31658 11.6834 5.31658 11.2929 5.70711L5.75 11.25C5.33579 11.6642 5.33579 12.3358 5.75 12.75C6.16421 13.1642 6.83579 13.1642 7.25 12.75L11.4343 8.56569C11.7467 8.25327 12.2533 8.25327 12.5657 8.56569Z" fill="black" />
                </svg>
            </span>
            <!--end::Svg Icon-->
        </div>
        <!--end::Scrolltop-->
    </div>
    <!--end::Main-->
</body>
<!--end::Body-->