
    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row justify-content-md-center">
                            <div class=" col col-lg-8">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4"><%= t('password_setting.title.change_login_setting') %></h1>
                                    </div>
                                    <% flash.each do |key, value| %>
                                        <% if value != nil %>
                                            <% if key == 'password_change' %>
                                                <div class="container">
                                                    <div class="alert alert-success" role="alert">
                                                    <%= value %>
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                    </div>
                                                </div>
                                            <% end %>
                                        <% end %>
                                    <% end %>
                                     <%= form_with(model: @admin , url: admin_password_update_url , method: "post",class: "user") do |f| %>
                                        <div class="form-group">
                                            <div class="d-flex">
                                                <%= f.label :current_password , class: "form-label"%>
                                                <label class="ml-auto required-label"><%= t('common.require') %> </label>
                                             </div>
                                            <%= f.password_field :current_password, class: "form-control shadow-none errors",placeholder: t("password_setting.current_password"),:id=>"password" %>
                                            <p class ="ms-invalid-feedback mt-1"><%= @admin.errors.full_messages_for(:current_password)[0] %></p>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex">
                                                <label class="form-label"><%= t('password_setting.new_password') %> </label>
                                                <label class="ml-auto required-label"><%= t('common.require') %> </label>
                                             </div>
                                            <%= f.password_field :password, class: "form-control shadow-none errors",placeholder: t("password_setting.new_password"),:id=>"password" %>
                                            <p class ="ms-invalid-feedback mt-1"><%= @admin.errors.full_messages_for(:password)[0] %></p>
                                        </div>
                                        <div class="form-group">
                                            <div class="d-flex">
                                                <%= f.label :password_confirmation , class: "form-label"%>
                                                <label class="ml-auto required-label"><%= t('common.require') %> </label>
                                             </div>
                                            <%= f.password_field :password_confirmation, class: "form-control shadow-none errors",placeholder: t("password_setting.password_confirmation"),:id=>"password" %>
                                            <p class ="ms-invalid-feedback mt-1"><%= @admin.errors.full_messages_for(:password_confirmation)[0] %></p>
                                        </div>
                                        <%= f.submit t("password_setting.title.change_login_setting") , :class => "btn btn-primary btn-user btn-block" %>
                                    <% end %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>