<div class="modal" tabindex="-1" role="dialog" id="event-wait-confirm-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= t "common.modal_confirm_title" %></h5>
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-1">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                  <rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="black" />
                  <rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="black" />
              </svg>
          </span>
          <!--end::Svg Icon-->
        </div>
      </div>
      <div class="modal-body">
        <p><%= t "common.waiting_modal_confirm_text" %></p>
      </div>
      <%=@event_id%>
      <p id="event_id" class="d-none"><%=@event_id%></p>
      <p id="join_user_type" class="d-none"><%=@join_user_type%></p>
      <p id="join_parent_user_id" class="d-none"><%=@join_parent_user_id%></p>
      <p id="join_user_id" class="d-none"><%=@join_user_id%></p>
      <div class="modal-footer">
        <button type="button" class="col-sm-5 col-md-4 col-lg-4 btn btn-light-primary font-weight-bold custom-btn px-3 py-2 text-decoration-none me-5" id="event-wait-modal-btn-yes"><%= t "btn.confirm_yes" %></button>
        <button type="button" class="col-sm-5 col-md-4 col-lg-4 btn btn-light-danger font-weight-bold custom-btn px-3 py-2 text-decoration-none me-5" id="event-wait-modal-btn-no" data-bs-dismiss="modal"><%= t "btn.confirm_no" %></button>
      </div>
    </div>
  </div>
</div>
<%= javascript_pack_tag "common.js" %>