<section class="admin-details px-sm-4 d-flex flex-column align-items-center mt-3 mb-5 pb-5">
    <div class="row col-12 bg-white py-5 shadow event-info-box">
        <div class="col-12 col-sm-6 px-2 mb-3">
            <div class="admin-font-color h3"><%= t('event.title.event_information')%></div>
        </div>

        <div class="d-flex">
            <div class="px-3 mt-2">
                <%= link_to t('btn.edit'), admin_super_partner_manage_event_edit_path(id: @partner_event.id), class: "admin-sidebar-color text-white col-sm-5 col-md-4 col-lg-2 custom-btn px-3 py-2 text-decoration-none" %> 
            </div>
            <div class="text-center mb-3">
                <%= render 'event_delete' %>
            </div>
        </div>

        <div class="row px-2 px-lg-4">
            <div class="col-12 col-lg-3">
                <%  if @partner_event.event_image.attached? %>
                    <%= image_tag (@partner_event.event_image), :class=> "w-100" %>
                <% else %>
                    <div class="upload-preview">
                    <%= image_tag "avatar/preview.svg"%>
                    </div>
                <% end %>
            </div>
            <div class="col-12 col-md-12 col-lg-9">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Partner::Partner.human_attribute_name('partner_code') %></span>
                        <span class="text-secondary text-break"><%= Admin::SuperPartner.find(@partner_event.created_by_id).super_partner_code  %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('event_start_date') %></span>
                        <span class="text-secondary"><%=l @partner_event.event_start_date %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('event_end_date') %></span>
                        <span class="text-secondary"><%=l @partner_event.event_end_date %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('event_name') %></span>
                        <span class="text-secondary text-break"><%= @partner_event.event_name %></span>
                    </div>
                    
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('category') %></span>
                        <span class="text-secondary text-break">
                            <% unless @partner_event.category.nil? %>
                                <% @partner_event.category.each do |v| %>
                                    <% if v != nil %>
                                        <%= t("event.category.#{Event.event_categories.key(v)}") %>
                                        <% if @partner_event.category.length > 1 && @partner_event.category.last != v %>
                                            <%= ',' %>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('applicants_count') %></span>
                        <span class="text-secondary text-break"><%= @partner_event.apply_event_limit %> <%= t('unit.persons') %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('post_start_date') %></span>
                        <span class="text-secondary"><%=l @partner_event.post_start_date %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('post_end_date') %></span>
                        <span class="text-secondary"><%=l @partner_event.post_end_date %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('application_start_date') %></span>
                        <% unless @partner_event.application_start_date.nil? %>
                            <span class="text-secondary"><%=l @partner_event.application_start_date %></span>
                        <% end %>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('application_deadline') %></span>
                        <span class="text-secondary"><%=l @partner_event.application_deadline %></span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-3 col-lg-3 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('venue') %></span>
                        <span class="text-secondary text-break"><%= @partner_event.venue %></span>
                    </div>
                    <div class="col-12 my-3 d-flex flex-column">
                        <span class="h6 admin-font-color mb-2"><%= Event.human_attribute_name('event_content') %></span>
                        <span class="text-secondary text-break"><%= @partner_event.event_content %></span>
                    </div>
                </div>
            </div>
        </div>      
    </div>
</section>