<div id="" class="card card-custom card-stretch gutter-b bg-white">
    <div class="d-flex flex-row-fluid" style="justify-content:space-between">
        <div class="card-header h-auto border-0 py-3 bg-transparent">
            <div class="card-title pt-5 pb-2">
                <h3 class="card-label">
                    <span class="d-block text-dark fw-bolder">
                        <%= t'student.ability.kodawari_type' %>
                    </span>
                </h3>
            </div>
        </div>  
        <% unless current_admin %>  
            <span class="label pt-9 pb-3 px-10 hoverable fs-3 fw-bolder"  style="color: blue; text-decoration: none;">
                <a href="/student/student_company_matched_result">
                    <%= t'student.ability.to_std_com_matched_result' %>
                </a>
            </span>
        <% end %>
    </div>         
    <div class="card-body">
        <div class="d-flex flex-column flex-lg-row">
            <div class="flex-lg-row-auto w-100 w-lg-275px w-xxl-350px mb-3">
                <!--begin::Block-->
                <div class="card bg-light p-8">
                    <!--begin::Item-->
                    <!-- <h4 class="text-gray-700 fs-bolder mb-3"><%= t('student.assessment.kodawari_assessment_title')%></h4> -->
                    <!--end::Item-->
                    <div class="fs-8 text-dart mb-5">
                        <span class="svg-icon svg-icon-primary svg-icon-3 me-1">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect x="2" y="2" width="9" height="9" rx="2" fill="black"></rect>
                                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black"></rect>
                                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black"></rect>
                                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black"></rect>
                            </svg>
                        </span>
                        <%= t('student_assessment.std_assessment_chart_date')%>：
                        <%=if @commitment_ability_detail_results.length > 0
                            l @commitment_ability_detail_results[0].updated_at.to_date
                        else
                            "-"   
                        end%>
                    </div>
                    
                    <% if @commitment_ability_detail_results.present? %>
                        <% @commitment_ability_detail_results.each_with_index do |ability, ind|%>
                            <div class="my-2">                                
                                <div class="d-flex align-items-center mb-2">
                                    <span class="bullet me-3"></span>
                                    <div class="d-flex text-gray-600 fw-bold fs-6">
                                        <div style="align-self: center;" >
                                            <%= @chart_commitment_label[ind] %>：　
                                        </div>
            
                                        <div><%= ability.name %></div>
                                    </div>
                                </div>
                            </div>
                        <%end%>
                    <% else %>
                        <% @chart_commitment_label.each do |label|%>
                            <div class="my-2">
                                <div class="d-flex align-items-center mb-2">
                                    <span class="bullet me-3"></span>
                                    <div class="text-gray-600 fw-bold fs-6"><%= label %>：　</div>
                                </div>
                            </div>
                        <%end%>
                    <% end %> 
                    <% unless current_admin %>
                        <%= link_to t('student.assessment.kodawari_assessment_btn'),student_commitment_ability_start_path, :class => "btn btn-block text-center btn-primary fs-bolder font-size-lg mt-5" %>
                    <% end %>
                    <!--end::Item-->
                </div>
                <!--end::Block-->
            </div>
            <div class="flex-lg-row-fluid mt-lg-0 mt-3">
                <div id="kodawariAssessmentChart"></div>
            </div>
        </div>
    </div>
</div>                                    
                                    
                                    
                                    
                                    
                                    
                                    
                                