<!--begin::Toolbar-->
<div class="toolbar py-5 py-lg-5 mb-0" id="kt_toolbar">
    <!--begin::Container-->
    <div id="kt_toolbar_container" class="container-xxl d-flex flex-stack flex-wrap">
        <!--begin::Page title-->
        <% breadcrumbs_navigation_add (t ('student.assessment.kodawari_assessment_title')), '#' %>
        <%= render_student_breadcrumbs_navigation(t ('student.assessment.kodawari_assessment_title')) %>			
        <!--end::Page title-->	
    </div>
    <!--end::Container-->
</div>
<!--end::Toolbar-->

<!--begin::Container-->
<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
    <!--begin::Content-->
    <div class="content flex-row-fluid" id="kt_content">
        <!--begin::Kodawari-->
        <ul class="nav row g-10 mt-0 mb-10">
            <li class="nav-item col-12 col-lg-4">
                <%= link_to student_commitment_ability_index_path, class: "nav-link btn btn-flex btn-color-gray-400 btn-outline btn-outline-default btn-active-primary d-flex flex-grow-1 flex-column flex-center py-3 active", :data => { :'bs-toggle' => 'tooltip', :'bs-trigger' => 'hover', :'bs-dismiss' => 'click', :'bs-placement' => 'right' } do %> 
                    <!--begin::Svg Icon | path: icons/duotune/general/gen008.svg-->
                    <span class="svg-icon svg-icon-2x mb-5 mx-0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <rect x="0" y="0" width="24" height="24" />
                                <path d="M5,3 L6,3 C6.55228475,3 7,3.44771525 7,4 L7,20 C7,20.5522847 6.55228475,21 6,21 L5,21 C4.44771525,21 4,20.5522847 4,20 L4,4 C4,3.44771525 4.44771525,3 5,3 Z M10,3 L11,3 C11.5522847,3 12,3.44771525 12,4 L12,20 C12,20.5522847 11.5522847,21 11,21 L10,21 C9.44771525,21 9,20.5522847 9,20 L9,4 C9,3.44771525 9.44771525,3 10,3 Z" fill="#000000" />
                                <rect fill="#000000" opacity="0.3" transform="translate(17.825568, 11.945519) rotate(-19.000000) translate(-17.825568, -11.945519)" x="16.3255682" y="2.94551858" width="3" height="18" rx="1" />
                            </g>
                        </svg>
                    </span>
                    <!--end::Svg Icon-->
                    <span class="fs-6 fw-bolder"><%= t'student.ability.kodawari_type' %></span>
                <% end %>
            </li>
            <li class="nav-item col-12 col-lg-4">
                <%= link_to student_questionnarie_assessments_path, class: "nav-link btn btn-flex btn-color-gray-400 btn-outline btn-outline-default btn-active-primary d-flex flex-grow-1 flex-column flex-center py-3",:data => { :'bs-toggle' => 'tooltip', :'bs-trigger' => 'hover', :'bs-dismiss' => 'click', :'bs-placement' => 'right' } do %> 
                    <!--begin::Svg Icon | path: icons/duotune/finance/fin006.svg-->
                    <span class="svg-icon svg-icon-2x mb-5 mx-0">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                    <rect x="0" y="0" width="24" height="24" />
                                    <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                    <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                    <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                    <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                </g>
                            </svg>
                        </span>
                    <!--end::Svg Icon-->
                    <span class="fs-6 fw-bolder">企業に求めるこだわり</span>
                <% end %>
            </li>
        </ul>                
        <%= render "student/commitment_ability/commitment_ability_chart" %>        
        <!--end::Kodawari-->
    </div>
</div>
<%# render "users/shared/toastr" %>
<script> 
    var chartSelfEevaluation= <%= @chartOne.inspect.html_safe %>; 
    var chartPotentialDesire = <%= @chartTwo.inspect.html_safe %>; 
    var chartThree = <%= @chartThree.inspect.html_safe %>; 
    var chartKodawari = <%= @chart_commitment_range.inspect.html_safe %>; 
    var chartKodawariLabel = <%= @chart_commitment_label.inspect.html_safe %>; 
    var chartColor = "student_color";
</script>
<%= javascript_pack_tag "student/assessment.js" %>
<%= javascript_pack_tag 'common.js'%>