<!--begin::Header-->
<% breadcrumbs_navigation_add (t('menu.applied_job_approval_screen')), '#' %>
<%= render_company_breadcrumbs_navigation(t('menu.applied_job_approval_screen')) %>
<!--end::Header-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <div class="container-xxl" id="kt_content_container">
        <% if @applied_job_approval_list.present? %>
        <!--begin::Applied Job Approval List Desktop -->
            <div class="card bg-body d-none d-sm-none d-md-none d-lg-block d-xl-block">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1"><%= t('menu.applied_job_approval_screen') %></span>
                    </h3>
                    <div class="card-toolbar">
                        <ul class="nav " >
                            <li class="nav-item">  
                                <%= link_to company_applied_job_approval_list_path,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 text-primary"   do %>  
                                <%= t('status.all')%>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to company_applied_job_approval_list_path(apply_status: 1) ,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 #{current_page?(company_applied_job_approval_list_path(apply_status: 1) ) ? "active" : nil}"   do %> 
                                    <%= t('status.not_yet')%>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to company_applied_job_approval_list_path(apply_status: 2) ,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 #{current_page?(company_applied_job_approval_list_path(apply_status: 2) ) ? "active" : nil}"   do %> 
                                    <%= t('status.replied')%>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to company_applied_job_approval_list_path(apply_status: 3) ,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 #{current_page?(company_applied_job_approval_list_path(apply_status: 3) ) ? "active" : nil}"   do %> 
                                    <%= t('status.rejected')%>
                                <% end %>
                            </li>
                        </ul>  
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Body-->
                <div class="card-body py-3">
                    <!--begin::Table container-->
                    <div class="table-responsive  overflow-auto">
                        <!--begin::Table-->
                        <table class="table table-row-dashed table-row-gray-300 align-middle gs-0 gy-4">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fw-bolder text-muted">
                                    <th class="min-w-140px"><%= t('student.student_show.name')%></th> 
                                    <th class="min-w-140px"><%= Company::Vacancy.human_attribute_name('vacancy_title') %></th> 
                                    <th class="pe-0 min-w-120px"><%= t('status.send_date')%></th>
                                    <th class="pe-0 min-w-120px"><%= t('status.approval_status')%></th>
                                    <th class="pe-0 min-w-120px text-end"><%= t('event.title.edit_text_title') %></th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                <% @applied_job_approval_list.each do |student| %>
                                    <tr>
                                        <td class="">
                                            <div class="d-flex align-items-center">
                                                <!--begin:: Avatar -->
                                                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                    <% if student.image.attached? %>
                                                        <%= image_tag (student.image), :class=> "symbol-label" %>
                                                    <% else %>
                                                        <% if student.gender == "female" %>
                                                            <%= image_tag "avatar/female.svg", :class=> "symbol-label" %>                                
                                                        <% elsif student.gender == "male" %>
                                                            <%= image_tag "avatar/male.svg", :class=> "symbol-label" %>
                                                        <% else %>
                                                            <%= image_tag "avatar/unknown_gender.png" %>    
                                                        <% end %>
                                                    <% end %> 
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::User details-->
                                                <div class="w-lg-75px w-xl-300px text-truncate">
                                                    <span class="text-gray-800 mb-1"><%= student.nick_name %></span>
                                                    <span class="text-muted fw-bold text-muted d-block fs-7"><%= student.user.email %></span>
                                                </div>
                                                <!--begin::User details-->
                                            </div>
                                        </td> 
                                        <td class="w-lg-100px w-xl-150px">
                                            <span class="text-muted fw-bold d-block fs-6 w-lg-100px w-xl-150px text-truncate"><%= student.vacancy_title.present??  student.vacancy_title : "-" %></span>
                                        </td> 
                                        <td class="w-lg-120px w-xl-150px">
                                            <span class="text-muted fw-bolder d-block fs-6"><%= l(student.apply_date.strftime('%Y-%m-%d').to_date, default: '-') %></span>
                                        </td>
                                        <td class="w-lg-100px w-xl-100px">
                                            <% if student.apply_status == 1 %>
                                                <span class="badge badge-light-warning badge-lg"><%= t('status.not_yet') %></span> 
                                            <% elsif student.apply_status == 2 %>
                                                <span class="badge badge-light-primary badge-lg"><%= t('status.replied') %></span> 
                                            <% else %>
                                                <span class="badge badge-light-danger badge-lg"><%=  t('status.rejected') %></span>
                                            <% end %>
                                        </td>
                                        <td>
                                            <div class="d-flex justify-content-end flex-shrink-0">
                                                <% if can?(:read, Company::Vacancy) %>
                                                    <%= link_to (company_vacancy_path(:id => student.company_vacancy_id)), :class=>"btn btn-icon btn-bg-light btn-active-color-primary btn-sm" do %>
                                                        <!--begin::Svg Icon | path: icons/duotune/art/art005.svg-->
                                                            <span class="svg-icon svg-icon-3">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                                                    <path d="M17.5 11H6.5C4 11 2 9 2 6.5C2 4 4 2 6.5 2H17.5C20 2 22 4 22 6.5C22 9 20 11 17.5 11ZM15 6.5C15 7.9 16.1 9 17.5 9C18.9 9 20 7.9 20 6.5C20 5.1 18.9 4 17.5 4C16.1 4 15 5.1 15 6.5Z" fill="black" />
                                                                    <path opacity="0.3" d="M17.5 22H6.5C4 22 2 20 2 17.5C2 15 4 13 6.5 13H17.5C20 13 22 15 22 17.5C22 20 20 22 17.5 22ZM4 17.5C4 18.9 5.1 20 6.5 20C7.9 20 9 18.9 9 17.5C9 16.1 7.9 15 6.5 15C5.1 15 4 16.1 4 17.5Z" fill="black" />
                                                                </svg>
                                                            </span>
                                                        <!--end::Svg Icon-->
                                                    <% end %>
                                                <% end %>
                                            </div>
                                        </td>                                 
                                    </tr>
                                <% end %>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                    </div>
                    <!--end::Table container-->
                </div> 
                <!--end::Body-->
            </div>
        <% else %>
            <!--begin::Event Tables Widget -->
            <div class="card bg-body d-none d-sm-none d-md-none d-lg-block d-xl-block  mb-5 mb-xl-10">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1"><%= t('menu.applied_job_approval_screen') %></span> 
                    </h3>
                    <div class="card-toolbar">
                        <ul class="nav " >
                            <li class="nav-item">  
                                <%= link_to company_applied_job_approval_list_path,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 text-primary"   do %>  
                                <%= t('status.all')%>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to company_applied_job_approval_list_path(apply_status: 1) ,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 #{current_page?(company_applied_job_approval_list_path(apply_status: 1) ) ? "active" : nil}"   do %> 
                                    <%= t('status.not_yet')%>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to company_applied_job_approval_list_path(apply_status: 2) ,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 #{current_page?(company_applied_job_approval_list_path(apply_status: 2) ) ? "active" : nil}"   do %> 
                                    <%= t('status.replied')%>
                                <% end %>
                            </li>
                            <li class="nav-item">
                                <%= link_to company_applied_job_approval_list_path(apply_status: 3) ,class: "nav-link btn btn-sm btn-color-muted btn-active btn-active-secondary fw-bolder px-4 me-1 #{current_page?(company_applied_job_approval_list_path(apply_status: 3) ) ? "active" : nil}"   do %> 
                                    <%= t('status.rejected')%>
                                <% end %>
                            </li>
                        </ul>  
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Card body-->
                <div class="card-body p-0">
                    <!--begin::Wrapper-->
                    <div class="card-px text-center py-2 my-5"> 
                        <!--begin::Description-->
                        <p class="text-gray-400 fs-7 fw-bold mb-10"><%= t('common.applied_company_list_empty') %></p>
                        <!--end::Description-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Event Tables Widget -->
        <% end %>        
        <!--end::Applied Job Approval List Desktop -->
        <!--begin::Applied Job Approval List Mobile-->
        <% if @applied_job_approval_list.present? %>
            <div class="card d-lg-none">
                <!--begin::Header-->
                    <div class="d-flex flex-stack pt-4">
                        <div class="d-flex align-items-center">
                            <h3 class="d-flex card-title align-items-start flex-column">
                                <span class="card-label fw-bolder fs-3 mb-1"><%= t('menu.applied_job_approval_screen') %></span>
                            </h3>
                        </div>
                        <div class="d-flex justify-content-end flex-shrink-0">
                            <div class="card-toolbar">
                                <%= form_with(url: company_applied_job_approval_list_path, method: :get) do |form| %>
                                    <div class="d-flex align-items-center my-3 m-8">
                                        <%= form.select(:apply_status, options_for_select(VacancyApplyFavourite.apply_status_attributes_for_select,params[:apply_status]),{:include_blank => (t'status.all')}, {:class => "form-control form-select form-select-lg form-select-solid bg-body", :id => "select_2_2", :onchange => 'this.form.submit()', :data => { :control => 'select2', 'hide-search' => true } }) %> 
                                    </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                <!--end::Header-->
                <!--begin::Body-->
                <% @applied_job_approval_list.each do |student| %>
                    <div class="col-xxl-4">
                        <%= link_to (company_vacancy_path(:id => student.company_vacancy_id)) do %>
                            <div class="card bg-body card-custom gutter-b card-stretch">
                                <div class="card-body pt-4">
                                    <div class='row'>
                                        <div class="col-6">
                                            <div class="d-flex align-items-center">
                                                <!--begin:: Avatar -->
                                                <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                                    <div class="symbol-label">
                                                        <% if student.image.attached? %>
                                                        <%= image_tag (student.image), :class=> "w-100" %>
                                                        <% else %>
                                                            <% if student.gender == "female" %>
                                                                <%= image_tag "avatar/female.svg", :class=> "Responsive image" %>                                
                                                            <% else %>
                                                                <%= image_tag "avatar/male.svg", :class=> "Responsive image" %>   
                                                            <% end %>
                                                        <% end %> 
                                                    </div>
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::User details-->
                                                <div class="d-flex flex-column" style="flex: 0 0 190%; min-width: 0;">
                                                    <span class="text-gray-800 mb-1">
                                                        <%= student.nick_name.truncate(10) %>
                                                    </span> 
                                                    <span class="text-gray-500 fw-bold fs-7" style=" overflow: hidden;  text-overflow: ellipsis; white-space: nowrap;"><%= student.vacancy_title %></span>
                                                </div>
                                                <!--end::User details-->
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <p class="text-end text-muted fs-9 pt-3"><%= l(student.apply_date.strftime('%Y-%m-%d').to_date, default: '-') %></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% end %>
                    </div>
                <% end %>
                <!--end::Body-->
            </div>
        <% else %>
            <!--begin::Event Tables Widget -->
            <div class="card bg-body d-lg-none">
                <!--begin::Header-->
                <div class="card-header border-0 pt-5">
                    <h3 class="card-title align-items-start flex-column">
                        <span class="card-label fw-bolder fs-3 mb-1"><%= t('menu.applied_job_approval_screen') %></span> 
                    </h3>
                    <div class="card-toolbar">
                        <%= form_with(url: company_applied_job_approval_list_path, method: :get) do |form| %>
                            <div class="d-flex align-items-center my-3">
                                <%= form.select(:apply_status, options_for_select(VacancyApplyFavourite.apply_status_attributes_for_select,params[:apply_status]),{:include_blank => (t'status.all')}, {:class => "form-control form-select form-select-lg form-select-solid", :id => "select_2_1", :onchange => 'this.form.submit()', :data => { :control => 'select2', 'hide-search' => true }}) %> 
                            </div>
                        <% end %>
                    </div>
                </div>
                <!--end::Header-->
                <!--begin::Card body-->
                <div class="card-body p-0">
                    <!--begin::Wrapper-->
                    <div class="card-px text-center py-2 my-5"> 
                        <!--begin::Description-->
                        <p class="text-gray-400 fs-7 fw-bold mb-10"><%= t('common.applied_company_list_empty') %></p>
                        <!--end::Description-->
                    </div>
                    <!--end::Wrapper-->
                </div>
                <!--end::Card body-->
            </div>
            <!--end::Event Tables Widget -->
        <% end %>  
        <!--end::Applied Job Approval List Mobile-->
        <!--begin:: Pagination-->
        <div class="d-flex flex-wrap justify-content-between align-items-center pt-10">
            <div class="d-flex flex-wrap">
                <%= paginate @applied_job_approval_list %>
            </div>
            <div class="d-flex align-items-center py-3">
                <span class="text-muted"><%=  t('common.display')  %> <%= @applied_job_approval_list.total_count %> <%=  t('common.to')  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @applied_job_approval_list.offset_value + 1 %> ~ <%=  @applied_job_approval_list.offset_value + @applied_job_approval_list.count %> <%=  t('common.search_result')  %> </span>
            </div>
        </div>	
        <!--end: Pagination-->
    </div>
</div>