<!-- Topbar -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small"><%= current_admin.last_name%> <%=current_admin.first_name%></span>
                <%= image_tag "admin/undraw_profile.svg", class:"img-profile rounded-circle" %>
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">     
                <%= link_to(kodawarione_dashboard_index_path, class: "dropdown-item") do %>
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>New Admin
                <% end %>
                <%= link_to(admin_password_change_path, class: "dropdown-item") do %>
                    <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i><%= t('show_page.button1') %>
                <% end %>
                <%= link_to(destroy_admin_session_path, method: :delete, class: "dropdown-item") do %>
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i><%= t('student.title.logout_link') %>
                <% end %>
            </div>
        </li>
    </ul>

</nav>
<!-- End of Topbar -->
<%= javascript_pack_tag "admin/admin_nav.js" %>
