<%= form_for(@admin_plan) do |form| %>
  <div class="row col-12 event-registration admin-detail px-1 px-sm-4 mt-3">  
    <section class="col-md-12 mb-5 pl-5">
      <div class="d-container shadow py-4 bg-white" style="border-radius: 0.8rem">
        <div class="col-12 pb-4 pt-3">
          <span class="h4 admin-font-color"><%= t('partner_plan.plan_info')%></span>
        </div>
        <div class="col-12 mb-3">
          <div class="d-flex">
            <%= form.label :name, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.text_field :name, id: "name",class: "form-control shadow-none errors", maxlength: 100 %>
          <p class="ms-invalid-feedback mt-1"><%= @admin_plan.errors.full_messages_for(:name)[0] %></p>                                  
        </div>
        <div class="col-12 mb-3">
          <div class="d-flex">
            <%= form.label :fee, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.text_field :fee, id: "fee",class: "form-control shadow-none errors", maxlength: 7 %>
          <p class="ms-invalid-feedback mt-1"><%= @admin_plan.errors.full_messages_for(:fee)[0] %></p>                                  
        </div>
        <div class="col-12 mb-3">
          <div class="d-flex">
            <%= form.label :content, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.text_area :content, id: "content",class: "form-control shadow-none errors", maxlength: 1500 %>
          <p class="ms-invalid-feedback mt-1"><%= @admin_plan.errors.full_messages_for(:content)[0] %></p>                                  
        </div>
      </div>        
      <div class="actions d-flex justify-content-center mt-5">
        <%= form.submit (t "btn.update"), :class => 'custom-btn text-white' %>
      </div> 
    </section> 
  </div>  
<% end %>

<%= javascript_pack_tag "admin/article.js" %>