<%
 admin = @resource
 name = "#{admin.last_name} #{admin.first_name}"
%>
<p> <b><%= name %></b> <%= t('confirmations.welcome_user') %></p>
<p><%= t('confirmations.thank_u_using_email') %><p>
<p><%= t('confirmations.reset_password.reset_password_info') %></p>
<p>
  <%= link_to  t('confirmations.reset_password.change_password'), edit_password_url(@resource, reset_password_token: @token) %>
  <%= t('confirmations.reset_password.reset_password_info_1') %>
  </b>
</p>
<p><%= t('confirmations.reset_password.reset_password_info_2') %></p>
<p><%= t('confirmations.reset_password.reset_password_info_3') %></p>
<p><%= t('confirmations.reset_password.reset_password_info_4') %></p>
<p><%= t('mailer.inquary') %>:  <u class = "text-primary"><%= t('mailer.support_mail') %></u></p>
<p><%= t('confirmations.reset_password.reset_password_info_5') %></p>