<div class="container p-3 pl-md-5 p-sm-5 mt-5">
  <div class="row justify-content-center p-2 mt-5">
    <div class="col-12 col-lg-8 col-xl-6">
      <div class="card login-card-shadow bg-white p-3 p-sm-5">
        <div class="text-group-left mb-4">     
          <h3 class="text-center"><%= t('password_setting.edit_password') %></h3>
          <hr class="admin-grandient-hr">   
        </div>  
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.hidden_field :reset_password_token %>
            <div class="mb-3">
              <div class="d-flex">
                  <%= f.label :password, class: "form-label" %>
                  <label class="ml-auto required-label"><%= t('common.require') %> </label>
              </div>
              <%= f.password_field :password, class: "form-control shadow-none" %>
            </div>              
            <div class="mb-3">
              <div class="d-flex">
                  <%= f.label :password_confirmation, class: "form-label" %>
                  <label class="ml-auto required-label"><%= t('common.require') %> </label>
              </div>
              <%= f.password_field :password_confirmation, class: "form-control shadow-none" %> 
              <p class="text-danger"><%= resource.errors.full_messages_for(:password_confirmation)[0] %></p>
            </div>                         
            <div class="my-5">
              <div class="d-flex">
                <%= f.submit "Change my password", class: "custom-btn text-white w-100 admin-bg-color p-1" %>
              </div>
            </div>  
        <% end %>
      </div>
    </div>
  </div>
</div>



<!--
<h2>Change your password</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "admin/admins/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "admin/admins/shared/links" %> -->
