<div class="col-12 px-lg-3 pt-5 mt-4 px-3">
    <div class="vacancy_title row mr-0">
        <div class="col-1 pr-0">
          <i class="fas fa-briefcase"></i>        
        </div>
        <div class="col-11 text-break">
            <span></span>
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="vacancy_description row mr-0">
            <div class="col-1 pr-0">
             <i class="fas fa-briefcase"></i>     
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="postalcode row mr-0">
            <div class="col-1 pr-0">
             <i class="fas fa-map-marked-alt"></i>            
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="recruit_industry_type row mr-0">
            <div class="col-1 pr-0">
                <i class="fas fa-industry"></i>             
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="recruit_job_type row mr-0">
            <div class="col-1 pr-0">
              <i class="fas fa-cogs"></i>      
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="required_applicants row mr-0">
            <div class="col-1 pr-0">
             <i class="fas fa-users"></i>       
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="basic_salary row mr-0">
            <div class="col-1 pr-0">
               <i class="fas fa-yen-sign"></i>           
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div> 
    <div class="col-12 px-0 mb-2">
        <div class="allowance row mr-0">
            <div class="col-1 pr-0">
             <i class="fas fa-yen-sign"></i>   
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="bonus row mr-0">
            <div class="col-1 pr-0">
               <i class="fas fa-yen-sign"></i>                    
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_promotion_1 company_vacancy_promotion_0 row mr-0">
            <div class="col-1 pr-0">
           <i class="fas fa-yen-sign"></i>        
            </div>
            <div class="col-11 text-break">
              <%= Company::Vacancy.human_attribute_name('promotion')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_probation_1 company_vacancy_probation_0 row mr-0">
            <div class="col-1 pr-0">
               <i class="fas fa-tag"></i>                      
            </div>
            <div class="col-11 text-break">
                <%= Company::Vacancy.human_attribute_name('probation')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_transportation_allowance_1 company_vacancy_transportation_allowance_0 row mr-0">
            <div class="col-1 pr-0">
             <i class="fas fa-subway"></i>  
            </div>
            <div class="col-11 text-break">
                <%= Company::Vacancy.human_attribute_name('transportation_allowance')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_dormitory_1 company_vacancy_dormitory_0 row mr-0">
            <div class="col-1 pr-0">
             <i class="fas fa-building"></i>           
            </div>
            <div class="col-11 text-break">
                <%= Company::Vacancy.human_attribute_name('dormitory')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_insurance_1 company_vacancy_insurance_0 row mr-0">
            <div class="col-1 pr-0">
            <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="col-11 text-break">
                <%= Company::Vacancy.human_attribute_name('insurance')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_severance_pay_1 company_vacancy_severance_pay_0 row mr-0">
            <div class="col-1 pr-0">
            <i class="fas fa-hand-holding-usd"></i>
            </div>
            <div class="col-11 text-break">
                <%= Company::Vacancy.human_attribute_name('severance_pay')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="working_hours row mr-0">
            <div class="col-1 pr-0">
             <i class="far fa-clock"></i>     
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div>
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="break_time row mr-0">
            <div class="col-1 pr-0">
              <i class="far fa-clock"></i>           
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_over_time_1 company_vacancy_over_time_0 row mr-0">
            <div class="col-1 pr-0">
                <i class="fas fa-business-time"></i>            
            </div>
            <div class="col-11 text-break">
                <%= Company::Vacancy.human_attribute_name('over_time')  %> - <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="holiday row mr-0">
            <div class="col-1 pr-0">
            <i class="fas fa-plane"></i>      
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="displayed_text row mr-0">
            <div class="col-1 pr-0">
                <i class="fab fa-rebel"></i>  
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_other row mr-0">
            <div class="col-1 pr-0">
          <i class="fas fa-plus"></i>   
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 add_vacancy px-0 mb-2">
        <div class="add_row company_vacancy_hiring_flow_data_1 row mr-0">
            <div class="col-1 pr-0">
                <i class="fas fa-check"></i>
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div>
        </div>
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="company_vacancy_other_skill row mr-0">
            <div class="col-1 pr-0">
            <i class="fas fa-plus"></i>              
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="display_from row mr-0">
            <div class="col-1 pr-0">
            <i class="far fa-calendar-alt"></i>         
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>
    <div class="col-12 px-0 mb-2">
        <div class="display_to row mr-0">
            <div class="col-1 pr-0">
                <i class="far fa-calendar-alt"></i>       
            </div>
            <div class="col-11 text-break">
                <span></span>
            </div> 
        </div> 
    </div>    
</div>