<%= form_with(model: admin_super_partner) do |form| %>
  <div class="row col-12 event-registration px-1 px-sm-4 mt-3">  
    <section class="col-md-12 mb-5 pl-5"> 
      <div class="d-container shadow py-4 bg-white" style="border-radius: 0.8rem">
        <div class="col-12 pb-4 pt-3">
          <span class="h4 com-font-color"><%= t('partner.title.super_partner_information')%></span>
        </div>
        
        <div class="col-12 col-md-6 mb-3">
          <div class="d-flex">
            <%= form.label :name, class: "form-label"  %>
            <label class="ml-auto required-label"> <%= t('common.require') %> </label>
          </div>
          <%= form.text_field :name, id: "name", class: "form-control shadow-none errors", maxlength: 255 %>
          <p class ="ms-invalid-feedback mt-1"><%= admin_super_partner.errors.full_messages_for(:name)[0] %></p>
        </div>
        
      <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
            <%= form.label :postal_code, class: "form-label"  %>
            <label class="ml-auto required-label"><%= t('common.require') %> </label>
        </div>
          <%= form.text_field :postal_code, class: "form-control shadow-none errors", autocomplete: "off", maxlength: 7,id: "postalcode" %> 
          <p class="ms-invalid-feedback mt-1"><%= admin_super_partner.errors.full_messages_for(:postal_code)[0] %></p>          
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
            <%= form.label :region_name, class: "form-label"  %>
            
        </div>
        <%= form.hidden_field :m_region_id,value: admin_super_partner.m_region_id ,id: "region_id" %>
        <%= form.text_field :region_name,class: "form-control shadow-none errors",id: "region",readonly: true %>
          
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
        <%= form.label :prefecture_name, class: "form-label"  %>
          
        </div>
        <%= form.hidden_field :m_prefecture_id,value: admin_super_partner.m_prefecture_id ,id: "prefecture_id" %>
        <%= form.text_field :prefecture_name, class: "form-control shadow-none errors",id: "prefecture",readonly: true %>
        
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
            <%= form.label :postalcode_city, class: "form-label"  %>
        </div>
        <%= form.text_field :postalcode_city, class: "form-control shadow-none errors",id: "city", readonly: true %>
        
    </div>
    
    <div class="col-12 mb-3">
        <div class="d-flex">
            <%= form.label :address, class: "form-label mr-2"  %>
            <label class="form-label"> <%= t('common.building_address') %> </label>
            <label class="ml-auto required-label"><%= t('common.require') %> </label>
        </div>
        <%= form.text_area :address, class: "form-control shadow-none errors", rows: 4, maxlength: 255, id: "address" %>
        <p class="ms-invalid-feedback mt-1"><%= admin_super_partner.errors.full_messages_for(:address)[0] %></p>
    </div>
    <div class="col-12 mb-3 display_address">
              <div class="d-flex">
                  <%= form.label :display_address, class: "form-label mr-2"  %>
                  <label class="ml-auto required-label"><%= t('common.require') %> </label>
              </div>
              <%= form.text_area :display_address, class: "form-control shadow-none errors", maxlength: 255 ,id: "display_address" ,readonly: true%>
              <p class="ms-invalid-feedback mt-1"><%= admin_super_partner.errors.full_messages_for(:display_address)[0] %></p>
          </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
            <%= form.label :website_url, class: "form-label"  %>
            <label class="ml-auto required-label"><%= t('common.require') %> </label>
        </div>
        <%= form.text_field :website_url, class: "form-control shadow-none errors", id: "website_url",  maxlength: 255 %>
        <p class="ms-invalid-feedback mt-1"><%= admin_super_partner.errors.full_messages_for(:website_url)[0] %></p>
    </div>
    <div class="col-12 col-md-6 mb-3">
        <div class="d-flex">
            <%= form.label :phone_no, class: "form-label"  %>
            <label class="form-label">  <%= t('common.ph_no_remark') %> </label>
            <label class="ml-auto required-label"><%= t('common.require') %> </label>
        </div>                
        <%= form.text_field :phone_no, class: "form-control shadow-none only-num-stud errors", id: "phone_no",  maxlength: 20 %>
        <p class ="ms-invalid-feedback mt-1"><%= admin_super_partner.errors.full_messages_for(:phone_no)[0] %></p>      
    </div> 
    </div> 
    <div class="actions d-flex justify-content-center mt-5">
        <%= form.submit (t "btn.update"), :class => 'custom-btn text-white' %>
    </div>     
    </section>    
  </div>  
<% end %>
<%= javascript_pack_tag "company/event.js" %>
<%= javascript_pack_tag "common.js" %>
<%= javascript_pack_tag "postalcode.js" %>