<!--begin::Header-->
<% breadcrumbs_navigation_add (t('partner.banner.partner_setup')), '#' %>
<%= render_partner_breadcrumbs_navigation (t('partner.banner.partner_setup')) %>		
<!--end::Header-->
<!--begin::Content-->
<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
    <!--begin::Container-->
    <div class="container-fluid" id="kt_content_container">
		<!--begin::Tab Content-->
		<div class="tab-content">
			<!--begin::Tab pane-->
			<div id="kt_project_users_card_pane" class="tab-pane fade show active">
                <div class="card bg-body">
                    <!--begin::Card body-->
                    <div class="card-body pb-0">
                        <!--begin::Stepper-->
                        <div class="stepper stepper-links d-flex flex-column pt-15" id="kt_create_account_stepper">
                            <%= render partial: 'kodawarione/partner_manage/partner_steps/steps_links', :locals =>{:current_step => 2} %>
                            <!--begin::Form-->
                            <div class="mx-auto mw-650px w-100 pt-15 pb-10" novalidate="novalidate" id="kt_create_account_form">
                                <!--begin::Step 1-->
                                <div class="current" data-kt-stepper-element="content">
                                    <!--begin::Wrapper-->
                                    <div class="w-100">
                                        <!--begin::Heading-->
                                        <div class="pb-10 pb-lg-15">
                                            <!--begin::Title-->
                                            <h2 class="fw-bolder d-flex align-items-center text-dark">
                                                <%= t('partner.steps.title.current_partner_member_setup', current_partner_name: @partner.name).html_safe %>
                                                <span type="button" class=""
                                                    data-kt-image-input-action="remove"
                                                    data-bs-toggle="tooltip"
                                                    data-bs-dismiss="click"
                                                    title="Partner Setup">
                                                    <i class="fas fa-exclamation-circle ms-2 fs-7"></i>
                                                </span>
                                            </h2>
                                            <!--end::Title-->
                                            <!--begin::Notice-->
                                            <div class="text-muted fw-bold fs-6">
                                                Please fill <span class="link-primary fw-bolder">Partner Name</span> with multi step forms.
                                            </div>
                                            <!--end::Notice-->
                                        </div>
                                        <!--end::Heading-->
                                        <!--begin::Input group-->
                                        <div class="fv-row">
                                            <!--begin::Form-->
                                            <%= form_with(model: @admin, url: wizard_path, method: :patch) do |form| %>
                                                <div class="row">
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <div class="d-flex">
                                                            <%= form.label :last_name, class: "form-label required fw-bolder"  %>
                                                        </div>
                                                        <%= form.text_field :last_name, id: "first_name", class: "form-control shadow-none errors", maxlength: 255 %>
                                                        <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @admin.errors.full_messages_for(:last_name)[0] %></p>
                                                    </div>
                                                    <div class="col-12 col-md-6 mb-3">
                                                        <div class="d-flex">
                                                            <%= form.label :first_name, class: "form-label required fw-bolder"  %>
                                                        </div>
                                                        <%= form.text_field :first_name, id: "first_name", class: "form-control shadow-none errors", maxlength: 255 %>
                                                        <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @admin.errors.full_messages_for(:first_name)[0] %></p>
                                                    </div>
                                                    <div class="col-12 c mb-3">
                                                        <div class="d-flex">
                                                            <%= form.label :email, class: "form-label required fw-bolder"  %>
                                                        </div>
                                                        <%= form.text_field :email, id: "first_name", class: "form-control shadow-none errors", maxlength: 255 %>
                                                        <p class ="text-danger fs-6 ms-invalid-feedback mt-1"><%= @admin.errors.full_messages_for(:email)[0] %></p>
                                                    </div>
                                                    <!--begin: Wizard Actions-->
                                                    <div class="d-flex justify-content-between pt-15">
                                                        <div class="mr-2">
                                                            <%= link_to previous_wizard_url,class: "btn btn-light-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3" do %>
                                                                <span class="svg-icon svg-icon-md mr-1">
                                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Left-2.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.3" transform="translate(15.000000, 12.000000) scale(-1, 1) rotate(-90.000000) translate(-15.000000, -12.000000)" x="14" y="7" width="2" height="10" rx="1" />
                                                                            <path d="M3.7071045,15.7071045 C3.3165802,16.0976288 2.68341522,16.0976288 2.29289093,15.7071045 C1.90236664,15.3165802 1.90236664,14.6834152 2.29289093,14.2928909 L8.29289093,8.29289093 C8.67146987,7.914312 9.28105631,7.90106637 9.67572234,8.26284357 L15.6757223,13.7628436 C16.0828413,14.136036 16.1103443,14.7686034 15.7371519,15.1757223 C15.3639594,15.5828413 14.7313921,15.6103443 14.3242731,15.2371519 L9.03007346,10.3841355 L3.7071045,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(9.000001, 11.999997) scale(-1, -1) rotate(90.000000) translate(-9.000001, -11.999997)" />
                                                                        </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span>
                                                                <%= t 'partner.steps.buttons.back' %>
                                                            <% end %>
                                                        </div>
                                                        <div>
                                                            <%= button_tag( :class => "btn btn-primary font-weight-bolder font-size-h6 pl-8 pr-4 py-4 my-3") do %>
                                                                <%= t 'partner.steps.buttons.continue' %>
                                                                <span class="svg-icon svg-icon-md ml-1">
                                                                    <!--begin::Svg Icon | path:assets/media/svg/icons/Navigation/Right-2.svg-->
                                                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                            <polygon points="0 0 24 0 24 24 0 24" />
                                                                            <rect fill="#000000" opacity="0.3" transform="translate(8.500000, 12.000000) rotate(-90.000000) translate(-8.500000, -12.000000)" x="7.5" y="7.5" width="2" height="9" rx="1" />
                                                                            <path d="M9.70710318,15.7071045 C9.31657888,16.0976288 8.68341391,16.0976288 8.29288961,15.7071045 C7.90236532,15.3165802 7.90236532,14.6834152 8.29288961,14.2928909 L14.2928896,8.29289093 C14.6714686,7.914312 15.281055,7.90106637 15.675721,8.26284357 L21.675721,13.7628436 C22.08284,14.136036 22.1103429,14.7686034 21.7371505,15.1757223 C21.3639581,15.5828413 20.7313908,15.6103443 20.3242718,15.2371519 L15.0300721,10.3841355 L9.70710318,15.7071045 Z" fill="#000000" fill-rule="nonzero" transform="translate(14.999999, 11.999997) scale(1, -1) rotate(90.000000) translate(-14.999999, -11.999997)" />
                                                                        </g>
                                                                    </svg>
                                                                    <!--end::Svg Icon-->
                                                                </span>
                                                            <% end %>
                                                        </div>
                                                    </div>
                                                    <!--end: Wizard Actions-->
                                                </div>   
                                            <% end %>
                                            <!--end::Form-->
                                        </div>
                                        <!--end::Input group-->
                                    </div>
                                    <!--end::Wrapper-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end::Card body-->
                </div>
            </div>
        </div>
    </div>
</div>
<%= javascript_pack_tag "user/user.js" %>