<!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <%= link_to admin_dashboard_index_path ,class: "sidebar-brand d-flex align-items-center justify-content-center" do%>
                <div class="sidebar-brand-icon rotate-n-15">
                </div>
                <div class="sidebar-brand-text mx-3"><%= t ('welcome.student.title.bee_lab_title') %></div>
            <% end %>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item active">
                <%= link_to admin_dashboard_index_path ,class: "nav-link" do %>
                    <i class="fas fa-fw fa-tachometer-alt ml-4 pl-1 ml-md-0"></i>
                    <span><%= t ('dashboard.admin_title') %></span>
                <% end %> 
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Student Search -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user-graduate ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('welcome.privacy policy.top_page_link.text1') %></span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('welcome.privacy policy.checkbox_text.text2'),admin_student_manage_student_search_path, class: "collapse-item"%>
                        <%= link_to t('partner.message_tab'), communication_admin_student_communication_path, class: "collapse-item"%>
                    </div>
                </div>
            </li>

            <!-- Company Search -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="far fa-fw fa-building ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('welcome.privacy policy.top_page_link.text2') %></span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('btn.company_search'), admin_company_manage_company_search_path, class: "collapse-item" %>
                        <%= link_to t('btn.event_search'), admin_company_manage_event_search_path, class: "collapse-item" %>
                        <%= link_to t('btn.vacancy_search'), admin_company_manage_vacancy_search_path, class: "collapse-item" %>                        
                        <%= link_to t('partner.message_tab'), communication_admin_company_communication_path, class: "collapse-item"%>
                    </div>
                </div>
            </li>

            <!--super partner start-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapaseSuPartners"
                    aria-expanded="true" aria-controls="collapaseSuPartners">
                    <i class="fas fa-users ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('partner.super_partners_tab') %></span>
                </a>
                <div id="collapaseSuPartners" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('partner.super_partners_entry_search'),admin_super_partners_path, class: "collapse-item"	%>
                        <%= link_to t('partner.partners_event_search'),admin_super_partner_manage_event_search_path, class: "collapse-item"    %>
                    </div>
                </div>
            </li>
            <!--super partner end-->

            <!--partner start-->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapasePartners"
                    aria-expanded="true" aria-controls="collapasePartners">
                    <i class="fas fa-users ml-4 pl-1 ml-md-0"></i>
                     <span><%= t('partner.partners_tab') %></span>
                </a>
                <div id="collapasePartners" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('partner.partners_entry_search'),admin_partners_path, class: "collapse-item"    %>
                        <%= link_to t('partner.partners_event_search'),admin_partner_manage_partner_event_search_path, class: "collapse-item"    %>
                    </div>
                </div>
            </li>
            <!--partner end-->

            <!-- Admin Event Create -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEvent"
                    aria-expanded="true" aria-controls="collapseEvent">
                    <i class="far fa-fw fa-calendar-check ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('dashboard.main_event_nav') %></span>
                </a>
                <div id="collapseEvent" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('search.event_nav'),admin_event_index_path, class: "collapse-item"	%>
                        <%# hide by nla %>
                        <%#= link_to t('search.participant_link'),admin_event_participants_search_path, class: "collapse-item"	%>
                    </div>
                </div>
            </li>

            <!-- News Pages Link Start by SDW -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapaseNews"
                    aria-expanded="true" aria-controls="collapaseNews">
                    <i class="fas fa-bullhorn ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('admin.news.news_tab') %></span>
                </a>
                <div id="collapaseNews" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('search.news_entry_search'),admin_news_index_path, class: "collapse-item"	%>
                    </div>
                </div>
            </li>
            <!-- News Pages Link Eng by SDW -->

            <%# Hide by NL %>
            <li class="nav-item d-none">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapaseArticles"
                    aria-expanded="true" aria-controls="collapaseArticles">
                    <i class="fas fa-newspaper ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('admin.article.article_tab') %></span>
                </a>
                <div id="collapaseArticles" class="collapse" aria-labelledby="headingNews" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%#= link_to t('search.article_entry_search'),admin_articles_path, class: "collapse-item"	%>
                    </div>
                </div>
            </li>

            <!-- Admin Contract Create -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePlan"
                    aria-expanded="true" aria-controls="collapsePlan">
                    <i class="fas fa-file-signature ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('partner_contract.contract_tab') %></span>
                </a>
                <div id="collapsePlan" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('partner_contract.contract_function'),admin_admin_contracts_path, class: "collapse-item"	%>
                        <%= link_to t('partner_plan.partner_plan_tab'),admin_admin_plans_path, class: "collapse-item"	%>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin_users"
                    aria-expanded="true" aria-controls="admin_users">
                    <i class="fas fa-users ml-4 pl-1 ml-md-0"></i>
                    <span><%= t('dashboard.admin_users')  %></span>
                </a>
                <div id="admin_users" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('dashboard.admin_users') , admin_admin_users_path, class: "collapse-item"	%>
                    </div>
                </div>
            </li>
            
            <!-- setting for student and company -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#admin_setting"
                    aria-expanded="true" aria-controls="admin_setting">
                    <i class="fas fa-fw fa-cog ml-4 pl-1 ml-md-0"></i>
                    <span><%= t'admin.setting.title' %></span>
                </a>
                <div id="admin_setting" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <%= link_to t('admin.setting.student_title'),admin_admin_student_setting_path, class: "collapse-item"%> 
                        <%= link_to t('admin.setting.company_title'),admin_admin_company_setting_path, class: "collapse-item"%>
                        <%= link_to t('admin.setting.partner_title'),admin_partner_manage_admin_partner_setting_path, class: "collapse-item"%>
                        <%= link_to t('admin.setting.super_partner_title'),admin_super_partner_manage_admin_super_partner_setting_path, class: "collapse-item"%>
                        <%#= link_to t('admin.setting.db_backup_title'),admin_backup_db_index_path, class: "collapse-item"%> 
                        <%#= link_to t('api_access_token.menu_link'),admin_api_access_tokens_path, class: "collapse-item"%>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->      