<div class="card bg-body rounded-bottom-0">
    <!--begin::Hero body-->
    <div class="card-body flex-column p-5">
        <!--begin::Hero content-->
        <div class="d-flex align-items-center p-5">
          <!--begin::Wrapper-->
          <div class="d-flex flex-column align-items-start justift-content-center flex-equal">
            <!--begin::Title-->
            <h1 class="fw-bolder fs-4 fs-lg-1 text-gray-800"><%= @company_event.event_name %></h1>
            <!--end::Title-->
            <div class="d-flex flex-wrap">
              <% unless @company_event.category.nil?%>
                <!--begin::Info-->
                <div class="d-flex flex-wrap ">
                  <% @company_event.category.each do |v| %>
                    <% if v != nil %>
                      <!--begin::Item-->
                      <div class="me-9 my-1">
                        <!--begin::Icon-->
                        <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                        <span class="svg-icon svg-icon-primary svg-icon-2 me-1">
                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                            <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                            <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                            <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                          </svg>
                        </span>
                        <!--end::Svg Icon-->
                        <!--end::Icon-->
                        <!--begin::Label-->
                        <span class="fw-bolder text-gray-400"><%= t("event.category.#{Event.event_categories.key(v)}") %></span>
                        <!--end::Label-->
                      </div>
                      <!--end::Item-->
                    <% end %>
                  <% end %>
                </div>
              <% end %> 
            </div>
          </div>
          <!--end::Wrapper-->
        </div>
        <!--end::Hero content-->
        <!--begin::Hero nav-->
        <div class="card-rounded bg-light d-flex flex-stack flex-wrap p-5 mx-4">
          <!--begin::Nav-->
          <ul class="nav flex-wrap border-transparent fw-bolder">
              <!--begin::Nav item-->
              <% if can?(:read, Event) %>
                <li class="nav-item my-1">
                  <%= link_to (t"btn.overview"), kodawarione_event_manage_search_event_detail_path(:id => @company_event.id), class: "btn btn-color-gray-600 btn-active-white btn-active-color-primary fw-boldest fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 #{partner_active_url?(kodawarione_event_manage_search_event_detail_path(:id => @company_event.id))}" %>
                </li>
              <% end %>
              <!--end::Nav item-->
              <!--begin::Nav item--> 
                <li class="nav-item my-1">
                  <%= link_to (t"btn.apply_list"), kodawarione_event_manage_event_apply_student_list_path(:id => @company_event.id), class: "btn btn-color-gray-600 btn-active-white btn-active-color-primary fw-boldest fs-8 fs-lg-base nav-link px-3 px-lg-8 mx-1 #{partner_active_url?(kodawarione_event_manage_event_apply_student_list_path(:id => @company_event.id))}" %>
                </li> 
              <!--end::Nav item-->
          </ul>
          <!--end::Nav-->
          <!--begin::Action-->
          <!--begin::HideDeleteAndEdit-->
          <%# if @company_event.application_deadline > Date.today %>
          <!--<div class="d-flex justify-content-end">
              <%# if can?(:destroy, Event) %>
                <div>
                  <%# render 'delete_event' %>
                </div>
              <%# end %>
              <%# if can?(:update, Event) %>
                <%# link_to t('event.title.edit_text'), edit_company_event_path(:id => @company_event.id), class: "btn btn-primary" %>
              <%# end %>
            </div>-->
          <%# end %>
          <!--end::Action-->
        </div>
        <!--end::Hero nav-->
    </div>
    <!--end::Hero body-->
</div>
<!--begin::pagination-->
<% if @join_event_list.present? %>           
    <div class="content flex-row-fluid pt-0" id="kt_content"> 
        <div class="card bg-body rounded-top-0 mb-5 mb-xl-10">
            <div class="card-header border-0 pt-5">
                <h3 class="card-title align-items-start flex-column">
                    <span class="card-label fw-bolder fs-3 mb-1"><%= t ('event.title.event_join_stu_list') %></span>
                    <span class="text-muted mt-1 fw-bold fs-7"><%= @join_event_list.size %> <%= t('common.student_total_count') %></span>
                </h3> 
                <div class="fs-4 fw-bolder bg-light-primary rounded d-flex flex-center px-5">
                    <%= t'event.title.apply_limit' %>: <%= @join_event_list.size %> / <%= @event.apply_event_limit %> <%= t 'unit.persons' %>
                </div>
            </div>
            <div class="card-body py-4"> 
                <div class="table-responsive  overflow-auto">
                    <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_table_users"> 
                        <thead>
                            <!--begin::Table row-->
                            <tr class="text-start text-muted fw-bolder fs-7 text-uppercase gs-0"> 
                                <th class="min-w-200px"><%=  t 'student.student_show.name' %></th> 
                                <th class="min-w-125px"><%= t 'activerecord.attributes.company/company_member.join_date' %></th>  
                            </tr>
                            <!--end::Table row-->
                        </thead> 
                        <tbody class="text-gray-600 fw-bold">  
                            <% @join_event_list.each do |student_join_event| %>
                                <tr>
                                    <td class="d-flex align-items-center"> 
                                        <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
                                            <%= image_tag student_join_event.image.attached? ? student_join_event.image : "avatar/male.svg", class: "symbol-label" %> 
                                        </div> 
                                        <div class="d-flex flex-column">
                                            <%= link_to company_student_details_path(id: student_join_event.id), :class=> 'text-gray-800 text-hover-primary mb-1' do %>
                                                <%= student_join_event.nick_name %>
                                            <% end %> 
                                            <span></span>
                                        </div> 
                                    </td>   
                                    <td><%= l @event.updated_at.to_date %></td>
                                </tr>
                            <% end %>
                        </tbody> 
                    </table>                   
                </div>                            
            </div>
        </div>  
    </div>  
    <!--begin::pagination-->
    <div class="d-flex flex-wrap justify-content-between align-items-center my-2">
        <div class="d-flex flex-wrap py-2 mr-3">
            <%= paginate  @join_event_list %>
        </div>
        <div class="d-flex align-items-center py-3">
            <span class="text-muted"><%=  t('common.list_display')  %><%= @join_event_list.total_count %> <%=  t('common.to')  %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <%= @join_event_list.offset_value + 1 %> ~ <%=  @join_event_list.offset_value + @join_event_list.count %> <%=  t('common.search_result')  %> </span>
        </div>
    </div>
    <!--end::pagination-->
    <% else %> 
    <!--begin::Card-->
    <div class="card bg-body">
        <!--begin::Card body-->
        <div class="card-body p-0">
            <!--begin::Wrapper-->
            <div class="card-px py-5 my-5">
                <!--begin::Description-->
                <div class="d-flex align-items-center flex-column">
                    <span class="text-muted m-1 fw-bold"><%= t ('event.title.event_join_stu_list_no_data') %></span>
                </div>
                <!--end::Description-->
            </div>
            <!--end::Wrapper-->
        </div>
        <!--end::Card body-->
    </div>
    <!--end::Card-->
<% end %>
<!--end::Card-->