<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
	<!--begin::Container-->
    <div class="container-xxl" id="kt_content_container">
        <!--begin::Layout-->
        <div class="d-flex flex-column flex-lg-row">
            <!--begin::Sidebar-->
            <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-350px mb-10">
                <!--begin::Card-->
                <div class="card bg-body mb-5 mb-xl-10">
                    <!--begin::Card body-->
                    <div class="card-body">
                        <!--begin::Summary-->
                        <!--begin::User Info-->
                        <div class="d-flex flex-center flex-column py-5">
                            <!--begin::Avatar-->
                            <div class="symbol symbol-100px symbol-circle mb-7">
                                <% if student.image.attached? %>
                                    <%= image_tag (student.image), :class=> "Responsive image" %>
                                <% else %>
                                    <% if student.gender == "female" %>
                                        <%= image_tag "avatar/female.svg", :class=> "Responsive image" %>                                
                                    <% else %>
                                        <%= image_tag "avatar/male.svg", :class=> "Responsive image" %>   
                                    <% end %>
                                <% end %> 
                            </div>
                            <!--end::Avatar-->
                            <!--begin::Name-->
                            <span class="fs-3 text-gray-800 text-hover-primary fw-bold mb-3"><%= student.last_name %> <%= student.first_name %></span>
                            <!--end::Name-->
                            <!--begin::Position-->
                            <% if student.school_type.present? %>
                                <div class="mb-9">
                                    <!--begin::Badge-->
                                    <div class="badge badge-lg badge-light-primary d-inline"><%=  t("student.school_type.#{student.school_type}")  %></div>
                                    <!--begin::Badge-->
                                </div>
                            <% end %>
                            <!--end::Position-->
                        </div>
                        <!--end::User Info-->
                        <!--end::Summary-->
                        <!--begin::Details toggle-->
                        <div class="d-flex flex-stack fs-4 py-3">
                            <div class="fw-bold rotate collapsible" data-bs-toggle="collapse" href="#kt_user_view_details" role="button" aria-expanded="false" aria-controls="kt_user_view_details"><%= t("student.title.personal_information") %> 
                            <span class="ms-2 rotate-180">
                                <!--begin::Svg Icon | path: icons/duotune/arrows/arr072.svg-->
                                <span class="svg-icon svg-icon-3">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                            </span></div>
                        </div>
                        <!--end::Details toggle-->
                        <div class="separator"></div>
                        <!--begin::Details content-->
                        <div id="kt_user_view_details" class="collapse show">
                            <div class="pb-5 fs-6">
                                <!--begin::Details item-->
                                <% if student.nick_name.present? %>
                                <div class="fw-bold mt-5"><%= Student::Student.human_attribute_name('nick_name') %></div>
                                <div class="text-gray-600"><%= student.nick_name %></div>
                                <% end %>
                                <!--end::Details item-->
                                <!--begin::Phone No-->
                                <!--<div class="fw-bold mt-5">Phone No</div>
                                <div class="text-gray-600"><%# student.phone_no %></div>-->
                                <!--end::Phone No-->
                                <!--begin::Email-->
                                <!--<div class="fw-bold mt-5">Email</div>
                                <div class="text-gray-600">
                                    <span class="text-gray-600 text-hover-primary"><%# student.user.email %></span>
                                </div>-->
                                <!--end::Email-->                                
                                <!--begin::Birthday-->
                                <div class="fw-bold mt-5"><%= Student::Student.human_attribute_name('birthday') %></div>
                                <div class="text-gray-600"><%= l student.birthday %></div>
                                <!--end::Birthday-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5"><%= Student::Student.human_attribute_name('gender') %></div>
                                <div class="text-gray-600">  <%= t("student.gender.#{student.gender}") %></div>
                                <!--end::Details item-->
                                <!--begin::Details item-->
                                <div class="fw-bold mt-5"><%= Student::Student.human_attribute_name('display_address') %></div>
                                <div class="text-gray-600">
                                    <%= get_MPrefecture_by_id(student.postal_prefecture_id) %> 
                                    <%= student.postalcode_city %>
                                </div>
                                <!--end::Details item-->
                            </div>
                        </div>
                        <!--end::Details content-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->
                <!--begin::Connected Accounts-->
                <div class="card bg-body mb-5 mb-xl-8">
                    <!--begin::Card header-->
                    <div class="card-header border-0">
                        <div class="card-title">
                            <h2 class="mb-1"><%= t('student.title.school_info') %></h2>
                        </div>
                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-2">
                        <!--begin::Items-->
                        <div class="py-2">
                            <!--begin::Item-->
                            <% if student.school_name.present? %>
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <span class="fs-5 text-dark text-hover-primary fw-bold"><%= Student::Student.human_attribute_name('school_name') %></span>
                                            <div class="fs-6 fw-semibold text-muted"><%=  student.school_name %></div>
                                        </div>
                                    </div>                                
                                </div>
                            <% end %>
                            <!--end::Item-->                            
                            <!--begin::Item-->
                            <% if student.subject_system.present? %>
                                <div class="separator separator-dashed my-5"></div>
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bold"><%= Student::Student.human_attribute_name('subject_system') %></a>
                                            <div class="fs-6 fw-semibold text-muted"><%= t("student.subject_system.#{student.subject_system}") %></div>
                                        </div>
                                    </div>                                
                                </div>
                            <% end %>
                            <!--end::Item-->
                            <% unless student.qualification_type_id.nil? || student.qualification_type_id == [nil] %>
                                <div class="separator separator-dashed my-5"></div>
                                <!--begin::Item-->
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bold"> <%= Student::Student.human_attribute_name('qualification_type_id') %></a>
                                            <div class="fs-6 fw-semibold text-muted"><%= get_qualification_category(student.qualification_type_id) %></div>
                                        </div>
                                    </div>                                
                                </div>
                                <!--end::Item-->
                            <% end %>
                            <% unless student.qualification_category_id.nil? || student.qualification_category_id == [nil] %>
                                <div class="separator separator-dashed my-5"></div>
                                <!--begin::Item-->
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bold"> <%= Student::Student.human_attribute_name('qualification_category_id') %></a>
                                            <div class="fs-6 fw-semibold text-muted"><%= get_qualification_category(student.qualification_category_id) %></div>
                                        </div>
                                    </div>                                
                                </div>
                                <!--end::Item-->
                            <% end %>
                            <div class="separator separator-dashed my-5"></div>
                            <!--begin::Item-->
                            <% if student.graduation_date.present? %>
                                <div class="d-flex flex-stack">
                                    <div class="d-flex">
                                        <div class="d-flex flex-column">
                                            <a href="#" class="fs-5 text-dark text-hover-primary fw-bold"><%= Student::Student.human_attribute_name('graduation_date') %></a>
                                            <div class="fs-6 fw-semibold text-muted"><%= get_graduation_date(student.graduation_date) %></div>
                                        </div>
                                    </div>                                
                                </div>
                            <% end %>
                            <!--end::Item-->
                        </div>
                        <!--end::Items-->
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Connected Accounts-->
            </div>
            <!--end::Sidebar-->
            <!--begin::Content-->
            <div class="flex-lg-row-fluid ms-lg-15">
                <!--begin:::Tabs-->
                <ul class="nav nav-custom nav-tabs nav-line-tabs nav-line-tabs-2x border-0 fs-4 fw-semibold mb-8">
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4 active" data-bs-toggle="tab" href="#kt_user_view_overview_tab"><%= t('title.student_search_detail_title') %></a>
                    </li>
                    <!--end:::Tab item-->
                    <!--begin:::Tab item-->
                    <li class="nav-item">
                        <a class="nav-link text-active-primary pb-4" data-kt-countup-tabs="true" data-bs-toggle="tab" href="#kt_user_view_overview_security">
                            <%= t("student_assessment.self_assessment") %>
                        </a>
                    </li>
                    <!--end:::Tab item-->          
                </ul>
                <!--end:::Tabs-->	
                <!--begin:::Tab content-->
                <div class="tab-content" id="myTabContent">
                    <!--begin:::Tab pane-->
                    <div class="tab-pane fade show active" id="kt_user_view_overview_tab" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card bg-body card-flush mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header mt-6">
                                <!--begin::Card title-->
                                <div class="card-title flex-column">
                                    <h2 class="mb-1"><%=  t( 'title.employement_information_detail')  %></h2>
                                </div>
                                <!--end::Card title-->                            
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body p-9 pt-4">
                                <!--begin::Tab Content-->
                                <div class="tab-content">                     
                                    <!--begin::Employment-->
                                    <div id="kt_schedule_day_1" class="tab-pane fade show active">
                                        <!--begin::Time-->
                                        <div class="d-flex flex-stack position-relative mt-6">
                                            <!--begin::Bar-->
                                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                                            <!--end::Bar-->
                                            <!--begin::Info-->
                                            <div class="fw-semibold ms-5">
                                                <!--begin::Title-->
                                                <span class="fs-5 fw-bold text-dark text-hover-primary mb-2"><%= Student::Student.human_attribute_name('m_prefecture_id') %></span>
                                                <!--end::Title-->
                                                <!--begin::User-->
                                                <% unless student.m_prefecture_id.nil? || student.m_prefecture_id == [nil] %>
                                                    <div class="fs-7 text-muted"><%=  get_prefecture_name_with_multi_select(student.m_prefecture_id)  %></div>
                                                <% else %>
                                                    <div class="fs-7 text-muted">ない</div>
                                                <% end %>
                                                <!--end::User-->
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Time-->
                                        <!--begin::Time-->
                                        <div class="d-flex flex-stack position-relative mt-6">
                                            <!--begin::Bar-->
                                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                                            <!--end::Bar-->
                                            <!--begin::Info-->
                                            <div class="fw-semibold ms-5">
                                                <!--begin::Title-->
                                                <span class="fs-5 fw-bold text-dark text-hover-primary mb-2"> <%= Student::Student.human_attribute_name('desire_job_type_id') %></span>
                                                <!--end::Title-->
                                                <!--begin::User-->
                                                <% unless student.desire_job_type_id.nil? || student.desire_job_type_id == [nil] %>
                                                    <div class="fs-7 text-muted"><%= get_occupation_name(student.desire_job_type_id) %></div>
                                                <% else %>
                                                    <div class="fs-7 text-muted">ない</div>
                                                <% end %>
                                                <!--end::User-->
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Time-->
                                        <!--begin::Time-->
                                        <div class="d-flex flex-stack position-relative mt-6">
                                            <!--begin::Bar-->
                                            <div class="position-absolute h-100 w-4px bg-primary rounded top-0 start-0"></div>
                                            <!--end::Bar-->
                                            <!--begin::Info-->
                                            <div class="fw-semibold ms-5">
                                                <!--begin::Title-->
                                                <span class="fs-5 fw-bold text-dark text-hover-primary mb-2"> <%= Student::Student.human_attribute_name('job_info')  %></span>
                                                <!--end::Title-->
                                                <!--begin::User-->
                                                <% unless student.job_info.nil? || student.job_info == "" %>
                                                    <div class="fs-7 text-muted"><%= student.job_info %></div>
                                                <% else %>
                                                    <div class="fs-7 text-muted">ない</div>
                                                <% end %>
                                                <!--end::User-->
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Time-->
                                    </div>
                                    <!--end::Employment-->                                                        
                                </div>
                                <!--end::Tab Content-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                        <!--begin::Tasks-->
                        <div class="card card-flush bg-body mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header mt-6">
                                <!--begin::Card title-->
                                <div class="card-title flex-column">
                                    <h2 class="mb-1"><%= t ('title.activity_information') %></h2>
                                </div>
                                <!--end::Card title-->                            
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body d-flex flex-column">
                                <!--begin::Item-->
                                <% unless student.club_name.nil? || student.club_name == "" %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= Student::Student.human_attribute_name('club_name')  %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted"><%= student.club_name %></div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Details-->                    
                                    </div>
                                <% end %>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <% unless student.club_position.nil? || student.club_position == "" %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= Student::Student.human_attribute_name('club_position')  %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted">
                                                <%= student.club_position %>
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Details-->                                
                                    </div>
                                <% end %>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <% unless student.club_detail_activity.nil? || student.club_detail_activity == "" %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= Student::Student.human_attribute_name('club_detail_activity') %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted"><%=  student.club_detail_activity %></div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Details-->                                
                                    </div>
                                <% end %>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <% unless student.sns_blog_for_pr.nil? || student.sns_blog_for_pr == "" %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= Student::Student.human_attribute_name('sns_blog_for_pr') %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted"> <%= student.sns_blog_for_pr %></div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Details-->                                
                                    </div>
                                <% end %>
                                <!--end::Item-->                            
                                <!--begin::Item-->
                                <% unless student.club_guide.nil? || student.club_guide == "" %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= Student::Student.human_attribute_name('club_guide') %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted"><%= student.club_guide %></div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Details-->                                
                                    </div>
                                <% end %>
                                <!--end::Item-->
                                <!--begin::Item-->
                                <% unless student.outside_school_activity.nil? || student.outside_school_activity == [""] || student.outside_school_activity == [0,0,0,0,0,0,0,0,0,0,0] %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"><%= Student::Student.human_attribute_name('outside_school_activity')  %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted">
                                                <% check_val = student.outside_school_activity.reject { |i| i.zero? } %>
                                                <% check_val.each_with_index do |v,i| %>
                                                    <%= t("student.outside_activity.#{Student::Student.outside_activities.key(i+1)}") %>
                                                    <% if check_val.length > 1 && check_val.length != i+1 %>
                                                        <%= ',' %>
                                                    <% end %>
                                                <% end %>                                            
                                            </div>
                                            <!--end::Info-->
                                        </div>
                                        <!--end::Details-->                                
                                    </div>
                                    <!--end::Item--> 
                                <% end %>
                                <!--begin::Item-->
                                <% unless student.is_beelab_activity_participate.nil? %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">                                        
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"><%= Student::Student.human_attribute_name('is_beelab_activity_participate') %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted">                                                
                                                <%=  t("student.is_beelab_activity_participate.#{student.is_beelab_activity_participate}") %>
                                            </div>
                                            <!--end::Info-->                                        
                                        </div>                             
                                        <!--end::Details-->                                
                                    </div>
                                    <%end %>
                                <!--end::Item--> 
                                <!--begin::Item-->
                                <% unless student.beelab_college_achievements.nil? %>
                                    <div class="d-flex align-items-center position-relative mb-7">
                                        <!--begin::Label-->
                                        <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                        <!--end::Label-->
                                        <!--begin::Details-->
                                        <div class="fw-semibold ms-5">                                        
                                            <span class="fs-5 fw-bold text-dark text-hover-primary"><%= Student::Student.human_attribute_name('beelab_college_achievements') %></span>
                                            <!--begin::Info-->
                                            <div class="fs-7 text-muted">
                                                <%= student.beelab_college_achievements %>
                                            </div>
                                            <!--end::Info-->                                       
                                        </div>                       
                                        <!--end::Details-->                                
                                    </div>
                                <% end %>
                                <!--end::Item-->                           
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Club-->
                        <!--begin::Assessment-->
                        <% unless student_assessment.nil?%>
                            <% unless student_assessment.first_priority_language.nil? && student_assessment.second_priority_language.nil? && student_assessment.third_priority_language.nil?  %>
                                <div class="card card-flush bg-body mb-6 mb-xl-9">
                                    <!--begin::Card header-->
                                    <div class="card-header mt-6">
                                        <!--begin::Card title-->
                                        <div class="card-title flex-column">
                                            <h2 class="mb-1"><%=  t( 'title.student_assement_informantion')  %></h2>
                                        </div>
                                        <!--end::Card title-->                            
                                    </div>
                                    <!--end::Card header-->
                                    <!--begin::Card body-->
                                    <div class="card-body d-flex flex-column">
                                        <!--begin::Item-->
                                        <% unless student_assessment.first_priority_language.nil? %>  
                                            <div class="d-flex align-items-center position-relative mb-7">
                                                <!--begin::Label-->
                                                <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                                <!--end::Label-->
                                                <!--begin::Details-->
                                                <% unless student.nil?%>
                                                    <div class="fw-semibold ms-5">
                                                        <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= t('student.assessment.first_priority_language')%></span>
                                                        <!--begin::Info-->
                                                        <div class="fs-7 text-muted">
                                                            <%= t("student_assessment.priority_language.#{Student::Assessment.priority_languages.key(student_assessment.first_priority_language)}") %>      
                                                        </div>
                                                        <!--end::Info-->
                                                    </div>
                                                <% end %>
                                                <!--end::Details-->                    
                                            </div>
                                        <% end %>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <% unless student_assessment.second_priority_language.nil? %>
                                            <div class="d-flex align-items-center position-relative mb-7">
                                                <!--begin::Label-->
                                                <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                                <!--end::Label-->
                                                <!--begin::Details-->
                                                <div class="fw-semibold ms-5">
                                                    <span class="fs-5 fw-bold text-dark text-hover-primary"> <%= t('student.assessment.second_priority_language') %></span>
                                                    <!--begin::Info-->
                                                    <div class="fs-7 text-muted">                                              
                                                        <%= t("student_assessment.priority_language.#{Student::Assessment.priority_languages.key(student_assessment.second_priority_language)}") %>
                                                    </div>
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::Details-->                                
                                            </div>
                                        <% end %>
                                        <!--end::Item-->
                                        <!--begin::Item-->
                                        <% unless student_assessment.third_priority_language.nil? %>
                                            <div class="d-flex align-items-center position-relative mb-7">
                                                <!--begin::Label-->
                                                <div class="position-absolute top-0 start-0 rounded h-100 bg-primary w-4px"></div>
                                                <!--end::Label-->
                                                <!--begin::Details-->
                                                <div class="fw-semibold ms-5">
                                                    <span class="fs-5 fw-bold text-dark text-hover-primary"><%= t('student.assessment.third_priority_language') %></span>
                                                    <!--begin::Info-->
                                                    <div class="fs-7 text-muted">
                                                        <%= t("student_assessment.priority_language.#{Student::Assessment.priority_languages.key(student_assessment.third_priority_language)}") %>
                                                    </div>
                                                    <!--end::Info-->
                                                </div>
                                                <!--end::Details-->                                
                                            </div>
                                            <!--end::Item-->
                                        <% end %>                                    
                                    </div>
                                    <!--end::Card body-->
                                </div>
                            <% end %>
                        <% end %>
                        <!--end::Assessment-->
                    </div>
                    <!--end:::Tab pane-->
                    <!--begin::Tab Pane-->
                    <!--begin:::Tab pane-->
                    <div class="tab-pane fade" id="kt_user_view_overview_security" role="tabpanel">
                        <!--begin::Card-->
                        <div class="card bg-body pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2><%= t('student.assessment.diagnosis_title') %></h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 pb-5">
                            <div class="tab-pane active" id="kt_apps_contacts_view_tab_1" role="tabpanel">
                                        <div class="container">
                                            <div class="row">                                         
                                                <div class="col-4"> 
                                                    <div class="flex-grow-1 bg-light-warning rounded-xl p-8">   
                                                        <div class="d-flex flex-column align-items-center mb-5">
                                                            <div class="font-size-sm font-weight-bold text-center">
                                                                <%= t('student_assessment.self_evaluation_tbl_title_1')%>
                                                            </div>   
                                                            <div class="font-size-sm font-weight-bold text-center">
                                                                <%= t('student_assessment.self_evaluation_tbl_title_2')%>
                                                            </div>
                                                        </div>
                                                        <!--begin::Item-->
                                                        <% unless chartOne.nil? %>
                                                            <% chartOne.each do |k,v|%>
                                                                <div class="d-flex symbol symbol-circle symbol-white symbol-30 flex-shrink-0 mr-3 mb-5">
                                                                    <div class="d-flex symbol-label">
                                                                        <span class="svg-icon svg-icon-md svg-icon-warning">
                                                                            <!--begin::Svg Icon | path:assets/media/svg/icons/Design/Flip-vertical.svg-->
                                                                            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                                <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                                    <rect x="0" y="0" width="24" height="24" />
                                                                                    <path d="M9.07117914,12.5710461 L13.8326627,12.5710461 C14.108805,12.5710461 14.3326627,12.3471885 14.3326627,12.0710461 L14.3326627,0.16733734 C14.3326627,-0.108805035 14.108805,-0.33266266 13.8326627,-0.33266266 C13.6282104,-0.33266266 13.444356,-0.208187188 13.3684243,-0.0183579985 L8.6069408,11.8853508 C8.50438409,12.1417426 8.62909204,12.4327278 8.8854838,12.5352845 C8.94454394,12.5589085 9.00756943,12.5710461 9.07117914,12.5710461 Z" fill="#000000" opacity="0.3" transform="translate(11.451854, 6.119192) rotate(-270.000000) translate(-11.451854, -6.119192)" />
                                                                                    <path d="M9.23851648,24.5 L14,24.5 C14.2761424,24.5 14.5,24.2761424 14.5,24 L14.5,12.0962912 C14.5,11.8201488 14.2761424,11.5962912 14,11.5962912 C13.7955477,11.5962912 13.6116933,11.7207667 13.5357617,11.9105959 L8.77427814,23.8143047 C8.67172143,24.0706964 8.79642938,24.3616816 9.05282114,24.4642383 C9.11188128,24.4878624 9.17490677,24.5 9.23851648,24.5 Z" fill="#000000" transform="translate(11.500000, 18.000000) scale(1, -1) rotate(-270.000000) translate(-11.500000, -18.000000)" />
                                                                                    <rect fill="#000000" opacity="0.3" transform="translate(12.000000, 12.000000) rotate(-270.000000) translate(-12.000000, -12.000000)" x="11" y="2" width="2" height="20" rx="1" />
                                                                                </g>
                                                                            </svg>
                                                                            <!--end::Svg Icon-->
                                                                        </span>
                                                                    </div>
                                                                    <div class="font-size-sm font-weight-bold ml-3 mt-3"><%= v %>位：　<span><%= k %></span></div>
                                                                </div>
                                                            <%end%>
                                                        <% end %> 
                                                        <!--end::Item-->                                                    
                                                    </div>  
                                                    <div class="text-center mt-3">
                                                        <% if student_assessment.present? %>
                                                            <%= t('student_assessment.std_assessment_chart_date')%>：
                                                            <%=if student_assessment.brain_action_date != nil
                                                                l(student_assessment.brain_action_date  )
                                                            else
                                                                "-"   
                                                            end%>
                                                        <% end %>
                                                    </div>                 
                                                </div>
                                                <div class="col-8">                                           
                                                    <div id="newSelfEevaluationChart"></div>      
                                                </div>                           
                                            </div>                
                                        </div>        
                                    </div>    
                                    <!--end::Tab Content-->
                            </div>
                            <!--end::Card body-->
                        </div>
                        <!--end::Card-->
                        <!--begin::Potential Desire-->
                        <div class="card bg-body pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2><%= t('student.assessment.potential_desire_title') %></h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 pb-5">
                                <div class="tab-pane" id="kt_apps_contacts_view_tab_2" role="tabpanel">
                                    <div class="container">
                                        <div class="row">                                         
                                            <div class="col-4"> 
                                                <div class="flex-grow-1 bg-light-info rounded-xl p-8">
                                                    <!--begin::Item-->
                                                    <div class="d-flex flex-column align-items-center mb-5">
                                                        <div class="font-size-sm font-weight-bold text-center">
                                                            <%= t('student_assessment.potential_desire_tbl_title_1')%>
                                                        </div>
                                                        <div class="font-size-sm font-weight-bold text-center">
                                                            <%= t('student_assessment.potential_desire_tbl_title_2')%>
                                                        </div>
                                                    </div>        
                                                    <!--end::Item-->
                                                    <!--begin::Item-->
                                                    <div class="d-flex align-items-center mb-5">
                                                        <div>
                                                            <% unless chartTwo.nil? %>
                                                                <% chartTwo.each do |k,v|%>
                                                                    <div class="d-flex symbol symbol-circle symbol-white symbol-30 flex-shrink-0 mr-3 mb-5">
                                                                        <div class="d-flex symbol-label">
                                                                            <span class="svg-icon svg-icon-md svg-icon-info">
                                                                                <!--begin::Svg Icon | path:assets/media/svg/icons/Media/Equalizer.svg-->
                                                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                                        <rect x="0" y="0" width="24" height="24" />
                                                                                        <rect fill="#000000" opacity="0.3" x="13" y="4" width="3" height="16" rx="1.5" />
                                                                                        <rect fill="#000000" x="8" y="9" width="3" height="11" rx="1.5" />
                                                                                        <rect fill="#000000" x="18" y="11" width="3" height="9" rx="1.5" />
                                                                                        <rect fill="#000000" x="3" y="13" width="3" height="7" rx="1.5" />
                                                                                    </g>
                                                                                </svg>
                                                                                <!--end::Svg Icon-->
                                                                            </span>
                                                                        </div>
                                                                        <div class="font-size-sm font-weight-bold ml-3 mt-3"><%= v %>位：　<span><%= k %></span></div>
                                                                    </div>
                                                                <%end%>
                                                            <% end %>             
                                                        </div>
                                                    </div>
                                                    <!--end::Item-->
                                                </div> 
                                                <div class="text-center mt-3">
                                                    <% if student_assessment.present? %>
                                                        <%= t('student_assessment.std_assessment_chart_date')%>：
                                                            <%= if student_assessment.potential_action_date != nil
                                                                l(student_assessment.potential_action_date  )
                                                            else
                                                                "-"   
                                                            end%>      
                                                    <% end %>      
                                                </div>                        
                                            </div>        
                                            <div class="col-8">                                           
                                                <div id="newPotentialDesireChart"></div>       
                                            </div>                                   
                                        </div>
                                    </div>
                                </div>
                            </div>                  
                            <!--end::Card body-->
                        </div>
                        <!--end::Potential Desire-->
                        <!--begin::Various Activity-->
                        <div class="card bg-body pt-4 mb-6 mb-xl-9">
                            <!--begin::Card header-->
                            <div class="card-header border-0">
                                <!--begin::Card title-->
                                <div class="card-title">
                                    <h2><%= t('student.assessment.behavioral_trait_title') %></h2>
                                </div>
                                <!--end::Card title-->
                            </div>
                            <!--end::Card header-->
                            <!--begin::Card body-->
                            <div class="card-body pt-0 pb-5">
                                <div class="tab-pane" role="tabpanel">
                                    <!--begin::Container-->
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 student-assessment align-items-center justify-content-center">
                                                <div class= "bahavioralTraitTypeChart px-3">
                                                    <%# self_expression chart %>
                                                    <div class = "row"><%= t('student_assessment.self_expression')%></div>
                                                    <div id ="self_expression_chart" class = "row color-section">
                                                        <div class = "col bg-pink"></div>
                                                        <div class = "col bg-lightBlue"></div>
                                                        <div class = "col bg-green"></div>
                                                        <div class = "col bg-blue"></div>
                                                        <div class = "col bg-orange"></div>
                                                    </div>
                                                    <div class = "row mb-4">
                                                        <div class = "col text-center"><%= t('student_assessment.self_expression_chart_title_1')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_expression_chart_title_2')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_expression_chart_title_3')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_expression_chart_title_4')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_expression_chart_title_5')%></div>
                                                    </div>
                                                    <%# self_assertion chart %>
                                                    <div class = "row"><%= t('student_assessment.self_assertion')%></div>
                                                    <div id ="self_assertion_chart" class = "row color-section">
                                                        <div class = "col bg-pink"></div>
                                                        <div class = "col bg-lightBlue"></div>
                                                        <div class = "col bg-green"></div>
                                                        <div class = "col bg-blue"></div>
                                                        <div class = "col bg-orange"></div>
                                                    </div>
                                                    <div class = "row mb-4">
                                                        <div class = "col text-center"><%= t('student_assessment.self_assertion_chart_title_1')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_assertion_chart_title_2')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_assertion_chart_title_3')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_assertion_chart_title_4')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_assertion_chart_title_5')%></div>
                                                    </div>
                                                    <%# self_flexibility chart %>
                                                    <div class = "row"><%= t('student_assessment.self_flexibility')%></div>
                                                    <div id ="self_flexibility_chart" class = "row color-section">
                                                        <div class = "col bg-pink"></div>
                                                        <div class = "col bg-lightBlue"></div>
                                                        <div class = "col bg-green"></div>
                                                        <div class = "col bg-blue"></div>
                                                        <div class = "col bg-orange"></div>
                                                    </div>
                                                    <div class = "row">
                                                        <div class = "col text-center"><%= t('student_assessment.self_flexibility_chart_title_1')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_flexibility_chart_title_2')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_flexibility_chart_title_3')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_flexibility_chart_title_4')%></div>
                                                        <div class = "col text-center"><%= t('student_assessment.self_flexibility_chart_title_5')%></div>
                                                    </div>
                                                </div> 
                                            </div>
                                            <div class="col-4 d-flex flex-column"> 
                                                <div class="text-center mt-3">
                                                    <% if student_assessment.present? %>
                                                        <%= t('student_assessment.std_assessment_chart_date')%>：
                                                        <%=if student_assessment.behavioral_action_date != nil
                                                            l(student_assessment.behavioral_action_date )
                                                        else
                                                            "-"   
                                                        end%>
                                                    <% end %>
                                                </div>
                                            </div>                                        
                                        </div>                
                                    </div>
                                    <!--end::Container-->
                                </div>
                            </div>                  
                            <!--end::Card body-->
                        </div>
                        <!--end::Various Activity-->
                    </div>
                    <!--end::Tab Pane-->
                </div>																	
            </div>
            <!--end::Content-->
        </div>
        <!--end::Layout-->
    </div>
    <!--end::Container-->
</div>	
<%= hidden_field_tag(:student_id, student.id) %>