<section class="student-detail container-fluid h-50  d-flex flex-column align-items-center mt-2 pt-2">
    <div class="col-11 bg-white py-5 mt-4 shadow std-info-box mb-5">
        <div class="h3"> <%= t('welcome.student.section9.title') %><br><hr class="title-hr"></div> 
        <div class="d-md-block d-sm-block event-list">                  
            <table class="table table-responsive-md">
              <% if @welcome_event_list.present? %> 
                <tbody class="tab-border-color">
                     <% currentDate = Date.today %>
                        <% @welcome_event_list.each_with_index  do |event,index| %>
                        <tr>
                            <td class="text-break "><%= l event.event_start_date %>～<%= l event.event_end_date %></td>
                            <td class="text-break"><%= event.event_name %></td>
                            <td class="text-break"><%= event.venue %></td>               
                        </tr>
                     <% end %>
                </tbody>
            </table>
               <% else %>
                    <div class ="p-3 light-com-bg com-info-box d-flex align-items-center">
                        <span> <%= t('event.title.no_data_text') %></span>  
                        <div class="ml-auto"><i class="fas fa-briefcase icon-end com-font-color"></i> </div> 
                    </div>
                <% end %>
        </div>
        <div class="col-12 my-2 d-content d-md-none d-lg-none d-xl-none">
               
        </div>
       <div class="col-12 d-flex justify-content-center p-4">
            <%= paginate @welcome_event_list %>
        </div>
    </div>
</section>
<%= javascript_pack_tag 'common.js'%>