<p><%=  @receiver_name %><%= t('communication.title.surname') %></p>
<p><%= t('communication.title.mail_content_1') %></p>
<p><%=  t('communication.title.mail_content_2') %></p>
<p>URL : <%= link_to root_url,root_url %></p><br>
<p><%=  t('communication.title.mail_ending') %></p>