<div id="kt_content_container" class="d-flex flex-column-fluid align-items-start container-xxl">
  <!--begin::Post-->
  <div class="content flex-row-fluid" id="kt_content">
    <% if @join_event %>
      <div class="notice d-flex bg-light-warning rounded border-warning border border-dashed rounded-3 p-6 mb-9">
        <!--begin::Wrapper-->
        <div class="d-flex flex-stack flex-grow-1">
          <!--begin::Content-->
          <div class="fw-bold">
            <div class="fs-6 text-gray-800"><%= t("event.title.event_joint_cancel_notice") %></div>
          </div>
          <!--end::Content-->
        </div>
        <!--end::Wrapper-->
      </div>
    <% end %>
    <!--begin::Layout-->
    <div class="d-flex flex-column flex-lg-row">
      <!--begin::Content-->
      <div class="flex-lg-row-fluid me-lg-9 order-2 order-lg-1 mb-10 mb-lg-0"> 
        <!--begin::Post card-->
        <div class="card card-flush">
          <!--begin::Body-->
          <div class="card-body">
            <!--begin::Layout-->
            <div class="d-flex flex-column flex-xl-row">
              <!--begin::Content-->
              <div class="flex-lg-row-fluid">
                <!--begin::Event Category-->
                <div class="mb-8"> 
                  <% unless @event_details.category.nil?%>
                    <!--begin::Info-->
                    <div class="d-flex flex-wrap mb-6">
                      <% @event_details.category.each do |v| %>
                        <% if v != nil %>
                          <!--begin::Item-->
                          <div class="me-9 my-1">
                            <!--begin::Icon-->
                            <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->
                            <span class="svg-icon svg-icon-primary svg-icon-2 me-1">
                              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <rect x="2" y="2" width="9" height="9" rx="2" fill="black" />
                                <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="black" />
                                <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="black" />
                                <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="black" />
                              </svg>
                            </span>
                            <!--end::Svg Icon-->
                            <!--end::Icon-->
                            <!--begin::Label-->
                            <span class="fw-bolder text-gray-400"><%= t("event.category.#{Event.event_categories.key(v)}") %></span>
                            <!--end::Label-->
                          </div>
                          <!--end::Item-->
                        <% end %>
                      <% end %>
                      <!--begin::Item-->
                      <div class="d-flex me-5 mb-2">
                        <!--begin::Title-->
                        <% if @event_details.event_type == 1 %>
                          <span class="badge badge-warning"><%= t'search.event_organizer' %>: <%= t('welcome.privacy policy.top_page_link.text2') %></span>
                        <% elsif @event_details.event_type == 2 %>
                          <span class="badge badge-warning"><%= t'search.event_organizer' %>: <%=  t('partner.partners_tab') %></span>
                        <% elsif @event_details.event_type == 4 %>
                          <span class="badge badge-warning"><%= t'search.event_organizer' %>: <%=  t('partner.super_partners_tab') %></span>
                        <% else %>
                          <span class="badge badge-warning"><%= t'search.event_organizer' %>: <%=  t('Kodawari One') %></span>
                        <% end %>
                        <!--end::Title-->
                      </div>
                      <!--end::Item-->
                    </div>
                  <% end %> 
                  <!--end::Event Category-->
                  <div class="d-flex align-items-center flex-wrap mt-3">
                      <!--begin::Item-->
                      <div class="d-flex align-items-center flex-lg-fill me-5 mb-2">
                        <!--begin::Title-->
                        <div class="text-dark text-hover-primary fs-2 fw-bolder"><%= @event_details.event_name %></div>
                        <!--end::Title-->
                        <div class="d-flex flex-column text-dart-75 ms-5 <%= @event_details.status == '1' || @event_details.status == '2' || @event_details.status == '3' ? 'd-none' : '' %>">
                          <span class="badge font-weight-lighter fs-8 min-w-125px w-125px badge-light-danger"> <%=  t('event.title.recuirment_closed')  %> </span>
                        </div>
                      </div>
                      <!--end::Item-->
                  </div>
                  <!--begin::Container-->
                  <div class="mt-8">
                    <!--begin::Image-->
                    <% if @event_details.event_image.attached? %>
                      <div class="bgi-no-repeat bgi-position-center bgi-size-cover card-rounded min-h-350px" style="background-image: url(<%= url_for(@event_details.event_image) %>)"></div>
                    <% end %>
                    <!--end::Image-->
                  </div>
                  <!--end::Container-->
                </div> 
                <!--begin::Event details-->
                <div class="row"> 
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3">
                    <div class="text-dark text-hover-primary fs-6 fw-bolder"><%= t('event.title.event_date')  %></div>
                    <div class="d-flex flex-wrap my-3">
                      <!--begin::Due-->
                      <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
                        <div class="fs-6 text-gray-800 fw-bolder"><%= l @event_details.event_start_date %><span class="fs-8 text-primary ms-2"><%= t('date.day_names')[@event_details.event_start_date.wday] %></span></div>
                        <div class="fw-bold text-gray-400"><%=Event.human_attribute_name('event_start_date') %></div>
                      </div>
                      <!--end::Due-->
                      <!--begin::Budget-->
                      <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
                        <div class="fs-6 text-gray-800 fw-bolder"><%= l @event_details.event_end_date %><span class="fs-8 text-primary ms-2"><%= t('date.day_names')[@event_details.event_end_date.wday] %></span></div>
                        <div class="fw-bold text-gray-400"><%=Event.human_attribute_name('event_end_date') %></div>
                      </div>
                      <!--end::Budget-->
                    </div>
                  </div> 
                  <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 my-3">
                    <div class="text-dark text-hover-primary fs-6 fw-bolder"><%= t('event.title.application_period')  %></div>
                    <!--begin::Due-->
                    <div class="d-flex flex-wrap my-3">
                      <% if @event_details.application_start_date.present? %>
                        <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 me-7 mb-3">
                            <div class="fs-6 text-gray-800 fw-bolder"><%= l @event_details.application_start_date %><span class="fs-8 text-primary ms-2"><%= t('date.day_names')[@event_details.application_start_date.wday] %></div>
                            <div class="fw-bold text-gray-400"><%=Event.human_attribute_name('application_start_date') %></div>
                        </div>
                      <% end %>
                      <!--end::Due-->
                      <!--begin::Budget-->
                      <div class="border border-gray-300 border-dashed rounded min-w-125px py-3 px-4 mb-3">
                        <div class="fs-6 text-gray-800 fw-bolder"><%= l @event_details.application_deadline %><span class="fs-8 text-primary ms-2"><%= t('date.day_names')[@event_details.application_deadline.wday] %></div>
                        <div class="fw-bold text-gray-400"><%=Event.human_attribute_name('application_deadline') %></div>
                      </div>
                      <!--end::Budget-->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-2 col-lg-2 col-xl-2 my-3">
                    <div class="text-dark text-hover-primary fs-6 fw-bolder"><%=Event.human_attribute_name('apply_event_limit')  %></div>
                    <!--begin::Due-->
                    <div class="d-flex flex-wrap my-3">
                        <!--begin::Item-->
                        <div class="d-flex align-items-center flex-lg-fill me-5 mb-2">
                          <span class="me-4">
                            <i class="flaticon-users display-6 text-muted font-weight-bold"></i>
                          </span>
                          <div class="d-flex flex-column text-dart-75">
                            <span class="fw-bolder">
                                <%= number_with_delimiter(@event_details.apply_event_limit) %> <%= t('unit.persons') %>
                            </span>
                          </div>
                        </div>
                        <!--end::Item-->
                      <!--end::Due-->
                    </div>
                  </div> 
                  <div class="col-12 col-sm-12 col-md-10 col-lg-10 col-xl-10 my-3">
                    <div class="text-dark text-hover-primary fs-6 fw-bolder"><%=Event.human_attribute_name('venue')  %></div>
                    <!--begin::Due-->
                    <div class="d-flex flex-wrap my-3">
                      <!--begin::Item-->
                      <div class="d-flex align-items-center flex-lg-fill me-5 mb-2">
                        <span class="me-4">
                          <i class="flaticon2-location display-6 text-muted font-weight-bold"></i>
                        </span>
                        <div class="d-flex flex-column text-dart-75">
                            <span class="fw-bolder">
                                <%= @event_details.venue.present? ? @event_details.venue : t("event.venue_types.online") %> 
                            </span>
                        </div>
                      </div>
                      <!--end::Item-->
                      <!--end::Due-->
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-3">
                    <div class="text-dark text-hover-primary fs-6 fw-bolder"><%=Event.human_attribute_name('event_content')  %></div>
                    <div class="fs-5 fw-bold text-gray-600">
                      <p><%= @event_details.event_content %></p>
                    </div>
                  </div>
                </div> 
              </div>
              <!--end::Content-->
            </div>
            <!--end::Layout-->
          </div>
          <!--end::Body-->
        </div>
        <!--end::Post card-->
      </div>
      <!--end::Content--> 
      <!--begin::Aside-->
      <div class="flex-column flex-lg-row-auto w-lg-250px w-xl-300px mb-10 order-1 order-lg-2 <%= 'd-none' if @event_details.status == '4' %>" >
        <!--begin::Profile Card-->
        <div class="card card-flush d-flex flex-column" data-kt-sticky="true" data-kt-sticky-name="user_action" data-kt-sticky-offset="{default: false, lg: '200px'}" data-kt-sticky-width="{lg: '250px', xl: '300px'}" data-kt-sticky-left="auto" data-kt-sticky-top="100px" data-kt-sticky-animation="false" data-kt-sticky-zindex="95">
          <div class="card-body fs-6">
              <div class="d-flex flex-column">
                  <div id="favourite_event" class="btn btn-light-danger pulse pulse-danger mb-5 <%= @fav_event ? 'active' : 'inactive' %> <%= @event_details.status == '4' ? 'd-none' : '' %>">
                      <i class="fas fa-heart mr-5"></i><span class='label mx-5'><%= @fav_event ? t("btn.fav-cancel-text") : t("btn.fav-text") %></span>
                  </div>                       
              </div>
              <!--begin::Seperator-->
              <div class="separator separator-dashed mb-5"></div>
              <!--end::Seperator-->
                
              <% checkUser = check_join_event_is_current_user_or_not(@event_details.id,@event_details.application_start_date,@event_details.application_deadline,@apply_favourite_transictions) %>
              
              <div class="d-flex flex-column <%= 'cursor-not-allowed' if @join_event %>">
                <% if @event_details.event_type === 1%>
                    <div id="join_event" class="btn mb-5 <%= @event_details.status == '2' || (checkUser == true && @event_details.status != '4' ) ? "": "d-none" %> <%= @join_event ? 'btn-secondary pe-none' : 'btn-light-primary' %>">
                        <i class="fas fa-bookmark"></i><span class='label mx-5'><%= @join_event ? t("btn.joined-text") : t("btn.join-text") %></span>
                    </div> 
                <% else %>
                    <div id="join_event" class="btn mb-5 <%= check_admin_event_details(@event_details, @admin_event_joined) ? "": "d-none" %> <%= @join_event ? 'btn-secondary pe-none' : 'btn-light-primary' %>">
                        <i class="fas fa-bookmark"></i><span class='label mx-5'><%= @join_event ? t("btn.joined-text") : t("btn.join-text") %></span>
                    </div> 
                <% end %>
              </div>
          </div>
        </div>
        <!--end::Profile Card-->
      </div>
      <!--end::Aside-->
    </div>   
  </div>  
</div>    
<%= hidden_field_tag(:event_id, @event_details.id) %>
<%= javascript_pack_tag "student/students.js" %>