<div class="card h-md-550px h-sm-575px h-575px  mb-5 mb-xxl-10 <%= current_admin ? 'bg-body' : '' %>">
    <div class="card-header align-items-center border-0 p-5 p-xl-9 p-lg-9">
        <!--begin::Title-->
        <h3 class="fw-bolder text-gray-900 m-0"><%= t('common.favourite_users')%></h3>
        <!--end::Title-->
    </div>
    <div class="card-body pt-0 p-5 px-xl-9 px-lg-9">
        <ul class="nav nav-pills nav-pills-custom mb-3">
            <!--begin::Item-->
            <li class="nav-item mb-3 me-3 me-lg-6">
                <!--begin::Link-->
                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-90px h-85px py-4 active" data-bs-toggle="pill" href="#fav_tab_company">
                <!--begin::Icon-->
                <div class="nav-icon">
                    <%= image_tag "student/office-building.png", class: "w-30px" %>
                </div>
                <!--end::Icon-->
                <!--begin::Subtitle-->
                <span class="nav-text text-gray-700 fw-bolder fs-6 lh-1"><%= t('welcome.privacy policy.top_page_link.text2')%></span>
                <!--end::Subtitle-->
                <!--begin::Bullet-->
                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="nav-item mb-3 me-3 me-lg-6">
                <!--begin::Link-->
                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-90px h-85px py-4" data-bs-toggle="pill" href="#fav_tab_job">
                <!--begin::Icon-->
                <div class="nav-icon">
                    <%= image_tag "student/application.png", class: "w-30px" %>
                </div>
                <!--end::Icon-->
                <!--begin::Subtitle-->
                <span class="nav-text text-gray-700 fw-bolder fs-6 lh-1"><%= t('common.jobs')%></span>
                <!--end::Subtitle-->
                <!--begin::Bullet-->
                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
            <!--begin::Item-->
            <li class="nav-item mb-3 me-3 me-lg-6">
                <!--begin::Link-->
                <a class="nav-link d-flex justify-content-between flex-column flex-center overflow-hidden w-90px h-85px py-4" data-bs-toggle="pill" href="#fav_tab_event">
                <!--begin::Icon-->
                <div class="nav-icon">
                    <%= image_tag "student/calendar.png", class: "w-30px" %>
                </div>
                <!--end::Icon-->
                <!--begin::Subtitle-->
                <span class="nav-text text-gray-600 fw-bolder fs-6 lh-1"><%= t('dashboard.main_event_nav') %></span>
                <!--end::Subtitle-->
                <!--begin::Bullet-->
                <span class="bullet-custom position-absolute bottom-0 w-100 h-4px bg-primary"></span>
                <!--end::Bullet-->
                </a>
                <!--end::Link-->
            </li>
            <!--end::Item-->
        </ul>	
        <div class="tab-content">
            <!--begin::Tap pane-->
            <div class="tab-pane fade active show" id="fav_tab_company">
                <% if fav_companies.present? %>
                    <div class="d-flex justify-content-end">
                    <% if can?(:favourite_company_list, Kodawarione::StudentManage)%>
                        <% if fav_companies.size > 3 %>
                            <!--begin::Filter-->
                            <%= link_to "#{current_admin ? kodawarione_student_manage_favourite_company_list_path : student_favourite_company_index_path}", class: "btn btn-sm btn-primary mb-3" do %>
                                <%=  t ('btn.view_all_list') %>
                            <% end %>
                            <!--end::Filter-->
                        <% end %>            
                    <% end %>     
                    </div> 
                    <!--begin::Table container-->
                    <div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <!--begin::Table-->
                        <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                            <th class="ps-0 w-50px"><%= Company::Company.human_attribute_name('company_name') %></th>
                            <th class="min-w-125px"></th>
                            <th class=""><%= Company::Company.human_attribute_name('m_industry_id') %></th>
                            <th class="pe-0  text-end"><%= Company::Company.human_attribute_name('postalcode_city') %></th>
                            <th class="pe-0  text-end"><%= Company::Company.human_attribute_name('employee_count') %></th>
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                            <% fav_companies.each do |company| %>
                            <tr>
                                <td>
                                <% if company.image.attached? %>
                                    <%= image_tag (company.image), class: "rounded w-30px" %>
                                <% else %>
                                    <%= image_tag "student/office-building.png", class: "w-30px" %>
                                <% end %>
                                </td>
                                <td class="ps-0 min-w-125px w-sm-250px w-md-300px w-lg-350px w-xl-175px">
                                <div class=" w-sm-250px w-md-300px w-lg-350px w-xl-175px text-truncate">
                                    <%= link_to "#{current_admin ? kodawarione_company_manage_company_details_overview_path(company_id: company.id) : company_page_home_path(id: company.id)}",  class: "text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start  text-truncate pe-0" do %><%= company.company_name %><% end %>
                                    <span class="text-muted fw-bold fs-8 d-block text-start ps-0"><%= company.company_name_kana %></span>
                                </div>
                                </td>
                                <td class=" w-xl-125px">
                                    <span class="text-muted fw-bolder d-block fs-6 ps-0"><%= get_industry_name_by_ID(company.m_industry_id) %></span>
                                </td>
                                <td class="text-end <%= current_admin ? 'w-md-100px' : ' ' %> pe-0">
                                    <span class="text-muted fw-bolder d-block fs-6"><%= company.postalcode_city %></span>
                                </td>
                                <td class="text-end pe-0 w-md-100px">
                                    <span class="text-muted fw-bolder d-block fs-6"><%= number_with_delimiter(company.employee_count) %> <%= t('unit.persons') %></span>
                                </td>
                            </tr>
                            <% end %>
                        </tbody>
                        <!--end::Table body-->
                        </table>
                    </div>
                    <!--begin::Favourite Company Mobile-->
                    <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <% fav_companies.each do |company| %>
                            <div class="col-xxl-4">
                                <%= link_to "#{current_admin ? kodawarione_company_manage_company_details_overview_path(company_id: company.id) : company_page_home_path(id: company.id) }" do %>
                                    <div class="card border border-primary border-4 border-top-0 border-end-0 border-bottom-0 border-start card-custom mb-3 <%= current_admin ? 'bg-body' : 'bg-light' %>">
                                        <div class="card-body p-4">
                                            <div class='row'>
                                                <div class="d-flex align-items-center">
                                                    <!--begin:: Avatar -->
                                                    <div class="symbol symbol-40px overflow-hidden ms-2 me-5">
                                                        <% if company.image.attached? %>
                                                        <%= image_tag (company.image) %>
                                                        <% else %>
                                                        <%= image_tag "student/office-building.png" %>
                                                        <% end %>
                                                    </div>
                                                    <!--end::Avatar-->
                                                    <!--begin::User details-->
                                                    <div class="d-flex flex-column">
                                                        <span class="text-gray-500 fw-bold fs-8"><%= get_industry_name_by_ID(company.m_industry_id) %></span>
                                                        <span class="text-gray-800 fw-bolder fs-5 pe-1" >
                                                            <%= company.company_name %>
                                                        </span> 
                                                        <div class="d-flex flex-wrap">
                                                            <!--begin::Text-->
                                                            <span class="fw-bolder text-dark fs-7 me-2"><i class="fas fa-users me-1 text-primary"></i>  <%= Company::Company.human_attribute_name('employee_count') %> : </span>
                                                            <span class="fw-bold text-gray-600 fs-7"><%= company.employee_count %><%= t('unit.persons') %></span>
                                                            <!--end::Text-->                                 
                                                        </div>
                                                    </div>
                                                    <!--end::User details-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <!--end::Favourite Company Mobile-->
                    <!--end::Table-->
                <% else %>
                    <!--begin::Wrapper-->
                    <div class="text-center py-2 my-10">
                        <!--begin::Description-->
                        <p class="text-gray-400 fs-7 fw-bold mb-5"><%= t ('dashboard.notice.text14') %>
                            <% unless current_admin %>
                                （<i class="fas fa-heart text-danger icon-mid mx-2"></i>）<%= t ('dashboard.notice.text15') %>
                            <% end %>
                        </p>
                        <!--end::Description-->
                        <!--begin::Action-->
                        <% unless current_admin %>
                            <%= link_to student_companies_search_path, class: "btn btn-primary" do %>
                                <%= t ('btn.fav-text') %>
                            <% end %>    
                        <% end %>            
                        <!--end::Action-->
                    </div>
                    <!--end::Wrapper-->
                <% end %>
            </div>
            <!--end::Tap pane-->
            <!--begin::Tap pane-->
            <div class="tab-pane fade" id="fav_tab_job">
                <% if fav_vacancies.present? %>
                    <div class="d-flex justify-content-end">
                    <% if can?(:favourite_vacancy_list, Kodawarione::StudentManage)%>
                        <% if fav_vacancies.size > 3 %>                                                
                            <!--begin::Filter-->
                            <%= link_to "#{current_admin ? kodawarione_student_manage_favourite_vacancy_list_path : student_favourite_vacancy_index_path}", class: "btn btn-sm btn-primary mb-3" do %>
                                <%=  t ('btn.view_all_list') %>
                            <% end %>
                            <!--end::Filter-->                            
                        <% end %>            
                    <% end %>
                    </div>     
                    <!--begin::Table container-->
                    <div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <!--begin::Table-->
                        <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                        <!--begin::Table head-->
                        <thead>
                            <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                <% if current_admin %>
                                    <th class="ps-4 min-w-140px rounded-start"><%= Company::Vacancy.human_attribute_name('vacancy_title') %></th>
                                    <th class="text-end min-w-140px"><%= t('title.target_city') %></th>
                                    <th class="pe-0 text-end min-w-120px"><%= Company::Vacancy.human_attribute_name('required_applicants')%></th>
                                    <th class="rounded-end"></th>                                    
                                <% else %> 
                                    <th class="min-w-140px"><%= Company::Vacancy.human_attribute_name('vacancy_title') %></th>
                                    <th class="text-end min-w-140px"><%= t('title.target_city') %></th>
                                    <th class="pe-0 text-end min-w-120px"><%= Company::Vacancy.human_attribute_name('required_applicants')%></th>
                                <% end %>  
                            </tr>
                        </thead>
                        <!--end::Table head-->
                        <!--begin::Table body-->
                        <tbody>
                            <% fav_vacancies.each do |vacancy| %>
                                <% if current_admin %>
                                    <tr>
                                        <td class="ps-0 min-w-150px w-sm-200px w-md-350px w-lg-450px w-xl-600px">
                                        <div class="d-flex align-items-center">
                                            <%= image_tag "student/application.png", class: "w-30px me-5" %>
                                            <div class=" w-sm-200px w-md-350px w-lg-450px w-xl-600px text-truncate">
                                            <%= link_to "#{current_admin ? kodawarione_vacancy_manage_search_vacancy_detail_path(vacancy) : student_vacancy_details_path(vacancy)}", class: "text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0" do %><%= vacancy.vacancy_title %><% end %>
                                            <span class="text-gray-400 fw-bold fs-8 d-block text-start ps-0"><%= get_industry_name_by_ID(vacancy.recruit_industry_type) %></span>
                                            </div>
                                        </div>
                                        </td>
                                        <td class=" w-sm-75px w-md-100px w-lg-175px w-xl-100px">
                                        <span class="text-muted fw-bolder d-block w-sm-75px w-md-100px w-lg-175px w-xl-100px fs-6 ps-0 text-end text-truncate"><%= get_prefecture_name(vacancy.m_prefecture_id) %></span>
                                        </td>
                                        <td class="text-end pe-0">
                                        <span class="text-muted fw-bolder d-block fs-6"><%= number_with_delimiter(vacancy.required_applicants) %> <%= t('unit.persons') %></span>
                                        </td>
                                        <td class="pe-0 text-end">                              
                                        </td>
                                    </tr>
                                <% else %>
                                    <tr>
                                        <td class="ps-0 min-w-150px w-sm-250px w-md-350px w-lg-450px w-xl-200px">
                                        <div class="d-flex align-items-center">
                                            <%= image_tag "student/application.png", class: "w-30px me-5" %>
                                            <div class=" w-sm-250px w-md-350px w-lg-450px w-xl-200px text-truncate">
                                                <%= link_to "#{current_admin ? kodawarione_vacancy_manage_search_vacancy_detail_path(vacancy) : student_vacancy_details_path(vacancy)}", class: "text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0" do %>                                 
                                                    <%= vacancy.vacancy_title %>
                                                <% end %>
                                                <span class="text-muted fw-bold fs-8 d-block text-start ps-0"><%= vacancy.industry_name %></span>
                                            </div>
                                        </div>
                                        </td>
                                        <td class=" w-sm-75px w-md-100px w-lg-175px w-xl-100px">
                                            <span class="text-muted fw-bolder d-block w-sm-75px w-md-100px w-lg-175px w-xl-100px fs-6 ps-0 text-end text-truncate"><%= vacancy.postalcode_city %></span>
                                        </td>
                                        <td class="text-end pe-0">
                                            <span class="text-muted fw-bolder d-block fs-6"><%= number_with_delimiter(vacancy.required_applicants) %> <%= t('unit.persons') %></span>
                                        </td>
                                    </tr>
                                <% end %>
                            <% end %>
                        </tbody>
                        <!--end::Table body-->
                        </table>
                    </div>
                    <!--end::Table-->
                    <!--begin::Mobile View-->
                    <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none mt-3">
                        <% fav_vacancies.each do |vacancy| %>
                            <%= link_to "#{current_admin ? kodawarione_vacancy_manage_search_vacancy_detail_path(vacancy) : student_vacancy_details_path(vacancy)}", class: "text-decoration-none text-dark" do %>                                 
                                <div class="card border border-primary border-4 border-top-0 border-end-0 border-bottom-0 border-start card-custom gutter-b mb-3 <%= current_admin ? 'bg-body' : 'bg-light ' %>">
                                    <!--begin::Body-->
                                    <div class="card-body p-4">
                                        <div class="d-flex align-items-center">
                                            <div class="symbol symbol-50px me-2 ms-n3">
                                                <span class="symbol-label">
                                                <%= image_tag "student/application.png", class: "h-50 align-self-center" %>
                                                </span>
                                            </div>
                                            <div>
                                                <div class="d-flex justify-content-between">
                                                    <div>
                                                        <span class="text-gray-400 text-truncate fs-8 fw-bolder me-2 d-block lh-1 pb-1"><%= get_industry_name_by_ID(vacancy.recruit_industry_type) %></span>
                                                        <span class="text-gray-800 fs-5 fw-bolder"><%= vacancy.vacancy_title %></span>
                                                    </div>
                                                </div>                                        
                                                <div class="d-flex flex-wrap">
                                                    <!--begin::Text-->
                                                    <span class="fw-bolder fs-6 me-2"><i class="fas fa-users me-1 text-primary"></i> <%= number_with_delimiter(vacancy.required_applicants) %><%= t('unit.persons') %> -</span>
                                                    <span class="fw-bold text-gray-600 fs-7"><i class="flaticon2-pin me-1 text-primary"></i> <%= vacancy.postalcode_city %></span>
                                                    <!--end::Text-->                                 
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--end::Body-->    
                                </div>
                            <% end %>
                        <% end %>
                    </div>
                    <!--end::Mobile View-->
                <% else %>
                    <!--begin::Wrapper-->
                    <div class="text-center py-2 my-10">
                        <!--begin::Description-->
                        <p class="text-gray-400 fs-7 fw-bold mb-5">
                            <%= t ('dashboard.notice.student_vacancy_list_text') %>
                            <% unless current_admin %>
                            （<i class="fas fa-heart text-danger icon-mid mx-2"></i>）<%= t ('dashboard.notice.text15') %>
                            <% end %>
                        </p>
                        <!--end::Description-->
                        <!--begin::Action-->
                        <% unless current_admin %>
                            <%= link_to student_vacancy_search_path, class: "btn btn-primary" do %><%= t ('btn.fav-text') %><% end %>
                        <% end %>
                        <!--end::Action-->
                    </div>
                    <!--end::Wrapper-->
                <% end %>
            </div>
            <!--end::Tap pane-->
            <!--begin::Tap pane-->
            <div class="tab-pane fade" id="fav_tab_event">
                <% if fav_events.present? %>
                    <div class="d-flex justify-content-end">
                    <% if can?(:favourite_event_list, Kodawarione::StudentManage)%>
                        <% if fav_events.size > 3 %>
                                <!--begin::Filter-->
                                <%= link_to "#{current_admin ? kodawarione_student_manage_favourite_event_list_path : student_favourite_event_index_path}", class: "btn btn-sm btn-primary mb-3" do %>
                                    <%=  t ('btn.view_all_list') %>
                                <% end %>
                                <!--end::Filter-->
                        <% end %>            
                    <% end %>    
                    </div>  
                    <!--begin::Table container-->
                    <div class="table-responsive d-none d-sm-none d-md-block d-lg-block d-xl-block">
                        <!--begin::Table-->
                        <table class="table table-row-dashed align-middle gs-0 gy-4 my-0">
                            <!--begin::Table head-->
                            <thead>
                                <tr class="fs-7 fw-bolder text-gray-500 border-bottom-0">
                                <th class="min-w-125px"><%= Event.human_attribute_name('event_name') %></th>
                                <th class="pe-0 text-center min-w-50px"><%= Event.human_attribute_name('applicants_count') %></th>
                                <th class="text-end min-w-125px"><%= t('event.title.event_date') %></th>
                                </tr>
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody>
                                <% fav_events.each do |event| %>
                                    <tr>                     
                                        <td class="ps-0 min-w-125px w-sm-250px w-md-450px w-lg-500px w-xl-250px">
                                            <div class="d-flex align-items-center">
                                                <%= image_tag "student/calendar.png", class: "w-30px me-5" %>
                                                <div class=" w-sm-250px w-md-450px w-lg-500px w-xl-250px text-truncate">
                                                    <%= link_to "#{current_admin ? kodawarione_event_manage_search_event_detail_path(event) : student_event_details_path(event)}", class: "text-gray-800 fw-bolder text-hover-primary mb-1 fs-6 text-start pe-0" do %><%= event.event_name %><% end %>
                                                    <span class="d-block text-start">
                                                        <% if event.event_type == 1 %>
                                                        <span class="text-muted fw-bold fs-8 text-truncate"><%= t('welcome.privacy policy.top_page_link.text2') %></span>
                                                        <% elsif event.event_type == 2 %>
                                                        <span class="text-muted fw-bold fs-8 text-truncate"><%=  t('partner.partners_tab') %></span>
                                                        <% else %>
                                                        <span class="text-muted fw-bold fs-8 text-truncate"><%=  t('Kodawari One') %></span>
                                                        <% end %>
                                                    </span>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="text-center pe-0  w-sm-100px w-md-125px w-lg-75px w-xl-75px">
                                            <span class="text-muted fw-bolder d-block fs-6"><%= event.apply_event_limit %> <%= t('unit.persons') %></span>
                                        </td>
                                        <td class="">
                                            <div class="d-flex justify-content-end align-items-center">
                                                <div class="symbol symbol-40px me-1">
                                                <div class="d-flex flex-column justify-content-center text-dark symbol-label">
                                                    <span class="fs-9 fw-bolder"><%= t('date.abbr_month_names')[event.event_start_date.month] %></span>
                                                    <span class="fs-7 fw-bolder"><%= event.event_start_date.strftime('%d') %><%= t('date.prompts.day') %></span>
                                                </div>
                                                </div>
                                                ~
                                                <div class="symbol symbol-40px ms-1">
                                                <div class="d-flex flex-column justify-content-center text-dark symbol-label">
                                                    <span class="fs-9 fw-bolder"><%= t('date.abbr_month_names')[event.event_end_date.month] %></span>
                                                    <span class="fs-7 fw-bolder"><%= event.event_end_date.strftime('%d') %><%= t('date.prompts.day') %></span>
                                                </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                            <!--end::Table body-->
                        </table>
                    </div>
                    <!--begin::Favourite Event Mobile-->
                    <!--begin::Body-->
                    <div class="d-block d-sm-block d-md-none d-lg-none d-xl-none">
                        <% fav_events.each do |event| %>
                            <div class="col-xxl-4">
                                <%= link_to "#{current_admin ? kodawarione_event_manage_search_event_detail_path(event) : student_event_details_path(event)}" do %>
                                    <div class="card border border-primary border-4 border-top-0 border-end-0 border-bottom-0 border-start card-custom mb-3 <%= current_admin ? 'bg-body' : 'bg-light' %>">
                                        <div class="card-body p-4">
                                            <div class='row'>
                                                <div class="d-flex align-items-center">
                                                <!--begin:: Avatar -->
                                                <div class="symbol symbol-40px overflow-hidden me-3">
                                                    <div class="d-flex flex-column justify-content-center text-dark symbol-label bg-primary bg-opacity-75">
                                                    <span class="fs-7 text-white"><%= t('date.abbr_month_names')[event.event_start_date.month] %></span>
                                                    <span class="fs-5 text-white fw-bolder"><%= event.event_start_date.strftime('%d') %><%= t('date.prompts.day') %></span>
                                                    </div>
                                                </div>
                                                <!--end::Avatar-->
                                                <!--begin::User details-->
                                                <div class="d-flex flex-column min-w-100px w-100">
                                                    <span class="text-truncate text-gray-500 fw-bold fs-8"><i class="flaticon2-pin me-1 text-primary"></i> <%= event.venue  %></span>
                                                    <span class="text-gray-800 fw-bolder fs-5 text-truncate pe-1" >
                                                    <%= event.event_name  %>
                                                    </span>                                 
                                                    <div class="d-flex flex-wrap">
                                                    <!--begin::Text-->
                                                    <span class="fw-bolder text-dark fs-6 me-2"><i class="fas fa-users me-1 text-primary"></i> <%= Event.human_attribute_name('apply_event_limit') %> : </span>
                                                    <span class="fw-bold text-gray-600 fs-7"><%= event.apply_event_limit %><%= t('unit.persons') %></span>
                                                    <!--end::Text-->                                 
                                                    </div>
                                                </div>
                                                <!--end::User details-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                        <% end %>
                    </div>
                    <!--end::Body-->
                    <!--end::Favourite Event Mobile-->
                    <!--end::Table-->
                <% else %>
                    <!--begin::Wrapper-->
                    <div class="text-center py-2 my-10">
                        <!--begin::Description-->
                        <p class="text-gray-400 fs-7 fw-bold mb-5">
                            <%= t ('dashboard.notice.student_text16') %>
                            <% unless current_admin %>
                            （<i class="fas fa-heart text-danger icon-mid mx-2"></i><%= t ('dashboard.notice.text13') %>
                            <% end %>
                        </p>
                        <!--end::Description-->
                        <!--begin::Action-->
                        <% unless current_admin %>
                            <%= link_to student_search_event_path, class: "btn btn-primary" do %>
                                <%= t ('btn.fav-text') %>
                            <% end %>
                        <% end %>
                        <!--end::Action-->
                    </div>
                    <!--end::Wrapper-->
                <% end %>
            </div>
            <!--end::Tap pane-->
        </div>	
    </div>
</div>
    